<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>

<div class="row" style="height: 80vh"> 
    <ag-grid-angular style="width: 100%; height: calc(100%);" class="ag-theme-balham" multiSortKey="ctrl"
        [rowData]="packageData | async" [enableCellChangeFlash]="true" [enableBrowserTooltips]="true"
        [pagination]="false" [singleClickEdit]="true" [columnDefs]="colDef" [defaultColDef]="defaultColDef"
        (gridReady)="onGridReady($event)" (cellClicked)="gridCellClicked($event)">
    </ag-grid-angular>
</div>

<!-- 
<div id="accounts-list-component"> 
    <table id="accounts-list-table" class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr style="cursor: pointer;">
 
            <th *ngIf="isForAssociate"> </th>
            <th (click)="sort('Company')">
                Company
                <div class="pull-right">
                    <span *ngIf="key !='Company'" class="fa fa-sort fa-lg"></span>
                    <span *ngIf="key =='Company'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                </div>
            </th>
            <th (click)="sort('EmailAddress')">Email Address
                <div class="pull-right">
                    <span *ngIf="key !='EmailAddress'" class="fa fa-sort fa-lg"></span>
                    <span *ngIf="key =='EmailAddress'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                </div>
            </th>
            <th (click)="sort('ContactName')">Contact Name
                <div class="pull-right">
                    <span *ngIf="key !='ContactName'" class="fa fa-sort fa-lg"></span>
                    <span *ngIf="key =='ContactName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                </div>
            </th>
            <th (click)="sort('ContactNumber')">Contact #
                <div class="pull-right">
                    <span *ngIf="key !='ContactNumber'" class="fa fa-sort fa-lg"></span>
                    <span *ngIf="key =='ContactNumber'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                </div>
            </th>
            <th (click)="sort('FullAddress')">Full Address
                <div class="pull-right">
                    <span *ngIf="key !='FullAddress'" class="fa fa-sort fa-lg"></span>
                    <span *ngIf="key =='FullAddress'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                </div>
            </th>
            <th *ngIf="canEdit" style="text-align:center">Actions</th>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor="let item of packageData | async | orderBy: key : reverse" style="cursor:pointer">
                <td *ngIf="isForAssociate"><input type="checkbox" value="{{ item.Id }}" (click)="checkAccountAssoc($event.target)" [checked]="item.IsAssociated" /></td>
                <td (click)="editAccount(item.Id)"> {{ item.Company }}</td>
                <td (click)="editAccount(item.Id)"> {{ item.EmailAddress }}</td>
                <td (click)="editAccount(item.Id)"> {{ item.ContactName }}</td>
                <td (click)="editAccount(item.Id)"> {{ item.ContactNumber }}</td>
                <td (click)="editAccount(item.Id)"> {{ item.FullAddress }}</td>
                <td *ngIf="canEdit" class="center">
                    <a (click)="editAccount(item.Id)"><i style="color:#ffc107" class="fa fa-pencil"></i></a> &nbsp;
                    
                </td>
            </tr> 
        </tbody>
    </table>
</div> -->