<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div class="accounts-edit">
    <div class="col-md-12">
            <div class="row">
                <button *ngIf="isToggled()" class="navbar-toggler" type="button" (click)="toggleSidebar()">
                    <i class="fa fa-2x fa-chevron-circle-right" style="color:#000" aria-hidden="true"></i>
                </button>
                <div *ngIf="isAdmin || isAccountEditMode"  class="card mb-3 px-0 col-sm-12">
                    
                    <div class="card-header">
                        View / Edit Account
                        <div class="pull-right">
                                <button [disabled]="EmailAddress.invalid" *ngIf="isSuperAdmin || isAdmin" type="button" class="btn btn-xs btn-success rounded-btn" (click)="saveChanges()"><i class="fa fa-check-circle fa-lg"></i> Save &nbsp;</button>&nbsp;
                                <button [hidden]="!isSuperAdmin" type="button" class="btn btn-xs btn-danger rounded-btn" (click)="confirmDelete(content)"><i class="fa fa-trash fa-lg"></i> Delete &nbsp;</button>&nbsp;
                                <!-- <a *ngIf="isSuperAdmin" class="btn btn-xs btn-secondary rounded-btn" [routerLink]="['/accounts']"><i class="fa fa-chevron-circle-left fa-lg"></i> Cancel &nbsp;</a>&nbsp; -->

                                <a  *ngIf="isSuperAdmin" [routerLink]="['/accounts']" class="pr-3 close-button">
                                        <i class="fa fa-times-circle default"></i>
                                </a>   
                        </div>
                    </div>
                    <div class="card-body flex">
                        <div class="col-sm-6 form-content">
                            <div class="form-group mb-1">
                                <span class="form-span-label">Company</span>
                                <input autofocus tabindex="1" type="text" required (change)="changeCompany()" #Company="ngModel" [(ngModel)]="model.Company" 
                                class="form-control input-underline input-sm" id="company-name" placeholder="Company">
                                <div *ngIf="Company.invalid && (Company.dirty || Company.touched) || isDuplicate" class="alert alert-danger pad-y-5 mt-2">
                                    <div *ngIf="Company.errors.required">Company is required.</div>
                                    <div *ngIf="isDuplicate">Company Name / Account Name is duplicate. Try another name.</div>
                                </div>
                            </div>
                            <div [hidden]="true" class="form-group mb-1">
                                <span class="form-span-label">Account Name</span>
                                <input type="text" [disabled]="true" [(ngModel)]="model.Name" class="form-control input-underline input-sm" id="account-name" placeholder="Name">
                            </div>
                            <div class="form-group mb-1">
                                <span class="form-span-label">Email Address</span>
                                <input tabindex="3" type="text" required email [(ngModel)]="model.EmailAddress" id="email-address"  #EmailAddress="ngModel" 
                                class="form-control input-underline input-sm" id="" placeholder="Email">
                                <div *ngIf="EmailAddress.invalid && (EmailAddress.dirty || EmailAddress.touched)" class="alert alert-danger pad-y-5 mt-2">
                                    <div *ngIf="EmailAddress.errors.required">Email Address is required.</div>
                                    <div *ngIf="EmailAddress.errors.email">Email Address wrong pattern.</div>
                                </div>
                            </div>
                            <div class="form-group mb-1">
                                <span class="form-span-label">Full Address</span>
                                <input  tabindex="5" type="text" [(ngModel)]="model.FullAddress" class="form-control input-underline input-sm" id="full-address" placeholder="Full Address">
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Logo <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Suggested file dimensions: 50x50"></i></span>
                                <img *ngIf="mode == 'create'" [src]="defaultImageSrc" style="height: 150px;border: 1px solid #ddd;cursor: pointer"/>
                                <img *ngIf="model.MainPhotoByteString == undefined && mode == 'edit'" [src]="getImage(model.AccountLogoURL)" style="height: 150px;border: 1px solid #ddd;cursor: pointer"/>
                                <img *ngIf="model.MainPhotoByteString != undefined && mode == 'edit'" [src]="model.MainPhotoByteString" style="height: 150px;border: 1px solid #ddd;cursor: pointer"/>
                               
                                <input style="width: 250px;" class="input-sm" #fileUpload type="file" (change)="fileChange($event)"
                                placeholder="Upload file..." accept=".png, .jpg, .jpeg" />
                            </div>
                            <div class="form-group pt-3"> 
                                <input  type="checkbox" [(ngModel)]="model.IsTestAccount"  class="form-check-input" id="IsTestAccount">
                                <label style="cursor:pointer;font-weight: normal" class="pl-4 form-check-label" for="IsTestAccount">Test Account?</label>
                            </div>
                        </div>
                        <div class="col-sm-6 form-content">
                            <div class="form-group mb-1">
                                <span class="form-span-label">Contact Name</span>
                                <input  tabindex="2" type="text" [(ngModel)]="model.ContactName" class="form-control input-underline input-sm" id="contact-name" placeholder="Contact Name">
                            </div>
                            <div class="form-group mb-1">
                                <span class="form-span-label">Contact #</span>
                                <input tabindex="4" type="text" [(ngModel)]="model.ContactNumber" class="form-control input-underline input-sm" id="contact-number" placeholder="Contact #">
                            </div>
                            <div class="form-group mb-1">
                                <span class="form-span-label">Full Details</span>
                                <textarea  tabindex="6" type="text" [(ngModel)]="model.Details" class="form-control input-underline input-sm" id="full-details" placeholder="Details"></textarea>
                            </div>
                            <div class="form-group mb-1">
                                <span class="form-span-label">Sent copy to these addresses during checkout email Addresses (johndoe@gmail.com;janedoe@gmail.com)</span>
                                <textarea tabindex="7" type="text" [(ngModel)]="model.EmailCheckoutCCs" class="form-control input-underline input-sm" id="full-details" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="true" class="row">
                <div class="card mb-3">
                    <div class="card-header">
                        Associated Accounts
                    </div>
                    <div class="card-body">
                        <div class="card-body table-responsive">
                            <app-accounts-list #accountsList></app-accounts-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 pl-0">
                    <div class="card mb-3">
                        <div class="card-header">
                            Users
                            <div *ngIf="isSuperAdmin || isAdmin" class="pull-right">
                                <a (click)="createUser(userCreateEditContent)"><i class="fa fa-plus-square primary"></i> Add New User</a>&nbsp;
                                <span><i class="fa fa-users fa-lg primary"></i></span>
                            </div>
                        </div>
                        <!-- <div class="card-body pt-0 mt-0">
                            <div class="clearfix pr-2 pl-2 pb-1 shadow-border">
                                <div class="form-group">
                                    <div class="pull-right">
                                        <div class="form-group">
                                            <span class="form-span-label">&nbsp;</span>
                                            <div class="form-line">
                                                <input type="search" class="form-control input-sm" placeholder="Search" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="card-body" style="max-height: 600px; overflow-y: scroll">
                            <app-users-list #usersList (editUserView)="editUser(userCreateEditContent,$event)"></app-users-list>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pr-0">
                    <div class="card mb-3">
                        <div class="card-header">
                            Locations
                            <div class="pull-right">
                                <span><i class="fa fa-map-marker fa-lg danger"></i></span>
                            </div>
                        </div>
                         <app-locations-list #locationLevels (editLocationView)="editLocation($event)"></app-locations-list>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Product Conditions
                            <div class="pull-right">
                                <span><i class="primary"><img src="/assets/images/product-condition.png" style="width: 23px; height: 25px;"/></i></span>
                            </div>
                        </div>
                         <app-account-product-condition-list #productConditions></app-account-product-condition-list>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Tags
                            <div class="pull-right">
                                <span><i class="primary"><img src="/assets/images/product-condition.png" style="width: 23px; height: 25px;"/></i></span>
                            </div>
                        </div>
                         <app-tags-list #productConditions></app-tags-list>
                    </div>
                </div>
            </div>
    </div>
</div>
<ng-template #content let-c="close" let-c="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center ">
        <h4 class="modal-title" style="font-size:16px;">Confirmation</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="c('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this account?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="delete();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>

<ng-template #userCreateEditContent let-e="close" let-e="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">{{ userCreateEditTitle }}</h4>
         <a type="button" class="close close-button" aria-label="Close" (click)="e('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="form-content">
                <div class="form-group mb-1">
                    <span class="form-span-label">Role</span>
                    <select class="form-control input-sm input-underline" [(ngModel)]="userModel.RoleId" placeholder="Select Role..." id="role-filter" #roleFilter>
                        <option *ngFor="let item of userRolesList" [value]="item.Id">{{ item.Name }}</option>
                    </select>
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">First Name</span>
                    <input type="text" [(ngModel)]="userModel.FirstName" class="form-control input-underline input-sm" placeholder="First Name" id="first-name">
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">Last Name</span>
                    <input type="text" [(ngModel)]="userModel.LastName" class="form-control input-underline input-sm" placeholder="Last Name" id="last-name">
                </div>
                <!-- <div class="form-group mb-1">
        <span class="form-span-label">Mobile #</span>
        <input type="text" [(ngModel)]="userModel.Mobile" class="form-control input-underline input-sm" placeholder="Mobile">
    </div> -->
                <div class="form-group mb-1">
                    <span class="form-span-label">Phone #</span>
                    <input type="text" [(ngModel)]="userModel.PhoneNumber" class="form-control input-underline input-sm" placeholder="Telephone" id="telephone">
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">Email</span>
                    <input type="text" required email [(ngModel)]="userModel.EmailAddress" #UserEmailAddress="ngModel" class="form-control input-underline input-sm" placeholder="Email" id="email">
                    <div *ngIf="UserEmailAddress.invalid && (UserEmailAddress.dirty || UserEmailAddress.touched)" class="alert alert-danger pad-y-5 mt-2">
                        <div *ngIf="UserEmailAddress.errors.required">Email Address is required.</div>
                        <div *ngIf="UserEmailAddress.errors.email">Email Address wrong pattern.</div>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">User Login</span>
                    <input type="text" required [(ngModel)]="userModel.UserName"  #UserLoginName="ngModel" class="form-control input-underline input-sm" placeholder="UserName" id="username">
                    <div *ngIf="UserLoginName.invalid && (UserLoginName.dirty || UserLoginName.touched)" class="alert alert-danger pad-y-5 mt-2">
                        <div *ngIf="UserLoginName.errors.required">User Login is required.</div>
                    </div>
                </div>
                <div *ngIf="userMode === 'edit'" class="form-group mb-1">
                    <span class="form-span-label">Password</span>
                    <input type="password" [(ngModel)]="userModel.Password" class="form-control input-underline input-sm" placeholder="Password">
                </div>
                <div *ngIf="userMode === 'edit'" class="form-group mb-1">
                    <span class="form-span-label">Retype Password</span>
                    <input type="password" [(ngModel)]="userModel.PasswordReType" class="form-control input-underline input-sm" placeholder="Re-type Password">
                </div>

                <div class="form-group d-flex">
                    <input type="checkbox" id="send-login-detail" class="mr-1" [(ngModel)]="sendLoginDetail"> <label for="send-login-detail" class="form-label">Send login details via email</label>
                    <!-- <input type="password" [(ngModel)]="model.PasswordReType" class="form-control input-underline input-sm" placeholder="Re-type Password"> -->
                </div>
                <!-- <div class="form-group mb-1">
        <span class="form-span-label">Username</span>
        <input type="text" [(ngModel)]="userModel.UserName" class="form-control input-underline input-sm" placeholder="Username">
    </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]='UserEmailAddress.invalid || UserLoginName.invalid || !isPasswordMatched() || showSpinner' class="btn btn-primary" (click)="saveUser(e);">Save</button>
        <button type="button" class="btn btn-default" (click)="e('Close click')">Cancel</button>
    </div>
</ng-template>
