<div class="account" [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header sub-header">
                   Accounts
                   <div class="pull-right">
                       <a (click)="navigateToCreate()"><i style="color:#007bff" class="fa fa-plus-square"></i> Add a New Account </a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <app-accounts-list #accountsList></app-accounts-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
