<div class="accounts-create" [@routerTransition]>
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                    <div [hidden]="!showSpinner">
                        <app-spinner></app-spinner>
                    </div>
                   Create a New Account
                   <div class="pull-right">
                        <button type="button" [disabled]="EmailAddress.invalid || !model.Company || !model.Name || !model.EmailAddress || isDuplicate" (click)="saveChanges()" class="btn btn-xs btn-success"><i class="fa fa-check-circle fa-lg"></i> Save &nbsp;</button>&nbsp;
                        <a class="btn btn-xs btn-secondary" [routerLink]="['/accounts']"><i class="fa fa-chevron-circle-left fa-lg"></i> Cancel &nbsp;</a>&nbsp;
                   </div>
                </div>
                <div class="card-body flex">
                    <div class="col-sm-6 form-content">
                        <div class="form-group mb-1">
                            <span class="form-span-label">Company</span>
                            <input autofocus tabindex="1" type="text" required (change)="changeCompany()" #Company="ngModel" [(ngModel)]="model.Company" 
                            class="form-control input-underline input-sm" id="company-name" placeholder="Company">
                            <div *ngIf="Company.invalid && (Company.dirty || Company.touched)" class="alert alert-danger pad-y-5 mt-2">
                                <div *ngIf="Company.errors.required">Company is required.</div>
                            </div>
                            <div *ngIf="isDuplicate" class="alert alert-danger pad-y-5 mt-2">Company Name / Account Name is duplicate. Try another name.</div>
                        </div>
                        <div [hidden]="true" class="form-group mb-1">
                            <span class="form-span-label">Account Name</span>
                            <input type="text" [disabled]="true" [(ngModel)]="model.Name" class="form-control input-underline input-sm" id="" placeholder="Name">
                        </div>
                        <div class="form-group mb-1">
                            <span class="form-span-label">Email Address</span>
                            <input tabindex="3" type="email" required [(ngModel)]="model.EmailAddress" email  #EmailAddress="ngModel" 
                            class="form-control input-underline input-sm" id="" placeholder="Email">
                            <div *ngIf="EmailAddress.invalid && (EmailAddress.dirty || EmailAddress.touched)" class="alert alert-danger pad-y-5 mt-2">
                                <div *ngIf="EmailAddress.errors.required">Email Address is required.</div>
                                <div *ngIf="EmailAddress.errors.email">Email Address wrong pattern.</div>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <span class="form-span-label">Full Address</span>
                            <input  tabindex="5" type="text" [(ngModel)]="model.FullAddress" class="form-control input-underline input-sm" id="" placeholder="Full Address">
                        </div>
                        <div class="form-group pt-3"> 
                            <input  type="checkbox" [(ngModel)]="model.IsTestAccount"  class="form-check-input" id="IsTestAccount">
                            <label style="cursor:pointer;font-weight: normal" class="pl-4 form-check-label" for="IsTestAccount">Test Account?</label>
                        </div>
                    </div>
                     <div class="col-sm-6 form-content">
                        <div class="form-group mb-1">
                            <span class="form-span-label">Contact Name</span>
                            <input  tabindex="2" type="text" [(ngModel)]="model.ContactName" class="form-control input-underline input-sm" id="" placeholder="Contact Name">
                        </div>
                        <div class="form-group mb-1">
                            <span class="form-span-label">Contact #</span>
                            <input tabindex="4" type="text" [(ngModel)]="model.ContactNumber" class="form-control input-underline input-sm" id="" placeholder="Contact #">
                        </div>
                        <div class="form-group mb-1">
                            <span class="form-span-label">Full Details</span>
                            <textarea  tabindex="6" type="text" [(ngModel)]="model.Details" class="form-control input-underline input-sm" id="" placeholder="Details"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
