<div id="locations-list-component">
  <div class="card-body px-0">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="pull-right">
                              <a *ngIf="issuperadminoradmin()" (click)="createTag(tagCreateEdit)"><i class="fa fa-plus-square primary"></i> <small>Add New Tag</small></a>&nbsp;
                          </div>
                      </div>
                      <div class="card-body">
                          <table id="locations-level-one-list-table" class="table table-hover table-bordered table-sm" style="width: 100%;">
                              <thead>
                                  <tr>
                                      <th>Name</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr style="cursor: pointer" *ngFor="let item of tagList">
                                      <td style="width:40%">{{ item.Name }}</td>
                                      <td style="width:10%; text-align: center">
                                          <a (click)="editTag(tagCreateEdit, item)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                                          <a (click)="confirmDeleteTagDiag(confirmDeleteTag, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                                      </td>
                                  </tr>
                                  <tr *ngIf="tagList.length === 0">
                                      <td class="text-center" colspan="3">No Records to Display</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #tagCreateEdit let-c="close" let-d="dismiss">
  <div class="modal-header d-flex justify-content-center align-items-center">
      <h4 class="modal-title" style="font-size:16px;">Tag</h4>
      <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
          <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
  </div>
  <div class="modal-body">
  <div class="col-sm-12">
      <div class="row">
          <div class="col-sm-12 px-0">
              <div class="form-group mb-1">
                  <span class="form-span-label">Name</span>
                  <input [(ngModel)]="tagModel.Name" tabindex="1" type="text" class="form-control input-underline input-sm" id="product-condition-name" placeholder="Tag Name">
              </div>
          </div>
      </div>
  </div>
  </div>
   <div class="modal-footer">
      <button type="button" [disabled]="!isTagNameValid()" class="btn btn-primary" (click)="saveTag(false);c('Close click')">Yes</button>
      <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>

<ng-template #confirmDeleteTag let-c="close" let-d="dismiss">
  <div class="modal-header d-flex justify-content-center align-items-center">
      <h4 class="modal-title" style="font-size:16px;">Delete Confirmation</h4>
      <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
  </div>
  <div class="modal-body">
      <p>Tag might be in used. Are you sure you want to delete this data?</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteTag();c('Close click')">Yes</button>
      <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>