<div [hidden]="!showSpinner" class="outer-spinner">
    <h5>{{ loadingMessage }}</h5>
</div>
<div class="row" style="height: 68vh">
        <ag-grid-angular #myGrid style="width: 100%; height: 100%;" class="ag-theme-balham" multiSortKey="ctrl"
            [frameworkComponents]="frameworkComponents"
            [rowHeight]="30"
            [cacheBlockSize]="cacheBlockSize"
            (modelUpdated)="gridModelUpdated($event)"
            (filterChanged)="gridFilterChanged($event)"
            (bodyScroll)="gridScrollChanged($event)"
            [singleClickEdit]="true"
            [pagination]="false"
            [columnDefs]="colDef"
            [defaultColDef]="defaultColDef"
            [rowBuffer]="rowBuffer"
            [rowSelection]="rowSelection"
            [rowModelType]="rowModelType"
            [cacheOverflowSize]="cacheOverflowSize"
            [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
            [infiniteInitialRowCount]="infiniteInitialRowCount"
            [maxBlocksInCache]="maxBlocksInCache"
            [animateRows]="true"
            [rowData]="productsList"
            (gridReady)="onGridReady($event)"
            (sortChanged)="gridSortChanged($event)"
            >
        </ag-grid-angular>
</div>

<!-- @TODO : Transfer to another component -->

<ng-template #productQuantityFormContent let-c="close" let-d="dismiss">
    <div [hidden]="!showAddQuantitySpinner">
        <app-spinner></app-spinner>
    </div>
    <div class="modal-header d-flex justify-content-center align-items-center   ">
        <div class="pull-left"><span><i class="{{ confirmIconClass }}"></i></span></div> &nbsp;&nbsp;
        <h4 class="modal-title product-modal-header">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-md-12 location-border-detail">
            <div class="col-xs-12 col-sm-12 px-1 pull-left "><span>{{ confirmPopupMessage }}</span></div>
            <div class="col-xs-12 col-sm-12 px-1 input-group-prepend">
                <label class="form-span-label qty-label" ><span>{{ qtyLabel }}:</span></label>
                <div class="d-flex align-items-center" *ngIf="mode === 1">
                    <div class="ml-2">
                        <input style="width: 50px;" oninput="validity.valid||(value='');" min="0" [disabled]="!enableQty" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                    </div>
                </div>
                <div class="d-flex align-items-center" *ngIf="mode === 1">
                    <label style="margin-left: 350px;" class="form-span-label qty-label" ><span>Available Date:</span></label>
                    <div class="ml-2">
                        <input style="width: 220px;" [(ngModel)]="accountProductModel.AvailableDate" class="form-control input-sm" type="date" name="availableDate" id="availableDate">
                    </div>
                </div>
                
                <div *ngIf="mode !== 1">
                    <div class="form-group" [ngClass]="removeQtyExceed ? 'has-error': ''">
                        <input autofocus (change)="onRemoveQuantityValueChange()" style="width: 50px;" oninput="validity.valid||(value='');" min="0" [(ngModel)]="removeQty" [disabled]="!enableQty || accountProductModel.QuantityOnStock <= 0" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                    </div>
                </div>
                <label style="margin-left: 520px;" *ngIf="mode !== 1" class="form-span-label qty-label" ><span>Total Qty:</span></label>
                <div *ngIf="mode !== 1" >
                    <div class="">
                        <input [disabled]="true" style="width: 50px;" oninput="validity.valid||(value='');" min="0" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!hasLocationData">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-12 empty-data">
                    <label for="">No data to show</label>
                </div>
            </div>
        </div>
        <div *ngIf="mode == 1">
            <div *ngIf="showLevelOne">
                <div class="d-flex flex-wrap location-border-detail">
                    <div class="col-xs-12 col-sm-3 px-1 form-line mb-1 d-grid" *ngFor="let location of locationOneList">
                        <div class="d-flex">
                            <div class="input-group-text location-radio-button-group">
                                <input class="location-radio-button" type="radio" id="location-level-one-{{ location.Id }}" [value]="location.Id" (click)="onLevelOneClick($event)" [checked]="location.isSelected" >
                            </div>
                            <label class="form-control location-label">{{ location.Name }}</label>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="level-two-div" *ngIf="showLevelTwo">
                <div class="d-flex flex-wrap location-border-detail">
                    <div style="display: grid;" class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of filteredLocationTwoList">
                        <div class="d-flex">
                            <div class="input-group-text location-radio-button-group">
                                <input class="location-radio-button" type="radio" id="location-level-two-{{ location.Id }}" [value]="location.Id" (click)="onLevelTwoClick($event)" [checked]="location.isSelected"  >
                            </div>
                            <label class="form-control location-label">{{ location.Name }}</label>
                        </div>
                    </div>
                </div>
            </div><br>
    
            <div class="level-three-div" *ngIf="showLevelThree">
                <div class="d-flex flex-wrap location-border-detail">
                    <div style="display: grid;" class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of filteredLocationThreeList">
                        <div class="d-flex">
                            <div class="input-group-text location-radio-button-group">
                                <input class="location-radio-button" type="radio" id="location-level-three-{{ location.Id }}" [value]="location.Id" (click)="onLevelThreeClick($event)" [checked]="location.isSelected" >
                            </div>
                            <label class="form-control location-label" >{{ location.Name }} </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="level-fourth-div" *ngIf="showLevelFour">
                <div class="col-md-12 location-border-detail">
                    <div style="display: grid;" class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of filteredLocationFourList">
                        <div class="input-group"> 
                            <div class="input-group-text location-radio-button-group">
                                <input class="location-radio-button" type="radio" id="location-level-four-{{ location.Id }}" [value]="location.Id" (click)="onLevelFourClick($event)" [checked]="location.isSelected" >
                            </div>
                            <label class="form-control location-label" >{{ location.Name }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="mode == -1">
            <div class="location-border-detail">
                <h5 class="" style="padding-top: 50px;">&#8287;</h5>
                <div style="display: flex;" *ngFor="let item of mergedLocations">
                    <div style="width: 200px; margin-right: 10px; display: grid;" *ngFor="let location of item.location; let i = index;">
                        <div style="display: flex;" *ngIf="getItemQuantity(item) > 0">
                            <div *ngIf="i === 0" class="location-radio-button-group input-group-text">
                                <input class="location-radio-button" type="radio"  id="location-remove-{{i}}" name="location-remove"
                                    (click)="deductQty(item);" [checked]="location.isSelected">
                            </div>
                            <label *ngIf="item.location[i].Id > 0" class="location-label form-control">{{ location.Name }}
                                <span>
                                    
                                </span>
                            </label>
                            <input *ngIf="i == (item.location.length - 1)" disabled="true" oninput="validity.valid||(value='');" 
                                style="text-align: center;" [value]="getItemQuantity(item)" min="0" type="number" id="quantity" placeholder="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="disableSaving()" (click)="saveProductToAccount();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="removeQty=0;removeQtyExceed=false;c('Close click')">No</button>
    </div>
</ng-template>

<ng-template #cartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-12 pr-4">
                <div class="row">
                    <!-- PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong>  -->
                </div>
                <div class="row">
                    <app-account-products-current-qty-list-component style="width: 100%;"
                        (recalculateQty)="recalculateQty($event)" [productId]="accountProductModel.ProductId"
                        #accountProductCurrentQtyList></app-account-products-current-qty-list-component>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Total Qty</span>
                            <input min="0" type="number" [(ngModel)]="cartModel.Quantity"
                                 class="cart-qty-final-input" placeholder="0" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-vertical"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity" class="btn btn-success btn-lg"
            (click)="addToCartSave();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<!-- @TODO : Transfer to another component -->
<ng-template #confirmCartContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;"></h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 pt-3">
            <div class=" d-flex justify-content-center align-items-center">
                <i class="fa fa-check-circle success fa-3x pr-4"></i>
                <h3 class="m-0">You have added a product to your cart, do wish to do something else?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="addMoreProducts(); c('Close click')">Add more
            products</button>
        <button type="button" class="btn btn-success btn-lg" (click)="c('Close click');checkOut();">Checkout</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #productTransferQtyFormContent let-c="close" let-d="dismiss">
    <div [hidden]="!showMoveQuantitySpinner && allLocationsCopy.length > 0">
        <app-spinner></app-spinner>
    </div>
    <div class="modal-header d-flex justify-content-center align-items-center">
        <div class="pull-left"><span><i class="{{ confirmIconClass }}"></i></span></div> &nbsp;&nbsp;
        <h4 class="modal-title product-modal-header">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body" >
        <div class="test-test">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-12 px-1 pull-left ">
                    <span>Move product quantity to another location</span>
                </div>
            </div>
        </div>
        <!-- <label class="form-control location-label" [ngStyle]="{ 'visibility' : location.Id > 0 ? 'visible' : 'hidden' }">{{ location.Name }}</label> -->
        <div *ngIf="allLocationsCopy.length > 0">
            <div class="location-border-detail">
                <h2 class="font-weight-bold mb-3" style="padding-top: 50px;">FROM</h2>
                <div style="display: flex;" *ngFor="let item of mergedLocations">
                    <div [ngClass]="location.Id > 0 ? 'location-item' : ''" *ngFor="let location of item.location; let i = index;">
                        <div style="display: flex;" *ngIf="getItemQuantity(item) > 0">
                            <div *ngIf="i === 0" class="location-radio-button-group input-group-text">
                                <input class="location-radio-button" type="radio" 
                                    (click)="onSourceLocationClick(item); accountProductModel.QuantityOnStock = availableQtyTobeMoved" [checked]="location.isSelected">
                            </div>
                            <label *ngIf="location.Id > 0" class="location-label form-control">{{ location.Name }}
                                <span>
                                    
                                </span>
                            </label>
                            <input *ngIf="i == (item.location.length - 1)" disabled="true" oninput="validity.valid||(value='');" 
                                style="text-align: center;" [value]="getItemQuantity(item)" min="0" type="number" id="quantity" placeholder="0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 location-border-detail">
                <div class="col-md-12 input-group-prepend" style="padding: 0;">
                    <div class="col-md-6" style="display: flex; padding: 0;">
                        <label class="form-span-label qty-label" ><span>Quantity to be moved:</span></label>
                        <div>
                            <div [ngClass]="moveQtyExceed ? 'has-error' : ''">
                                <input style="width: 50px;" oninput="validity.valid||(value='');" min="0" [max]="availableQtyTobeMoved == 0 ? 0 : availableQtyTobeMoved"  class="form-control input-sm" (change)="onMoveQuantityValueChange()" [(ngModel)]="accountProductModel.QuantityOnStock" type="number" id="quantity" placeholder="0" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: end; padding: 0;">
                        <label class="form-span-label qty-label" ><span>Total Qty:</span></label>
                        <div>
                            <div class="">
                                <input [disabled]="true" style="width: 50px;" oninput="validity.valid||(value='');" min="0" [(ngModel)]="availableQtyTobeMoved" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TO -->
            <div class="location-border-detail" [hidden]="hideDestination">
                <h2 class="font-weight-bold mb-3" style="padding-top: 70px;">TO</h2>
                <div class="ov-y-product">
                    <div style="display: flex;" *ngFor="let item of allLocations">
                        <div style="width: 200px; margin-right: 10px;" *ngFor="let location of item.location; let i = index;">
                            <div style="display: flex;">
                                <div *ngIf="i === 0" class="location-radio-button-group input-group-text">
                                    <input class="location-radio-button" type="radio" 
                                        (click)="onDestinationLocationClick(item)" [checked]="location.isSelected">
                                </div>
                                <label *ngIf="location.Id > 0" class="location-label form-control">{{ location.Name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="disableMoveQtySaving()" class="btn btn-primary" (click)="moveProductToAccount(c)">Move</button>
        <button type="button" class="btn btn-default" (click)="c('Close click'); this.reloadGrid();">Cancel</button>
    </div>
</ng-template>

<ng-template #imageModal let-c="close" let-d="dismiss">
    <div class="modal-body m-4" id="imagePreviewModal">
        <div class="bg-white rounded-circle px-3 py-2"
            style="cursor: pointer; position: absolute; display: block; right: 20px; top: 20px; z-index: 100;" (click)="c('closed');">
            <i class="fa fa-close fa-2x"></i>
        </div>
        <div id="modalPreviewImage">
            <img class="product-image-preview" src="{{ focusPhotoSrc }}"/><br />
        </div>
    </div>
</ng-template>

<ng-template #locationModal let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center modal-sm">
        <h4 class="modal-title" style="font-size:16px;">Location</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <tree-root [nodes]="productQtyTreeData" [options]="options">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <div>
                        <div class="pull-left">
                            {{ node.data.name }}&nbsp;
                        </div>
                    </div>
                </ng-template>
            </tree-root>
            </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>


<ng-template #exportFile let-c="close" let-d="dismiss">
    <ng-container>
        <div class="modal-body modal-dialog-centered">
            <ng-container>
                <div style="height: 200px; text-align: center; margin: 2px;">
                    <h1>Generating report please wait this might take a while.</h1>
                    <div style="margin-top: 30px; position: fixed; z-index: 1031; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i style="font-size: 100px" class="fa fa-spinner fa-spin"></i></div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-template>