<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="account-products-list-component" [@componentsTransition]>
    <div class="list-group">
        <li class="list-group-item mb-3 shadow-border p-3" style="display: flex;" *ngFor="let item of packageData | async">
            <div class="col-sm-6">
                <img class="img-responsive col-sm-5 prod-list-img-l p-1" [src]="item.MainPhotoUrl">
                <br /><br />
                <strong>{{ item.ProductName }}</strong> <br />
                <small>{{ item.GroupName }} from {{ item.ManufacturerName }}</small><br />
                <div [hidden]="true">
                    <span><strong class="warning price">kr {{ item.Price | number : '1.2-2' }}</strong> <small class="default"> ({{ item.QuantityOnStock }})</small></span><br />
                    <ngb-rating [(rate)]="item.Rating">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>
                <div *ngIf="selectedAccountId > 0">
                    <strong class="badge badge-secondary" *ngIf="item.AccountName === null">SYSTEM</strong>
                    <strong class="badge badge-info" *ngIf="item.AccountName === null">{{ currentAccountName() }}</strong>
                    <strong class="badge badge-info" *ngIf="item.AccountName">{{ item.AccountName }}</strong>
                </div>
                <br />
            </div>
            <div class="col-sm-6 mt-2">
                <div *ngIf="isAdmin" class="pull-right">
                    <a *ngIf="item.AccountName" (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs btn-primary" ngbTooltip='Edit Qty, Price, Location' placement="top" triggers="mouseenter:mouseleave">
                        <i class="fa fa-pencil text-white"></i>
                    </a>
                    <a *ngIf="item.AccountName" (click)="navigateToEdit(item.Id)" class="btn btn-xs btn-warning" ngbTooltip="Edit Account Product" placement="top" triggers="mouseenter:mouseleave">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a *ngIf="!item.AccountName && !isHideEditQtyButton(isHideEditQtyButton(item.AccountHasThisProduct))" 
                    (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs" 
                    [ngClass]="{ 'btn-primary' : item.AccountHasThisProduct, 'btn-success' : !item.AccountHasThisProduct }"
                    ngbTooltip="{{ item.AccountHasThisProduct ? 'Edit Account Product' : 'Add this product to your database' }}" placement="top" triggers="mouseenter:mouseleave">
                        <i *ngIf="item.AccountHasThisProduct === true" class="fa fa-pencil text-white"></i>
                        <i *ngIf="item.AccountHasThisProduct === false" class="fa fa-plus-circle text-white"></i>
                    </a>
                    <a [hidden]="true" (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs btn-warning" title="View Details">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div [hidden]="true" *ngIf="!isAdmin && !isSuperAdmin" class="pull-right">
                    <button type="button" [disabled]="item.QuantityOnStock === 0" (click)="addtoCart(addCartFormContent, item)" class="btn btn-xs" 
                        [ngClass]="(item.QuantityOnStock === 0) ? 'btn-secondary' : 'btn-success'" ngbTooltip="Add to Cart" placement="top" triggers="mouseenter:mouseleave">
                        <i class="fa fa-cart-plus text-white fa-lg">&nbsp;</i>
                    </button>
                </div>
                <div><small><b>Details : </b><br />
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                               Location
                            </td>
                            <td><b>{{ item.Location }}</b></td>
                        </tr>
                        <tr>
                        <td>Color / Material</td>
                        <td><b>{{ item.ColorMaterialName }}</b></td>
                        </tr>
                        <tr>
                        <td>Height</td>
                        <td><b>{{ item.Height }}</b></td>
                        </tr>
                        <tr>
                        <td>Width</td>
                        <td><b>{{ item.Width }}</b></td>
                        </tr>
                        <tr>
                        <td>Depth</td>
                        <td><b>{{ item.Length }}</b></td>
                        </tr>
                        <tr>
                        <td>Product #</td>
                        <td><b>{{ item.ProductNumber }}</b></td>
                        </tr>
                    </tbody>
                </table>
                </small></div> <br />
                <div>
                    <small>
                        <p class="default">{{ item.Description }}</p>
                    </small>
                </div>
            </div>
        </li>
        <div *ngIf="productCount === 0" class="col-sm-12" style="text-align: center; top:200px!important">
            <span>
                <i class="fa fa-times-circle fa-5x"></i>
            </span>
            <h4>No Records to Display</h4><br />
        </div>
</div>
<!-- @TODO : Transfer to another component -->
<ng-template #productFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center  ">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a> 
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <span>Are you sure you want to add this product to your database?</span>
            </div>
            <div class="row">
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Quantity</span>
                        <input type="number" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" placeholder="0">
                    </div>
                </div>
                <!-- <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Price</span>
                        <input type="number" [(ngModel)]="accountProductModel.Price" class="form-control input-sm"  placeholder="0.00">
                    </div>
                </div> -->
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Location</span>
                        <!-- <input type="text" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country"> -->
                        <div *ngIf="locationLevelOneId > 0" class="form-line mb-1">
                            <select [(ngModel)]="locationLevelOneId" (change)="onLevelOneChange($event.target.value)" class="form-control input-sm" style="height:34px">
                                <option *ngFor="let item of locationLevelOneList" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="locationLevelTwoId > 0" class="form-line mb-1">
                            <select [(ngModel)]="locationLevelTwoId" (change)="onLevelTwoChange($event.target.value)" class="form-control input-sm" style="height:34px">
                                <option *ngFor="let item of locationLevelTwoList" [value]="item.Id" [selected]="item.Id === locationLevelTwoId">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="locationLevelThreeId > 0" class="form-line mb-1">
                            <select [(ngModel)]="locationLevelThreeId" class="form-control input-sm" style="height:34px">
                                <option *ngFor="let item of locationLevelThreeList" [value]="item.Id"  [selected]="item.Id === locationLevelThreeId">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </div>


                    </div>
                </div>
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Description</span>
                        <textarea [(ngModel)]="accountProductModel.Description" style="height:100px!important" class="form-control input-sm"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!accountProductModel.QuantityOnStock || !accountProductModel.Location" class="btn btn-primary" (click)="saveProductToAccount();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>
<!-- @TODO : Transfer to another component -->
<ng-template #addCartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center   ">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-8 pr-4">
                <div class="row">
                    <span>PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong> <small class="default"> ({{ accountProductModel.QuantityOnStock }})</small></span>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Quantity</span>
                            <input type="number" [(ngModel)]="cartModel.Quantity" (change)="cartQuantityChange()" class="form-control input-sm" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Shipping Address</span>
                            <input type="text" [(ngModel)]="cartModel.ShippingAddress" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-vertical"></div>
            <div class="col-sm-4 pl-4">
                <div class="row">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Tax / VAT</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                        <div class="form-line">
                            <span class="form-span-label pb-0">Discount</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                    </div>
                    <br />
                     <div class="form-group">
                        
                    </div>
                </div>
                <!-- <div class="row">
                   
                </div> -->
                <div class="row" style="position: absolute;bottom: 0;">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Total Price</span>
                            <h3 class="pb-0"><strong>{{ cartModel.TotalPrice | number : '1.2-2'}} Kr</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity || !cartModel.ShippingAddress" class="btn btn-success" (click)="saveProductToAccount();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>