<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="account-products-list-compact" [@componentsTransition]>
    <div class="list-group">
        <li class="list-group-item mb-3 shadow-border p-3" style="display: flex;" *ngFor="let item of packageData | async">
            <div class="col-sm-6">
                <img class="img-responsive col-sm-5 prod-list-img-l p-1" [src]="item.MainPhotoUrl">
                <br /><br />
                <strong>{{ item.ProductName }}</strong> <strong class="badge badge-info" *ngIf="item.AccountName">{{ item.AccountName }}</strong> <br />
                <small>{{ item.GroupName }} from {{ item.ManufacturerName }}</small><br />
            </div>
            <div class="col-sm-6 mt-2">
                <div *ngIf="isAdmin" class="pull-right">
                    <a *ngIf="item.AccountName" (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs btn-primary" title="Edit Qty, Price, Location">
                        <i class="fa fa-pencil text-white"></i>
                    </a>
                    <a *ngIf="item.AccountName" (click)="navigateToEdit(item.Id)" class="btn btn-xs btn-warning" title="Edit Account Product">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a *ngIf="!item.AccountName" (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs btn-primary" title="Edit Account Product">
                        <i class="fa fa-pencil text-white"></i>
                    </a>
                    <a [hidden]="true" (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs btn-warning" title="View Details">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div [hidden]="true" *ngIf="!isAdmin && !isSuperAdmin" class="pull-right">
                    <button type="button" [disabled]="item.QuantityOnStock === 0" (click)="addtoCart(addCartFormContent, item)" class="btn btn-xs" 
                        [ngClass]="(item.QuantityOnStock === 0) ? 'btn-secondary' : 'btn-success'" title="Add to Cart">
                        <i class="fa fa-cart-plus text-white fa-lg">&nbsp;</i>
                    </button>
                </div>
                <div><small><b>Details : </b><br />
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                               Location
                            </td>
                            <td><b>{{ item.Location }}</b></td>
                        </tr>
                        <tr>
                        <tr>
                        <td>Product #</td>
                        <td><b>{{ item.ProductNumber }}</b></td>
                        </tr>
                    </tbody>
                </table>
                </small></div>
            </div>
        </li>
        <div *ngIf="productCount === 0" class="col-sm-12" style="text-align: center; top:200px!important">
            <span>
                <i class="fa fa-times-circle fa-5x"></i>
            </span>
            <h4>No Records to Display</h4><br />
        </div>
</div>
<!-- @TODO : Transfer to another component -->
<ng-template #productFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <span>Are you sure you want to add this product to your database?</span>
            </div>
            <div class="row">
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Quantity</span>
                        <input type="number" min="0" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" placeholder="0">
                    </div>
                </div>
                <!-- <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Price</span>
                        <input type="number" [(ngModel)]="accountProductModel.Price" class="form-control input-sm"  placeholder="0.00">
                    </div>
                </div> -->
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Location</span>
                        <input type="text" [(ngModel)]="accountProductModel.Location" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country">
                    </div>
                </div>
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Description</span>
                        <textarea [(ngModel)]="accountProductModel.Description" style="height:100px!important" class="form-control input-sm"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!accountProductModel.Price || !accountProductModel.QuantityOnStock || !accountProductModel.Location" class="btn btn-primary" (click)="saveProductToAccount();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>
<!-- @TODO : Transfer to another component -->
<ng-template #addCartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-8 pr-4">
                <div class="row">
                    <span>PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong> <small class="default"> ({{ accountProductModel.QuantityOnStock }})</small></span>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Quantity</span>
                            <input type="number" min="0" [(ngModel)]="cartModel.Quantity" (change)="cartQuantityChange()" class="form-control input-sm" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Shipping Address</span>
                            <input type="text" [(ngModel)]="cartModel.ShippingAddress" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-vertical"></div>
            <div class="col-sm-4 pl-4">
                <div class="row">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Tax / VAT</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                        <div class="form-line">
                            <span class="form-span-label pb-0">Discount</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                    </div>
                    <br />
                     <div class="form-group">
                        
                    </div>
                </div>
                <!-- <div class="row">
                   
                </div> -->
                <div class="row" style="position: absolute;bottom: 0;">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Total Price</span>
                            <h3 class="pb-0"><strong>{{ cartModel.TotalPrice | number : '1.2-2'}} Kr</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity || !cartModel.ShippingAddress" class="btn btn-success" (click)="saveProductToAccount();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>