<div [hidden]="!showSpinner" class="outer-spinner">
    <h5>{{ loadingMessage }}</h5>
</div>
<div id="accounts-products-list-table" [@componentsTransition]>
    <table id="accounts-products-list" class="table table-hover table-striped table-sm" style="width: 100%;">
        <thead>
            <tr>
                <th style="width:2%" class="center no-sort"> </th>
                <th style="width:5%" class="center no-sort"> </th>
                <th style="width:15%; cursor: pointer;" (click)="sort('ProductNumber')">Product Number
                    <div class="pull-right">
                        <span *ngIf="key !='ProductNumber'" class="fa fa-sort fa-lg"></span>
                        <span *ngIf="key =='ProductNumber'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th style="width:20%; cursor: pointer;" (click)="sort('ProductName')">Name
                    <div class="pull-right">
                        <span *ngIf="key !='ProductName'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='ProductName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <!-- <th>Qty</th> -->
                <th *ngIf="!isSuperAdmin" style="width:10%; cursor: pointer;" (click)="sort('MajorLocations')">Location
                    <div class="pull-right">
                        <span *ngIf="key !='MajorLocations'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='MajorLocations'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th style="width:10%; cursor: pointer;" (click)="sort('GroupName')">Product Group
                    <div class="pull-right">
                        <span *ngIf="key !='GroupName'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='GroupName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th style="width:10%; cursor: pointer;" (click)="sort('ManufacturerName')">Manufacturer
                    <div class="pull-right">
                        <span *ngIf="key !='ManufacturerName'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='ManufacturerName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th style="width:8%; cursor: pointer;" (click)="sort('ColorMaterialName')">Color / Material
                    <div class="pull-right">
                        <span *ngIf="key !='ColorMaterialName'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='ColorMaterialName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th style="width:5%; cursor: pointer;" (click)="sort('ModelName')">Model
                    <div class="pull-right">
                        <span *ngIf="key !='ModelName'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='ModelName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th style="width:10%; cursor: pointer;" (click)="sort('Width')">Dimensions
                    <div class="pull-right">
                        <span *ngIf="key !='Width'" class="fa fa-sort"></span>
                        <span class="fa fa-sort" *ngIf="key =='Width'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th *ngIf="!isSuperAdmin" style="width:8%;cursor: pointer;" (click)="sort('CurrentQty')">Actions
                    <div class="pull-right">
                        <span *ngIf="key !='CurrentQty'" class="fa fa-sort fa-lg"></span>
                        <span *ngIf="key =='CurrentQty'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of packageData | async | orderBy: key : reverse; let i = index;">
                <td>{{ i + 1 }}</td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''" class="center p-0">
                    <img class="prod-list-img-l p-1" [src]="imageUrl(item.MainPhotoUrl)">
                </td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.ProductNumber }}</td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.ProductName }}</td>
                <td *ngIf="!isSuperAdmin" (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">
                    <small>{{ item.MajorLocations }} </small>
                    <small>
                        <a href="javascript:void(0)" ngbTooltip="More locations available" placement="bottom" triggers="mouseenter:mouseleave">{{ item.MajorLocationCount > 2 ? '[...]' : '' }}</a>
                    </small>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.GroupName }} </td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.ManufacturerName }} </td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.ColorMaterialName }} </td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.ModelName }} </td>
                <td (click)="navigateToEdit(item.Id)" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''">{{ item.Width }} x {{ item.Height }} x {{ item.Length }} </td>
                <td *ngIf="!isSuperAdmin" class="center" [ngClass]="item.AccountHasThisProduct === true && selectedAccountId === 0 ? 'product-in-account' : ''" >
                    <!-- plus button -->
                    <a class="pull-left" *ngIf="((!isHideEditQtyButton(item.AccountHasThisProduct)) || (item.AccountName && item.AccountHasThisProduct === false)) && (isAdmin)" 
                    (click)="confirmProductAdd(productFormContent, item, 1)" 
                    ngbTooltip="{{ item.AccountHasThisProduct || selectedAccountId !== 0 ? 'Add Qty or Change Location' : 'Add this product to your database' }}" placement="bottom" triggers="mouseenter:mouseleave">
                        <i *ngIf="item.AccountHasThisProduct === true || selectedAccountId !== 0" class="fa fa-plus fa-lg success"></i>
                        <i *ngIf="selectedAccountId === 0" class="fa fa-plus-circle success"></i>
                    </a>
                    <!-- qty data -->
                    <strong *ngIf="selectedAccountId !== 0">{{ item.CurrentQty }}</strong>
                    <!-- minus button -->
                    <a class="pull-right" *ngIf="(((!isHideEditQtyButton(item.AccountHasThisProduct)) || (item.AccountName && item.AccountHasThisProduct === false)) && (isAdmin))" 
                    (click)="confirmProductAdd(productFormContent, item, -1)" [ngStyle]="{ 'pointer-events' : item.CurrentQty > 0 ? 'auto' : 'none' }"
                    ngbTooltip="{{ item.AccountHasThisProduct || selectedAccountId !== 0 ? 'Remove Qty or Change Location' : '' }}" placement="bottom" triggers="mouseenter:mouseleave">
                        <i *ngIf="item.AccountHasThisProduct === true || selectedAccountId !== 0" class="fa fa-minus fa-lg" [ngClass]="item.CurrentQty > 0 ? 'danger' : 'default'"></i>
                    </a>
                </td>
            </tr>
            <tr *ngIf="productCount === 0">
                <td colspan="11">
                    <div style="text-align: center; top:200px!important">
                    <span>
                        <i class="fa fa-times-circle fa-5x"></i>
                    </span>
                    <h4>No Records to Display</h4><br />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- @TODO : Transfer to another component -->
<ng-template #productFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="pull-left"><span><i class="{{ confirmIconClass }}"></i></span></div> &nbsp;&nbsp;
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row pb-3 flex">
                <div class="pull-right"><span>{{ confirmPopupMessage }}</span></div>
            </div>
            <div class="row">
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">{{ qtyLabel }}</span>
                        <input min="0" max="{{ model.CurrentQty }}" type="number" (keyup)="validateValue($event.target.value, model.CurrentQty)" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" placeholder="0">
                    </div>
                </div>
                <!-- <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Price</span>
                        <input type="number" [(ngModel)]="accountProductModel.Price" class="form-control input-sm"  placeholder="0.00">
                    </div>
                </div> -->
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Location</span>
                        <!-- <input type="text" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country"> -->
                        <div class="form-line mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" aria-label="Radio button for following text input" (click)="applyQtyTo = 1" name="selected-location" [checked]="applyQtyTo === 1" style="margin-top: 5px;">
                                    </div>
                                </div>

                                <select [(ngModel)]="accountProductModel.LocationLevelOneId" (change)="onLevelOneChange($event.target.value)" class="form-control" style="height: 32px;">
                                    <option *ngFor="let item of locationLevelOneList" [value]="item.Id">
                                        {{ item.Name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="accountProductModel.LocationLevelTwoId > 0" class="form-line mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" aria-label="Radio button for following text input" (click)="applyQtyTo = 2" name="selected-location" [checked]="applyQtyTo === 2" style="margin-top: 5px;">
                                    </div>
                                </div>

                                <select [(ngModel)]="accountProductModel.LocationLevelTwoId" (change)="onLevelTwoChange($event.target.value)" class="form-control" style="height: 32px;">
                                    <option *ngFor="let item of locationLevelTwoList" [value]="item.Id" [selected]="item.Id === accountProductModel.LocationLevelTwoId">
                                        {{ item.Name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="accountProductModel.LocationLevelThreeId > 0" class="form-line mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" aria-label="Radio button for following text input" (click)="applyQtyTo = 3" name="selected-location" [checked]="applyQtyTo === 3" style="margin-top: 5px;">
                                    </div>
                                </div>

                                <select [(ngModel)]="accountProductModel.LocationLevelThreeId" class="form-control">
                                    <option *ngFor="let item of locationLevelThreeList" [value]="item.Id"  [selected]="item.Id === accountProductModel.LocationLevelThreeId" style="height: 32px;">
                                        {{ item.Name }}
                                    </option>
                                </select>                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Description</span>
                        <textarea [(ngModel)]="accountProductModel.Description" style="height:100px!important" class="form-control input-sm"></textarea>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!accountProductModel.QuantityOnStock || !accountProductModel.LocationLevelOneId || !qtyAllowed" class="btn btn-primary" (click)="saveProductToAccount();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>

