<!-- <div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div> -->

<div [hidden]="!showSpinner" class="outer-spinner">
        <h5>{{ loadingMessage }}</h5>
    </div>

<div id="account-products-list-tile" [@componentsTransition]>
    <div class="list-group">
        <div class="d-flex flex-wrap">
            <div style="cursor: pointer" class="products-tile mb-3 shadow-border p-3 pull-left" *ngFor="let item of packageData | async">
                <div class="col-sm-12 px-3">
                </div> 
                
                <a *ngIf="isAdmin" class="product-info-edit" (click)="navigateToEdit(item.Id)"><i class="fa fa-pencil" ></i></a>
                
                <div class="product-tile-thumbnail" (click)="navigateToEdit(item.Id)">
                    <div class="prod-list-img-l p-1" style="background-position: center; background-repeat: no-repeat; background-size: cover;" [style.background-image]="'url(' + imageUrl(item.MainPhotoUrl) + ')'"></div>
                    <!-- <img class="prod-list-img-l p-1" [src]="imageUrl(item.MainPhotoUrl)"> -->
                </div>
                <!-- <div class="col-sm-12 px-3" (click)="navigateToEdit(item.Id)">
                    <div class="pull-left">
                        <strong class="badge badge-info" *ngIf="item.AccountName">{{ item.AccountName }}</strong>
                    </div>
                </div> -->
                <div class="product-tile-content px-3 pt-2">
                    <h4 (click)="navigateToEdit(item.Id)" class="product-title mb-3">{{ item.ProductName }}</h4>
                    <div (click)="navigateToEdit(item.Id)" class="product-info mb-3" style="line-height: normal;">{{ item.GroupName }} from {{ item.ManufacturerName }}</div>
                    <div class="product-info d-flex p-0 my-0 mb-3">
                        <div class="w-100" *ngIf="item.Height" style="font-size: smaller; line-height: normal;">
                            Height: {{item.Height}} <br>
                            Depth: {{item.Length}}
                        </div>
                        <div class="w-100" *ngIf="item.Width" style="font-size: smaller; line-height: normal;">
                            Width: {{item.Width}} <br>
                            Color: {{item.ColorMaterialName}}
                        </div>
                    </div>
                    <div class="mb-2">
                        <a class="product-info " style="color: gray" (click)="navigateToEdit(item.Id)"><i class="fa fa-caret-right fa-lg" style="color:red"></i> Läs mer</a>
                    </div>
                  
                    <div (click)="navigateToEdit(item.Id)" class="product-info mb-2">{{ item.ProductNumber }}</div>
                    <div (click)="navigateToEdit(item.Id)" class="product-info mb-2" *ngIf="item.Price > 0">Price: {{ item.Price }}</div>
                    <div (click)="navigateToEdit(item.Id)" class="product-info mb-2" *ngIf="item.CurrentQty > 0 && !isSuperAdmin">Availability : {{ item.CurrentQty }} pcs</div>
                    <div class="product-info mb-2" style="cursor: pointer;" (click)="navigateToProductBooking(item)" *ngIf="!isSuperAdmin && item.BookedCount > 0">Booked : {{ item.BookedCount }}</div>
                    
                    
                </div>
                <div class="product-tile-action">
                    <button type="button" *ngIf="item.CurrentQty > 0 && !isSuperAdmin" (click)="openCart($event, cartFormContent, item);" 
                        class="btn btn-success" title="ADD TO CART">
                            ADD TO CART &nbsp; <i class="fa fa-cart-plus fa-lg"></i>
                    </button>
                </div>
            </div>
    
        </div>
        <div *ngIf="productCount === 0 && !showSpinner" class="col-sm-12" style="text-align: center;">
            <!-- <span>
                <i class="fa fa-inbox default fa-5x"></i>
            </span>
            <h1 class="pt-2" style="font-weight: bold">Ooops! Could not find any products to display!</h1><br /> -->

            <span>
                <i class="fa fa-times-circle fa-5x"></i>
            </span>
            <h4>No Records to Display</h4>
        </div>
    </div>
<!-- @TODO : Transfer to another component -->
<ng-template #cartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-12 pr-4">
                <div class="row">
                    <!-- PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong>  -->
                </div>
                <div class="row">
                    <app-account-products-current-qty-list-component style="width: 100%;"
                                                                     (recalculateQty)="recalculateQty($event)"
                                                                     [productId]="accountProductModel.ProductId"
                                                                     [filteredLocationIds]="selectedLocationId"
                                                                     #accountProductCurrentQtyList></app-account-products-current-qty-list-component>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Total Qty</span>
                            <input min="0" type="number" [(ngModel)]="cartModel.Quantity" (change)="cartQuantityChange()" class="cart-qty-final-input" placeholder="0" disabled>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Shipping Address</span>
                            <input type="text" [(ngModel)]="cartModel.ShippingAddress" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country">
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="divider-vertical"></div>
            <!-- <div class="col-sm-2 pl-4">
                <div class="row">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">In Stock</span>
                            <strong class="pb-0">({{ accountProductModel.QuantityOnStock }})</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Tax / VAT</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                        <div class="form-line">
                            <span class="form-span-label pb-0">Discount</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                    </div>
                    <br />
                     <div class="form-group">
                        
                    </div>
                </div>
                <div class="row" style="position: absolute;bottom: 0;">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Total Price</span>
                            <h3 class="pb-0"><strong>{{ cartModel.TotalPrice | number : '1.2-2'}} Kr</strong></h3>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity" class="btn btn-success btn-lg" (click)="addToCart();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #confirmCartContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;"></h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 pt-3">
            <div class=" d-flex justify-content-center align-items-center">
                <i class="fa fa-check-circle success fa-3x pr-4"></i>
                <h3 class="m-0">You have added a product to your cart, do wish to do something else?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"class="btn btn-primary btn-lg" (click)="addMoreProducts(); c('Close click')">Add more products</button>
        <button type="button"class="btn btn-success btn-lg" (click)="checkOut();c('Close click')">Checkout</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
