<div id="locations-list-component">
    <div class="card-body px-0">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-right">
                                <a *ngIf="issuperadminoradmin()" (click)="createProductCondition(productConditionCreateEdit)"><i class="fa fa-plus-square primary"></i> <small>Add New Product Condition</small></a>&nbsp;
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="locations-level-one-list-table" class="table table-hover table-bordered table-sm" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" *ngFor="let item of accountProductConditionList">
                                        <td style="width:10%">{{ item.Code }}</td>
                                        <td style="width:40%">{{ item.Name }}</td>
                                        <td style="width:60%">{{ item.Description }}</td>
                                        <td style="width:10%; text-align: center">
                                            <a (click)="editProductCondition(productConditionCreateEdit, item)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                                            <a (click)="confirmDeleteProductCondition(productConditionDeleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                                        </td>
                                    </tr>
                                    <tr *ngIf="accountProductConditionList.length === 0">
                                        <td class="text-center" colspan="3">No Records to Display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #productConditionCreateEdit let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Product Condition</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 px-0">
                <div class="form-group mb-1">
                    <span class="form-span-label">Code</span>
                    <input [(ngModel)]="code" (ngModelChange)="onValueChange()" tabindex="7" type="text" class="form-control input-underline input-sm" id="product-condition-code" placeholder="Product Condition Code">
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">Name</span>
                    <input [(ngModel)]="name" (ngModelChange)="onValueChange()" tabindex="7" type="text" class="form-control input-underline input-sm" id="product-condition-name" placeholder="Product Condition Name">
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">Description</span>
                    <input [(ngModel)]="description" tabindex="8"  type="text" class="form-control input-underline input-sm" id="product-condition-description" placeholder="Product Condition Description" disabled>
                </div>
            </div>
        </div>
    </div>
    </div>
     <div class="modal-footer">
        <button type="button" [disabled]="!code || !name" class="btn btn-primary" (click)="saveProductCondition();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #productConditionDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete Confirmation</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Product condition might be in used. Are you sure you want to delete this data and update affected products to new condition?</p>
        <div class="form-group">
            <div class="form-line">
                <span class="form-span-label">Product Condition</span>
                <select [ngModelOptions]="{standalone: true}"
                    id="modelSelect" class="form-control input-sm"
                    [(ngModel)]="newProductCondition">
                    <option value=0>0 - Not set</option>
                    <option *ngFor="let item of accountProductConditionListForUpdate"
                        [value]="item.Id" [attr.data-code]="item.Code">
                        {{ item.Description }}
                    </option>
                </select>
            </div>
        </div>
        <!-- <p style="margin-top: 30px;">Note: This product condition will be updated to some of the products.</p> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteProductCondition();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>