<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="products-list-component">
    <div class="list-group">
        <li class="list-group-item mb-3 shadow-border p-3" style="display: flex;" *ngFor="let item of packageData | async">
            <div class="col-sm-6">
                <img class="img-responsive col-sm-5 prod-list-img-l p-1" [src]="item.MainPhotoUrl">
                <br /><br />
                <strong>{{ item.ProductName }}</strong><br />
                <small>{{ item.GroupName }} from {{ item.ManufacturerName }} {{ item.Price }} kr</small><br />
                <br />
            </div>
            <div  class="col-sm-6 mt-2">
                <div *ngIf="isSuperAdmin" class="pull-right"><button type="button" (click)="navigateToEdit(item.Id)" class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i></button></div>
                <div *ngIf="isAdmin" class="pull-right"><button type="button" (click)="confirmProductAdd(productFormContent, item)" class="btn btn-xs btn-success" title="Add product to your Database"><i class="fa fa-arrow-circle-down"></i></button></div>
                <div><small><b>Details : </b><br />
                <table>
                    <tbody>
                        <tr>
                        <td>Color / Material</td>
                        <td>{{ item.ColorMaterialName }}</td>
                        </tr>
                        <tr>
                        <td>Height</td>
                        <td>{{ item.Height }}</td>
                        </tr>
                        <tr>
                        <td>Width</td>
                        <td>{{ item.Width }}</td>
                        </tr>
                        <tr>
                        <td>Depth</td>
                        <td>{{ item.Length }}</td>
                        </tr>
                        <tr>
                        <td>Product #</td>
                        <td>{{ item.ProductNumber }}</td>
                        </tr>
                    </tbody>
                </table>
                </small></div> <br />
                <div>
                    <small>
                        <p>{{ item.Description }}</p>
                    </small>
                </div>
            </div>
        </li>
        <div *ngIf="productCount === 0" class="col-sm-12" style="text-align: center; top:200px!important">
            <span>
                <i class="fa fa-times-circle fa-5x"></i>
            </span>
            <h4>No Records to Display</h4><br />
        </div>
</div>
<ng-template #productFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <span>Are you sure you want to add this product to your database?</span>
            </div>
            <div class="row">
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Quantity</span>
                        <input min="0" type="number" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" placeholder="0">
                    </div>
                </div>
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Price</span>
                        <input min="0" type="number" [(ngModel)]="accountProductModel.Price" class="form-control input-sm"  placeholder="0.00">
                    </div>
                </div>
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Location</span>
                        <input type="text" [(ngModel)]="accountProductModel.Location" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country">
                    </div>
                </div>
                <div class="form-group" style="width: 100%;">
                    <div class="form-line">
                        <span class="form-span-label">Description</span>
                        <textarea [(ngModel)]="accountProductModel.Description" style="height:100px!important" class="form-control input-sm"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!accountProductModel.Price || !accountProductModel.QuantityOnStock || !accountProductModel.Location" class="btn btn-primary" (click)="saveProductToAccount();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>