<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="product-create">
    <div class="row">
        <div class="col-md-12">
            <form class="card" method="post" (ngSubmit)="saveChanges()" enctype="multipart/form-data">
                <div class="card-header sub-header">
                    <div class="d-flex">
                        <div>
                            {{ panelTitle }} {{ mode === 'edit' ? ' | '+ model?.ProductName + ' - ' + model?.ProductNumber : ''}}
                        </div>
                        <div class="ml-auto" style="margin-top: -7px;">
                            <a (click)="navigateToList()"  class="close-button">
                                <i class="fa fa-times-circle default fa-3x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="ml-auto">
                            <button [disabled]="showSpinner" *ngIf="mode === 'edit'" type="button" (click)="showProductQrCode(productQRCode)"
                                class="btn btn-xs btn-light"><i class="fa fa-qrcode"></i> QR Code</button>&nbsp;
                            <button [disabled]="showSpinner" *ngIf="mode === 'edit'" type="button" (click)="showSpinner = true; exportToPDF();"
                                class="btn btn-xs btn-light"><i class="fa fa-file-pdf-o danger"></i> Print
                                PDF</button>&nbsp;
                            <button  [disabled]="showSpinner" *ngIf="mode === 'edit' && (isadmin() || isEditor())" type="button"
                                (click)="confirmProductAdd(productQuantityFormContent, model, 1)" class="btn btn-xs btn-light"><i
                                    class="fa fa-plus-circle success"></i> Add Qty</button>&nbsp;
                            <button [disabled]="showSpinner || model.CurrentQty === 0" *ngIf="mode === 'edit' && (isadmin() || isEditor()) && accountId > 0" type="button"
                                (click)="moveProductQty(productTransferQtyFormContent, model, 1)"
                                class="btn btn-xs btn-light"><i class="fa fa-exchange info"></i> Move
                                Qty</button>&nbsp;
                            <button [disabled]="showSpinner" *ngIf="mode === 'edit' && !issuperadmin()" type="button" class="btn btn-xs btn-light"
                                (click)="openCart($event, cartFormContent, model);"><i class="fa fa-shopping-cart"></i> Add
                                to Cart &nbsp;</button>
                        </div>
                    </div>
                    
                </div>
                <div class="card-body shadow-border" style="overflow-y: hidden; overflow-x: hidden;">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="d-flex flex-column flex-sm-row">
                                <div class="px-1 w-100">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <span class="form-span-label pull-left">Product #</span>
                                                <input [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                    [(ngModel)]="model.ProductNumber" type="text"
                                                    class="form-control input-sm" style="font-size: 16px!important;"
                                                    placeholder="000-000-000-000-000000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="form-group"
                                    [ngClass]="ProductName.invalid && (ProductName.dirty || ProductName.touched) ? 'has-error': ''">
                                    <div class="form-line">
                                        <span class="form-span-label">Product Name <span
                                                class="text-danger">*</span></span>

                                        <input autofocus [ngModelOptions]="{standalone: true}" [disabled]="!canEdit"
                                            id="productName" [(ngModel)]="model.ProductName" type="text"
                                            class="form-control input-sm" #ProductName="ngModel" required>
                                        <div *ngIf="ProductName.invalid && (ProductName.dirty || ProductName.touched)">
                                            <div class="badge badge-danger" *ngIf="ProductName.errors.required">Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Group <span class="text-danger">*</span></span>
                                <div class="form-line">
                                    <select [ngModelOptions]="{standalone: true}" [disabled]="!canEdit" id="groupSelect"
                                        class="form-control input-sm" [(ngModel)]="model.GroupId"
                                        (change)="groupsChange($event.target)">
                                        <option value=0>Select Group</option>
                                        <option *ngFor="let item of productGroups" [value]="item.Id"
                                            [attr.data-code]="item.ShortCode" [selected]="model.GroupId === item.Id">
                                            {{ item.Name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Manufacturer <span class="text-danger">*</span></span>
                                <div class="form-line">
                                    <select [ngModelOptions]="{standalone: true}" [disabled]="!canEdit"
                                        id="manufacturerSelect" class="form-control input-sm"
                                        [(ngModel)]="model.ManufacturerId" (change)="manufacturerChange($event.target)"
                                        #manufacturerSelect>
                                        <option value=0>Select Manufacturer</option>
                                        <option *ngFor="let item of productManufacturers" [value]="item.Id"
                                            [attr.data-code]="item.ShortCode"
                                            [selected]="model.ManufacturerId === item.Id">
                                            {{ item.Name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Color / Material <span class="text-danger">*</span></span>
                                <div class="form-line">
                                    <select [ngModelOptions]="{standalone: true}" [disabled]="!canEdit"
                                        id="colorMatSelect" class="form-control input-sm" [(ngModel)]="model.ColorMatId"
                                        (change)="colorMaterialsChange($event.target)">
                                        <option value=0>Select Color / Material</option>
                                        <option *ngFor="let item of productColorMats" [value]="item.Id"
                                            [attr.data-code]="item.ShortCode" [selected]="model.ColorMatId === item.Id">
                                            {{ item.Name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="form-span-label pull-left">Model </span>
                                <span *ngIf="canEdit" class="pull-right">
                                    <a (click)="openProductModelDialog(productModelCreateEditContent)"><i
                                            class="fa fa-plus-square primary"></i><small><b> Manage a
                                                Model</b></small></a>
                                </span>
                                <div class="form-line">
                                    <select [ngModelOptions]="{standalone: true}" [disabled]="!canEdit" id="modelSelect"
                                        class="form-control input-sm" [(ngModel)]="model.ModelId"
                                        (change)="modelChange($event.target)">
                                        <option value=0>Select Model</option>
                                        <option *ngFor="let item of productModels" [value]="item.Id"
                                            [attr.data-code]="item.ShortCode" [selected]="model.ModelId === item.Id">
                                            {{ item.ShortCode }} - {{ item.LongName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-sm-row">
                                    <div class="px-1 w-100">
                                        <div class="form-group"
                                            [ngClass]="KgCo2.invalid && (KgCo2.dirty || KgCo2.touched) ? 'has-error': ''">
                                            <div class="form-line">
                                                <span class="form-span-label">Emissions (kg CO2)</span>
                                                <input #kgCO2 placeholder="KgCo2" [ngModelOptions]="{standalone: true}"
                                                    [disabled]="!canEdit" (mouseenter)="onKgCO2Enter($event)"
                                                    (mouseleave)="onKgCO2Leave($event)" (keyup)="onKgCO2Change($event)"
                                                    [(ngModel)]="model.KgCo2" type="text"
                                                    class="form-control input-sm" #KgCo2="ngModel">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-1 w-100">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <span class="form-span-label">Price (SEK)</span>
                                                <input #price placeholder="Price" [ngModelOptions]="{standalone: true}"
                                                    [disabled]="!canEdit" (mouseenter)="onPriceEnter($event)"
                                                    (mouseleave)="onPriceLeave($event)" (keyup)="onPriceChange($event)"
                                                    [(ngModel)]="model.Price" type="text" class="form-control input-sm">
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div [hidden]="!showPhotoSpinner">
                                <app-spinner>Loading...</app-spinner>
                            </div>
                            <span class="form-span-label">Photos</span>
                            <div class="card photos">
                                <div class="card-body shadow-border" style="height: auto;">
                                    <div class="d-flex flex-wrap"
                                        [ngClass]="MainPhotoUrl.invalid && (MainPhotoUrl.dirty || MainPhotoUrl.touched) ? 'has-error': ''">
                                        <div class="mt-4">
                                            <div style="flex-direction: column;" style="width: 164px;">
                                                <div class="pull-right">
                                                    <ul
                                                        style="margin-left: 0px!important;padding-left: 0px!important;list-style: none!important; margin-top: 3px;">
                                                        <li>
                                                            <a *ngIf="(canEdit && mode === 'edit' && hasMainPhoto)" href="javascript:void(0)"
                                                                (click)="removeMainPhoto()"
                                                                class="bg-white rounded-circle pull-right"
                                                                ngbTooltip="Delete Photo" placement="bottom"
                                                                triggers="mouseenter:mouseleave"
                                                                style="padding-left: 6px; margin-top: 7px; margin-right: 7px;"><i
                                                                class="fa fa-trash"
                                                                style="padding-right: 6px; padding-top: 5px;"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-tile-thumbnail pt-1" style="max-width: 164px;">
                                                    <div (click)="mode === 'create' ? null : openImage(imageModal, photoSrc)"
                                                        style="height:130px; width: 100%; border: 4px solid #28a745; background-position: center; background-repeat: no-repeat; background-size: cover;"
                                                        [style.background-image]="'url(' + photoSrc + ')'"
                                                        [style.cursor]="mode === 'create' ? null : hasMainPhoto ? 'pointer' : null"
                                                        id="imagePreview">
                                                    </div>
                                                </div>

                                                <div [hidden]="!canEdit" >
                                                    <input [hidden]="PhotoProcessType === 0"
                                                        [ngModelOptions]="{standalone: true}" [disabled]="!canEdit"
                                                        [(ngModel)]="model.MainPhotoUrl" type="text"
                                                        class="form-control input-sm" placeholder="Image Web URL"
                                                        #MainPhotoUrl="ngModel" required>
                                                    <input [hidden]="true" id="fileUpload" class="input-sm" #fileUpload
                                                        type="file" placeholder="Upload file..." [accept] = "'image/*, .heic, .heif'"
                                                        (change)="fetchPhotoUrlPreview($event.target)" />
                                                    <div
                                                        *ngIf="MainPhotoUrl.invalid && (MainPhotoUrl.dirty || MainPhotoUrl.touched)">
                                                        <div class="badge badge-danger"
                                                            *ngIf="MainPhotoUrl.errors.required">Required.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-0">
                                            <qrcode [qrdata]="productDetailsPublicPath" [width]="164" [level]="'M'">
                                            </qrcode>
                                            <input [hidden]=true [ngModelOptions]="{standalone: true}" *ngIf="(canEdit && mode === 'edit') || (mode === 'create' && hasMainPhoto)"
                                                id="otherFileUpload" #otherFileUpload
                                                [(ngModel)]="productPhotoModel.PhotoUrl" type="file"
                                                [accept] = "'image/*, .heic, .heif'"
                                                (change)="fetchPhotoUrlPreview($event.target)"
                                                class="form-control input-sm productPhotos"
                                                style="width: 100% !important;height: 100% !important;border:none!important" />
                                        </div>
                                        <!-- <div class="divider-vertical"></div> -->
                                        <!-- IMAGE LIST -->
                                    </div>
                                    <div class="d-flex flex-nowrap cstm-scrollbar" style="overflow-x: auto;">
                                        <div class="m-2" style="flex: 1" *ngFor="let photo of productPhotoList; let i = index;">
                                            <div *ngIf="accountId > 0">
                                                <div id="prod-img-{{ photo.Id }}-cont" style="width: 164px;">
                                                    <div class="pull-right">
                                                        <ul
                                                            style="margin-left: 0px!important;padding-left: 0px!important;list-style: none!important;">
                                                            <li>
                                                                <a (click)="mode === 'create' ? removePhotoFromList(photo) : deleteProductPhoto(photo)"
                                                                    class="bg-white rounded-circle pull-right"
                                                                    ngbTooltip="Delete Photo" placement="bottom"
                                                                    triggers="mouseenter:mouseleave"
                                                                    style="margin-top: 5px; margin-right: 5px; padding-left: 6px;"><i
                                                                        class="fa fa-trash"
                                                                        style="padding-right: 6px;"></i></a>
                                                            </li>
                                                            <li>
                                                                <a [hidden]="mode === 'create'"
                                                                    (click)="setProductPhotoAsMain(photo)"
                                                                    class="bg-white rounded-circle pull-right"
                                                                    ngbTooltip="Set as Main Photo"
                                                                    placement="bottom"
                                                                    triggers="mouseenter:mouseleave"
                                                                    style="margin-top: 5px; margin-right: 5px; padding-left: 5.5px;"><i
                                                                        class="fa fa-check-circle default"
                                                                        style="padding-right: 3px; padding-right: 5.5px;"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-tile-thumbnail" >
                                                        <div
                                                            (click)="mode === 'edit' ? openImage(imageModal, (mode === 'create' ?  photo.PhotoByteString : photo.PhotoUrl), i, photo.Id) : null"
                                                            style="height:130px; width: 100%; border: 1px solid #ddd; background-position: center; background-repeat: no-repeat; background-size: cover;"
                                                            [style.background-image]="'url(' + (mode === 'create' ? !photo.PhotoByteString ? imageUrl(photo.PhotoUrl) : photo.PhotoByteString : imageUrl(photo.PhotoUrl)) + ')'"
                                                            [style.cursor]="mode === 'create' ? null : 'pointer'"
                                                            id="otherImagePreview_{{ i }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="w-100" *ngIf="accountId > 0">
                                            <div class="dropzone" id="fileDropRef" appDnd (fileDropped)="fetchPhotoUrlPreview($event)">
                                                <div style="font-size: 20px;">
                                                    <i class="fa fa-upload fa-lg"></i>
                                                </div>
                                                <h3 class="dropzone-label">Drag and drop file here</h3>
                                                <h3 class="dropzone-label">or</h3>
                                                <label class="browse-label" for="fileDropRef" style="padding-top:11px" (click)="hasMainPhoto ? invokeOtherFileInput() : invokeFileInput()">Browse for file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex flex-column flex-sm-row">
                                <div class="px-1 d-block d-sm-none">
                                    <div class="form-group"
                                        [ngClass]="Height.invalid && (Height.dirty || Height.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Height (cm) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Height" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (ngModelChange)="onHeightWidthDepthChange()"
                                                [(ngModel)]="model.Height" min="0" type="number"
                                                class="form-control input-sm" #Height="ngModel" required>
                                            <div *ngIf="Height.invalid && (Height.dirty || Height.touched)">
                                                <div class="badge badge-danger" *ngIf="Height.errors.required">Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 135px;">
                                    <div class="form-group"
                                        [ngClass]="Height.invalid && (Height.dirty || Height.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Height (cm) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Height" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (ngModelChange)="onHeightWidthDepthChange()"
                                                [(ngModel)]="model.Height" min="0" type="number"
                                                class="form-control input-sm" #Height="ngModel" required>
                                            <div *ngIf="Height.invalid && (Height.dirty || Height.touched)">
                                                <div class="badge badge-danger" *ngIf="Height.errors.required">Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-block d-sm-none">
                                    <div class="form-group"
                                        [ngClass]="Width.invalid && (Width.dirty || Width.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Width (cm) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Width" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (ngModelChange)="onHeightWidthDepthChange()"
                                                [(ngModel)]="model.Width" min="0" type="number"
                                                class="form-control input-sm" #Width="ngModel" required>
                                            <div *ngIf="Width.invalid && (Width.dirty || Width.touched)">
                                                <div class="badge badge-danger" *ngIf="Width.errors.required">Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 135px;">
                                    <div class="form-group"
                                        [ngClass]="Width.invalid && (Width.dirty || Width.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Width (cm) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Width" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (ngModelChange)="onHeightWidthDepthChange()"
                                                [(ngModel)]="model.Width" min="0" type="number"
                                                class="form-control input-sm" #Width="ngModel" required>
                                            <div *ngIf="Width.invalid && (Width.dirty || Width.touched)">
                                                <div class="badge badge-danger" *ngIf="Width.errors.required">Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-block d-sm-none">
                                    <div class="form-group"
                                        [ngClass]="Length.invalid && (Length.dirty || Length.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Depth (cm) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Depth" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (ngModelChange)="onHeightWidthDepthChange()"
                                                [(ngModel)]="model.Length" min="0" type="number"
                                                class="form-control input-sm" #Length="ngModel" required>
                                            <div *ngIf="Length.invalid && (Length.dirty || Length.touched)">
                                                <div class="badge badge-danger" *ngIf="Length.errors.required">Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 135px;">
                                    <div class="form-group"
                                        [ngClass]="Length.invalid && (Length.dirty || Length.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Depth (cm) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Depth" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (ngModelChange)="onHeightWidthDepthChange()"
                                                [(ngModel)]="model.Length" min="0" type="number"
                                                class="form-control input-sm" #Length="ngModel" required>
                                            <div *ngIf="Length.invalid && (Length.dirty || Length.touched)">
                                                <div class="badge badge-danger" *ngIf="Length.errors.required">Required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-block d-sm-none">
                                    <div class="form-group"
                                        [ngClass]="WeightModel.invalid && (WeightModel.dirty || WeightModel.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Weight (kg)</span>
                                            <input #Weight placeholder="Weight" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (mouseenter)="onWeightEnter($event)"
                                                (mouseleave)="onWeightLeave($event)" (keyup)="onWeightChange($event)"
                                                 [(ngModel)]="model.Weight" type="text"
                                                class="form-control input-sm" #WeightModel="ngModel">
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 135px;">
                                    <div class="form-group"
                                        [ngClass]="WeightModel.invalid && (WeightModel.dirty || WeightModel.touched) ? 'has-error': ''">
                                        <div class="form-line">
                                            <span class="form-span-label">Weight (kg)</span>
                                            <input #Weight placeholder="Weight" [ngModelOptions]="{standalone: true}"
                                                [disabled]="!canEdit" (mouseenter)="onWeightEnter($event)"
                                                (mouseleave)="onWeightLeave($event)" (keyup)="onWeightChange($event)"
                                                 [(ngModel)]="model.Weight" type="text"
                                                class="form-control input-sm" #WeightModel="ngModel">
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-block d-sm-none">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span class="form-span-label">Volume (m3) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Volume" [ngModelOptions]="{standalone: true}" disabled
                                                [(ngModel)]="volume" min="0" type="number"
                                                class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 135px;">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span class="form-span-label">Volume (m3) <span
                                                    class="text-danger">*</span></span>
                                            <input placeholder="Volume" [ngModelOptions]="{standalone: true}" disabled
                                                [(ngModel)]="volume" min="0" type="number"
                                                class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-block d-sm-none" *ngIf="accountId > 0">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span class="form-span-label">Product Condition</span>
                                            <select [ngModelOptions]="{standalone: true}"
                                                id="modelSelect" class="form-control input-sm"
                                                [(ngModel)]="model.AccountProductConditionId">
                                                <option value=0>0 - Not set</option>
                                                <option *ngFor="let item of accountProductConditionList"
                                                    [value]="item.Id" [attr.data-code]="item.Code"
                                                    [selected]="model.AccountProductConditionId === item.Id">
                                                    {{ item.Description }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 335px;" *ngIf="accountId > 0">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <span class="form-span-label">Product Condition</span>
                                            <select [ngModelOptions]="{standalone: true}"
                                                id="modelSelect" class="form-control input-sm"
                                                [(ngModel)]="model.AccountProductConditionId">
                                                <option value=0>0 - Not set</option>
                                                <option *ngFor="let item of accountProductConditionList"
                                                    [value]="item.Id" [attr.data-code]="item.Code"
                                                    [selected]="model.AccountProductConditionId === item.Id">
                                                    {{ item.Description }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-block d-sm-none" *ngIf="accountId > 0">
                                    <div class="form-group">
                                        <!-- <div class="d-flex">
                                            <div class="form-span-label pull-left">Product Tags</div>
                                            <div>
                                                <a (click)="openManageTag(productTagsCreateEditContent)"><i
                                                    class="fa fa-plus-square primary"></i><small><b> Add Product Tags</b></small></a>  
                                            </div>
                                            <div *ngIf="canEdit" class="ml-auto">
                                                <a (click)="openManageTag(productTagsCreateEditContent)"><i
                                                    class="fa fa-plus-square primary"></i><small><b> Add Product Tags</b></small></a>  
                                            </div>
                                        </div> -->
                                        <div class="d-flex">
                                            <div class="form-span-label pull-left">
                                                    Product Tags  <a (click)="openSearchTag(productTagSearchContent);"><i class="fa fa-search fa-lg primary"></i></a>   
                                            </div>

                                            <div *ngIf="canEdit" class="form-span-label ml-auto">
                                                <a (click)="openManageTag(productTagsCreateEditContent)"><i
                                                    class="fa fa-plus-square fa-lg primary"></i><small><b> Add Product Tags</b></small></a>  
                                            </div>
                                        </div>
                                        <div class="form-line">
                                            <ng-select
                                                [(ngModel)]="tagListSelected"
                                                [ngModelOptions]="{standalone: true}"
                                                [compareWith]="compareFn"
                                                [items]="tagList"
	                                            [multiple]="true"
                                                bindLabel="Name"
                                                bindValue="Id"
                                                appendTo="body"
                                                (add)="addTag($event)"
                                                (remove)="removeTag($event)">
                                             </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-1 d-none d-sm-block" style="width: 335px;" *ngIf="accountId > 0">
                                    <div class="form-group">
                                        <div class="d-flex">
                                            <div class="form-span-label pull-left">
                                                    Product Tags  <a (click)="openSearchTag(productTagSearchContent);"><i class="fa fa-search fa-lg primary"></i></a>   
                                            </div>

                                            <div *ngIf="canEdit" class="form-span-label ml-auto">
                                                <a (click)="openManageTag(productTagsCreateEditContent)"><i
                                                    class="fa fa-plus-square fa-lg primary"></i><small><b> Add Product Tags</b></small></a>  
                                            </div>
                                        </div>
                                       
                                        <div class="form-line">
                                             <ng-select
                                                [(ngModel)]="tagListSelected"
                                                [ngModelOptions]="{standalone: true}"
                                                [items]="tagList"
                                                [multiple]="true"
                                                bindLabel="Name"
                                                bindValue="Id"
                                                appendTo="body"
                                                (add)="addTag($event)"
                                                (remove)="removeTag($event)">
                                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                    <div class="ng-value" *ngFor="let item of items | slice:0:4">
                                                        <span class="ng-value-label">{{item.Name}}</span>
                                                        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                    </div>
                                                    <div class="ng-value" *ngIf="items.length > 4">
                                                        <span class="ng-value-label">{{items.length - 4}} more...</span>
                                                    </div>
                                                </ng-template>
                                          </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <span class="form-span-label">Description </span>
                                    <textarea [ngModelOptions]="{standalone: true}" [disabled]="accountId === 0"
                                        [(ngModel)]="model.Description" class="form-control input-sm"
                                        style="height:70px!important" #Description="ngModel"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-btn-logs" [ngClass]="{'product-btn-show': isLogsClicked}">
                        <div class="col-sm-12" >
                            <button class="w-100 text-white" type="button" (click)="showAdvanceLogs()">
                                <i *ngIf="!isLogsClicked" class="fa fa-eye" aria-hidden="true"></i>
                                <i *ngIf="isLogsClicked" class="fa fa-eye-slash" aria-hidden="true"></i>
                                {{btnLogsLabel}} Advance Logs
                            </button>
                        </div>
                    </div>
                    <div class="row product-qty-base" [ngClass]="{'product-qty-selected': isLogsClicked}" *ngIf="accountId > 0" >
                        <div class="col-sm-12">
                            <div [hidden]="mode !== 'edit'" class="card" style="height: 700px">
                                <div class="card-header">
                                    <div class="pull-left">
                                        <span style="font-size: 85%;text-transform: uppercase;">Total Actual Quantity:
                                        </span><span class="badge badge-success">{{ model.CurrentQty }}</span>
                                    </div>
                                </div>
                                <div class="card-body shadow-border">
                                    <app-account-products-qty-component #accountProductQty>
                                    </app-account-products-qty-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <div class="d-flex">
                        <div>
                            <button [disabled]="showSpinner" *ngIf="issuperadmin() || accountId > 0" type="submit" class="btn btn-xs mt-3"
                                [ngClass]="isFormInvalid() ? 'btn-default disabled' : 'btn-success'"><i
                                    class="fa fa fa-check-circle fa-lg "></i> Save &nbsp;
                            </button>
                        </div>
                        <div *ngIf="model.CreatedDate" class="ml-auto">
                            <button [disabled]="showSpinner" *ngIf="canEdit || model.AccountHasThisProduct" type="button"
                            class="btn btn-xs btn-danger mt-3 mr-2" (click)="prouctDeleteConfirm(productDeleteConfirmContent)"><i
                                class="fa fa-trash fa-lg"></i> Delete &nbsp;</button>
                            <div class="card-body shadow-border pull-right">

                                <span *ngIf="model.AccountId === 0" class="badge badge-success">System Product</span>
                                <button *ngIf="model.AccountId > 0 && issuperadmin()" type="button"
                                    class="btn btn-xs btn-success" (click)="confirmChangeSystemProduct();"><i
                                        class="fa fa-random"></i> Change to System Product &nbsp;</button>
                                <a></a>
                                Created :
                                <span>
                                    <strong> {{ model.CreatedByName }} </strong> on <small> {{ model.CreatedDate | date : 'dd-MM-yyyy, h:mm a' }} </small>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #productDeleteConfirmContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete Product</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div *ngIf="isSuperAdmin" class="alert alert-warning"><i class="fa fa-info-circle">&nbsp;</i>This will delete
            the product and existing quanties in stock to all Accounts.</div>
        <p>{{ deleteProductMessage }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="delete();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #productDeleteConfirm let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this product on your database? </p>
        <p *ngIf="model.CurrentQty > 0">It currently has {{ model.CurrentQty }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="" class="btn btn-primary" (click)="delete();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>

<ng-template #productModelCreateEditContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Create Model</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <!-- <div class="form-group mb-1">
                        <span class="form-span-label">Short Code</span>
                        <input  tabindex="1" [disabled]="true" [(ngModel)]="productModelModel.ShortCode" type="text" class="form-control input-underline input-sm" id="" placeholder="(Auto Generated)">
                    </div> -->
                    <div class="form-group mb-1">
                        <span class="form-span-label">Name</span>
                        <input tabindex="2" [(ngModel)]="productModelModel.LongName" type="text"
                            class="form-control input-underline input-sm" id="productModelModelName" placeholder="Name">
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Description</span>
                        <textarea tabindex="3" [(ngModel)]="productModelModel.Description" type="text"
                            class="form-control input-underline input-sm" id="" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group mb-1" style="height: 500px; overflow: auto;">
                        <table class="table table-hover table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <!-- <th>Short Code</th> -->
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th class="text-align">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="productGroupListCount === 0">
                                    <td colspan="4" class="text-center">
                                        No Records to Display
                                    </td>
                                </tr>
                                <tr *ngFor="let item of productGroupList" (click)="editProductModel(item)">
                                    <!-- <td>{{ item.ShortCode }}</td> -->
                                    <td>{{ item.LongName }}</td>
                                    <td>{{ item.Description }}</td>
                                    <td class="text-center" style="width:15%">
                                        <a (click)="editProductModel(item)"><i><span
                                                    class="fa fa-pencil warning"></span></i></a> &nbsp;
                                        <a (click)="productModelDeleteConfirm(productModelDeleteConfirmContent,item)"><i><span
                                                    class="fa fa-trash danger"></span></i></a> &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveProductModel();">Save</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #productTagSearchContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Select Product Tag To Be Added</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group mb-1" style="height: 500px; overflow: auto;">
                        <div class="form-group w-50">
                            <input tabindex="2" [(ngModel)]="search" type="text" (input)="filterTagList(search)"
                            class="form-control input-underline input-sm" id="tag" placeholder="Search">
                        </div>
                        <table class="table table-hover table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <!-- <th>Created Date</th>
                                    <th class="text-align">Actions</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="completeTagList === 0">
                                    <td colspan="4" class="text-center">
                                        No Records to Display
                                    </td>
                                </tr>
                                <tr *ngFor="let item of completeTagList" (click)="editProductModel(item)">
                                    <td (click)="addTag(item)">{{ item.Name }}</td>
                                    <!-- <td>{{ item.CreatedDate | date : 'dd-MM-yyyy, h:mm a' }}</td>
                                    <td class="text-center" style="width:15%">
                                        <a (click)="addTag(item)"><i><span
                                                    class="fa fa-plus warning"></span></i></a> &nbsp;
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #productTagsCreateEditContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Create Product Tags</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group w-50 mb-1">
                        <span class="form-span-label">Name</span>
                        <input tabindex="2" [(ngModel)]="tagModel.Name" type="text"
                            class="form-control input-underline input-sm" id="tag" placeholder="Tag">
                    </div>
                    <div class="form-group mb-1" style="height: 500px; overflow: auto;">
                        <table class="table table-hover table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <!-- <th>Short Code</th> -->
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th class="text-align">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="tagList.length === 0">
                                    <td colspan="4" class="text-center">
                                        No Records to Display
                                    </td>
                                </tr>
                                <tr *ngFor="let item of completeTagList" (click)="editProductTag(item)">
                                    <td>{{ item.Name }}</td>
                                    <td>{{  formatSwedishDate(item.CreatedDate) }}</td>
                                    <td class="text-left" style="width:15%">
                                        <a (click)="editProductTag(item)"><i><span
                                                    class="fa fa-pencil warning"></span></i></a> &nbsp;
                                        <a (click)="productTagDeleteConfirm(productTagDeleteConfirmContent,item)"><i><span
                                                    class="fa fa-trash danger"></span></i></a> &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!isTagNameValid()" class="btn btn-primary" (click)="saveTag();c('Close click');">Save</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #productTagDeleteConfirmContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete Product Tag</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Product Tag?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteProductTag();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #productModelDeleteConfirmContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete Model</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Model?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteProductModel();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
<!-- @TODO : Transfer to another component -->
<ng-template #cartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-12 pr-4">
                <div class="row">
                    <!-- PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong>  -->
                </div>
                <div class="row">
                    <app-account-products-current-qty-list-component style="width: 100%;"
                        (recalculateQty)="recalculateQty($event)" [productId]="accountProductModel.ProductId"
                        #accountProductCurrentQtyList></app-account-products-current-qty-list-component>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Total Qty</span>
                            <input min="0" type="number" [(ngModel)]="cartModel.Quantity"
                                 class="cart-qty-final-input" placeholder="0" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-vertical"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity" class="btn btn-success btn-lg"
            (click)="addToCart();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
<!-- @TODO : Transfer to another component -->
<ng-template #confirmCartContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;"></h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 pt-3">
            <div class=" d-flex justify-content-center align-items-center">
                <i class="fa fa-check-circle success fa-3x pr-4"></i>
                <h3 class="m-0">You have added a product to your cart, do wish to do something else?</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg" (click)="addMoreProducts(); c('Close click')">Add more
            products</button>
        <button type="button" class="btn btn-success btn-lg" (click)="checkOut();c('Close click')">Checkout</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<!-- @TODO : Transfer to another component -->
<ng-template #productQuantityFormContent let-c="close" let-d="dismiss">
    <div [hidden]="!showAddQuantitySpinner">
        <app-spinner></app-spinner>
    </div>
    <div class="modal-header d-flex justify-content-center align-items-center   ">
        <div class="pull-left"><span><i class="{{ confirmIconClass }}"></i></span></div> &nbsp;&nbsp;
        <h4 class="modal-title product-modal-header">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div>
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-12 px-1 pull-left "><span>{{ confirmPopupMessage }}</span></div>
                <div class="col-xs-12 col-sm-12 px-1 input-group-prepend">
                    <label class="form-span-label qty-label" ><span>{{ qtyLabel }}:</span></label>
                    <div class="d-flex align-items-center">
                        <div class="ml-2">
                            <input style="width: 50px;" oninput="validity.valid||(value='');" min="0" [disabled]="!enableQty" [(ngModel)]="accountProductModel.QuantityOnStock" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                        </div>
                    </div>
                    <div class="d-flex align-items-center mr-2">
                        <label style="margin-left: 350px;" class="form-span-label qty-label" ><span>Available Date:</span></label>
                        <div class="ml-2">
                            <input style="width: 220px;" class="form-control input-sm ml-2" type="date" id="availableDate" name="availableDate" [(ngModel)]="accountProductModel.AvailableDate">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [hidden] ="hasLocationData">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-12 empty-data">
                    <label for="">No data to show</label>
                </div>
            </div>
        </div>

        <div [hidden] ="!showLevelOne">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of locationOneList">
                    <div style="display: flex;">
                        <div class="location-radio-button-group">
                            <input style="margin: auto;" type="radio" id="location-level-one-{{ location.Id }}" [value]="location.Id" (click)="onLevelOneClick($event)" [checked]="location.isSelected" >
                        </div>
                        <label class="form-control location-label">{{ location.Name }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="level-two-div" [hidden] ="!showLevelTwo">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of filteredLocationTwoList">
                    <div style="display: flex;">
                        <div class="location-radio-button-group">
                            <input style="margin: auto;" type="radio" id="location-level-two-{{ location.Id }}" [value]="location.Id" (click)="onLevelTwoClick($event)" [checked]="location.isSelected"  >
                        </div>
                        <label class="form-control location-label">{{ location.Name }}</label>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="level-three-div" [hidden]="!showLevelThree">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of filteredLocationThreeList">
                    <div style="display: flex;">
                        <div class="location-radio-button-group">
                            <input style="margin: auto;" type="radio" id="location-level-three-{{ location.Id }}" [value]="location.Id" (click)="onLevelThreeClick($event)" [checked]="location.isSelected" >
                        </div>
                        <label class="form-control location-label" >{{ location.Name }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="level-fourth-div" [hidden]="!showLevelFour">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-3 px-1 form-line mb-1" *ngFor="let location of filteredLocationFourList">
                    <div style="display: flex;">
                        <div class="location-radio-button-group">
                            <input style="margin: auto;" type="radio" id="location-level-four-{{ location.Id }}" [value]="location.Id" (click)="onLevelFourClick($event)" [checked]="location.isSelected" >
                        </div>
                        <label class="form-control location-label" >{{ location.Name }}</label>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="disableAddQtySaving()" (click)="saveProductToAccount();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
    </div>
</ng-template>
<ng-template #productTransferQtyFormContent let-c="close" let-d="dismiss">
    <div [hidden]="!showMoveQuantitySpinner && allLocationsCopy.length > 0">
        <app-spinner></app-spinner>
    </div>
    <div class="modal-header d-flex justify-content-center align-items-center">
        <div class="pull-left"><span><i class="{{ confirmIconClass }}"></i></span></div> &nbsp;&nbsp;
        <h4 class="modal-title product-modal-header">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body" >
        <div class="test-test">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-12 px-1 pull-left ">
                    <span>Move product quantity to another location</span>
                </div>
            </div>
        </div>
        <!-- <label class="form-control location-label" [ngStyle]="{ 'visibility' : location.Id > 0 ? 'visible' : 'hidden' }">{{ location.Name }}</label> -->
        <div *ngIf="allLocationsCopy.length > 0">
            <div class="location-border-detail">
                <h2 class="font-weight-bold mb-3" style="padding-top: 50px;">FROM</h2>
                <div style="display: flex;" *ngFor="let item of mergedLocations">
                    <div style="width: 200px; margin-right: 10px; display: grid;" *ngFor="let location of item.location; let i = index;">
                        <div style="display: flex;" *ngIf="getItemQuantity(item) > 0">
                            <div *ngIf="i === 0" class="location-radio-button-group input-group-text">
                                <input class="location-radio-button" type="radio" 
                                    (click)="onSourceLocationClick(item); accountProductModel.QuantityOnStock = availableQtyTobeMoved; qtyToMove.focus()" [checked]="location.isSelected">
                            </div>
                            <label *ngIf="item.location[i].Id > 0" class="location-label form-control">{{ location.Name }}
                                <span>
                                    
                                </span>
                            </label>
                            <input *ngIf="i == (item.location.length - 1)" disabled="true" oninput="validity.valid||(value='');" 
                                style="text-align: center;" [value]="getItemQuantity(item)" min="0" type="number" id="quantity" placeholder="0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 location-border-detail">
                <div class="col-md-12 input-group-prepend" style="padding: 0;">
                    <div class="col-md-6" style="display: flex; padding: 0;">
                        <label class="form-span-label qty-label" ><span>Quantity to be moved:</span></label>
                        <div>
                            <div [ngClass]="moveQtyExceed ? 'has-error' : ''">
                                <input #qtyToMove style="width: 50px;" oninput="validity.valid||(value='');" min="0" [max]="availableQtyTobeMoved == 0 ? 0 : availableQtyTobeMoved" class="form-control input-sm" (change)="onMoveQuantityValueChange()" [(ngModel)]="accountProductModel.QuantityOnStock" type="number" id="quantity" placeholder="0" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: end; padding: 0;">
                        <label *ngIf="mode !== 'create'" class="form-span-label qty-label" ><span>Total Qty:</span></label>
                        <div *ngIf="mode !== 'create'" >
                            <div class="">
                                <input [disabled]="true" style="width: 50px;" oninput="validity.valid||(value='');" min="0" [(ngModel)]="availableQtyTobeMoved" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- TO -->
            <div class="location-border-detail " [hidden]="hideDestination">
                <h2 class="font-weight-bold mb-3" style="padding-top: 70px;">TO</h2>
                <div class="ov-y-product">
                    <div style="display: flex;" *ngFor="let item of allLocations">
                        <div style="width: 200px; margin-right: 10px; display: grid;" *ngFor="let location of item.location; let i = index;">
                            <div style="display: flex;">
                                <div *ngIf="i === 0" class="location-radio-button-group">
                                    <input type="radio" style="margin: auto;"
                                        (click)="onDestinationLocationClick(item)" [checked]="location.isSelected">
                                </div>
                                <label *ngIf="item.location[i].Id > 0" class="location-label form-control">{{ location.Name }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="disableMoveQtySaving()" class="btn btn-primary" (click)="moveProductToAccount(c)">Move</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #imageModal let-c="close" let-d="dismiss">
    <div class="modal-body m-4" id="imagePreviewModal">
        <div class="bg-white rounded-circle px-3 py-2"
            style="cursor: pointer; position: absolute; display: block; right: 20px; top: 20px; z-index: 100;" (click)="isImageRotated ? null : c('closed'); closeImage();">
            <i class="fa fa-close fa-2x"></i>
        </div>
        <div id="modalPreviewImage">
            <img class="product-image-preview" src="{{ focusPhotoSrc }}"/><br />
            <div [hidden]="!isImageRotated">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div style="z-index: 100;">
            <div class="vertical-center btn-rotate">
                <button [disabled]="isImageRotated" class="btn btn-lg btn-light" type="button" (click)="rotateImage(-90)"><div style="font-size:18px;"><i class="fa fa-undo fa-sm" aria-hidden="true"></i></div></button>
                <button [disabled]="isImageRotated" class="btn btn-lg btn-light" type="button" (click)="rotateImage(90)"><div style="font-size:18px;"><i class="fa fa-repeat fa-sm" aria-hidden="true"></i></div></button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #confirmChangeSystemProductContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Confirmation</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to change as System Product?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"
            (click)="changeToSystemProduct(model);c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template class="product-qr-code-modal" #productQRCode let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <a type="button" style="padding-left: 90% ;" class="pull-right" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div style="text-align: center;">
            <span>
                <h4> {{ model.ProductName }} </h4>
            </span><br />
            <span>
                <h6> {{ model.ProductNumber }} </h6>
            </span>
            <div>
                <qrcode style="text-align: center;" [qrdata]="productDetailsPublicPath" [size]="256" [level]="'L'">
                </qrcode>
            </div>
        </div>
    </div>
</ng-template>
