.product-in-account {
    background-color: #e9ecef !important;
}

.product-tile-action {
    padding-bottom: 10px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 42px;
}
.product-tile-action button {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}

/* PRODUCT DETAIL */

.product-primary h1 {
    font-size: 24px;
    line-height: normal;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-secondary h4,
h4.product-title {
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.location-border-header,
.location-border-detail {
    border: 1px solid #d3d3d3;
}

.location-border-detail {
    padding: 10px 10px;
}

.product-info {
    line-height: 22px;
    font-weight: bold;
    color: gray;
}

.product-image a {
    border: 1px solid rgba(0, 0, 0, 0.065);
    color: #666;
    float: right;
    position: absolute;
    margin-left: 5px;
    /* right: 60px; */
    top: 5px;
    padding: 5px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7);
}

.product-image a:hover {
    color: red;
}

.product-image > .col-md-6 {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.slider-title {
    font-weight: bold;
    font-size: 20px;
}

.card-slider {
    border-top: 4px solid #333;
    border-bottom: 4px solid #333;
}
.image-slider ul {
    list-style: none;
    padding-inline-start: 0px !important;
    padding-top: 10px;
}

.image-slider li {
    display: inline;
}

.image-slider img {
    width: 143px;
}

.navigation-close {
    float: right;
    position: absolute;
    margin-left: 5px;
    padding: 5px;
    z-index: 5;
    right: 0px;
}

.products-tile .product-info-edit {
    /* position: absolute; */
    /* bottom: 10px; */
    /* right: 15px; */
    padding-right: 10px;
    float: right;
    font-size: 15px;
}
.product-image {
    max-height: 400px;
    background-size: cover;
}

.location-label {
    text-align: justify;
    height: auto;
    /* padding-top: 7px;
    margin-top: 5px; */
}

.qty-label {
    margin-top: 5px;
}

.location-radio-button-group {
    height: auto;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: grid;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 5px;
    /* margin-top: 5px;
    padding-top: 8px; */
}

#quantity {
    margin: 0px 0px 5px 5px;
    width: 50px;
    font-size: 10px;
}

.level-two-div,
.level-third-div,
.level-fourth-div {
    margin-top: 10px;
}

.product-modal-header {
    font-size: 16px;
}

.empty-data {
    text-align: center;
}

.container {
    position: relative;
    margin-top: 35px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    bottom: -124px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

::ng-deep .my-class .modal-dialog {
    max-width: 80vw;
    width: 80vw;
    overflow-y: auto;
    overflow-x: hidden;
    height: 220vh !important;
}

.dropzone {
    width: 100%;
    height: 164px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin-top: 10px;
    margin-bottom: 8px;
}

.dropzone-label {
    font-size: 16px;
    font-weight: 600;
    color: #38424c;
    margin-top: 10px;
}

.browse-label {
    color: white;
    width: 183px;
    height: 43px;
    border-radius: 21.5px;
    background-color: #3385ff;
    padding: 8px 16px;
}

.photos .delete-photo {
    position: relative;
}

.qrcode {
    width: 100% !important;
    height: 100% !important;
}
.default-photo {
    position: absolute;
    right: 6px;
}
.col-sm-2 {
    flex: 0 0 18.666667% !important;
    max-width: 22.666667% !important;
}
.qrcode,
canvas {
    height: 133px !important;
    width: 134px !important;
    border: 1px solid;
}
#modalPreviewImage {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.vertical-center.btn-rotate {
    bottom: 0;
    padding-bottom: 30px;
}

.ov-y-product {
    max-height: 400px;
    overflow-y: scroll;
}

/* Override styles */

.input-group-prepend{
    display: -webkit-box;
}

.location-qty {
    float: right;
}

.main-photo-url {
    height:35px; width: 30px; border: 1px solid #ddd; background-position: center; background-repeat: no-repeat; background-size: cover;
}

.location-item {
    width: 200px; 
    margin-right: 10px;
}


