<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="product-booking">
    <div class="row">
        <div class="col-md-12">
            <form class="card" method="post" enctype="multipart/form-data" (ngSubmit)="saveChanges()">
                <div class="card-header sub-header">
                    Product Booking
                    <div class="pull-right">
                        <a (click)="navigateToList(bookingUnsavedChanges)" class="pr-3" class="close-button">
                            <i class="fa fa-times-circle default fa-3x"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body shadow-border">
                    <div class="col-sm-4">
                        <div class="row" style="padding-left: 16px; padding-right: 18px;">
                            <div class="card-header" style="margin-bottom: 5px;">
                                <div class="pull-left">
                                    <span style="font-size: 85%;text-transform: uppercase;">{{ productNumber + ' - ' + productName }}</span>
                                </div>
                            </div>
                            <div class="col-sm-12 card-body shadow-bordercard-body shadow-border">
                                <ngb-tabset #t="ngbTabset" [destroyOnHide]="false">
                                    <ngb-tab id="tab-actual-qty" title="Actual Quantity">
                                        <ng-template ngbTabContent>
                                            <app-account-products-current-qty-list-component [canEmitLocation]="true" (emitLocation)="emitLocation($event)"
                                                *ngIf="showQuantityLogs" (mergedLocations)="mergedLocations($event)" #accountProductCurrentQtyList>
                                            </app-account-products-current-qty-list-component>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="col-sm-6 px-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <span class="form-span-label">Source Location <span
                                            class="text-danger">*</span></span>
                                        <select [disabled]="showSpinner" style="width: 100%;" [ngModelOptions]="{standalone: true}" required
                                            id="locationSelect" class="form-control input-sm"
                                            [(ngModel)]="bookFormModel.SourceLocationId" (change)="locationChange($event.target.value, true)"
                                            #locationSelect>
                                        <option value='0'>Select Location</option>
                                        <option *ngFor="let item of sourceLocations" [value]="item.id"
                                            [attr.data-code]="item.name">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 px-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <span class="form-span-label">Destination Location <span
                                            class="text-danger">*</span></span>
                                        <select [disabled]="showSpinner" style="width: 100%;" [ngModelOptions]="{standalone: true}" required
                                            id="locationSelect" class="form-control input-sm"
                                            [(ngModel)]="bookFormModel.DestinationLocationId" (change)="locationChange($event.target.value)"
                                            #locationSelect>
                                        <option value='0'>Select Location</option>
                                        <option *ngFor="let item of destinationLocations" [value]="item.id"
                                            [attr.data-code]="item.name">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex" style="padding-right: 2%;">
                            <div class="col-sm-2 px-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <span class="form-span-label">Quantity <span
                                            class="text-danger">*</span></span>
                                        <input [disabled]="showSpinner" style="width: 100%; margin: 0;" placeholder="Quantity" type="number" [ngModelOptions]="{standalone: true}"
                                            id="quantity" [(ngModel)]="bookFormModel.Quantity" min="0"
                                            class="form-control input-sm" #Quantity="ngModel" required/>
                                        <div *ngIf="Quantity.invalid && (Quantity.dirty || Quantity.touched)">
                                            <div class="badge badge-danger" *ngIf="Quantity.errors.required">Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 px-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <span class="form-span-label">Date <span
                                            class="text-danger">*</span></span>
                                        <input [disabled]="showSpinner" style="width: 100%; margin: 0;" placeholder="Date" type="date" [ngModelOptions]="{standalone: true}"
                                            id="quantity" [(ngModel)]="bookFormModel.BookedDate"
                                            class="form-control input-sm" #BookedDate="ngModel" required>
                                        <div *ngIf="BookedDate.invalid && (BookedDate.dirty || BookedDate.touched)">
                                            <div class="badge badge-danger" *ngIf="BookedDate.errors.required">Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 px-1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <span class="form-span-label">Room</span>
                                        <input [disabled]="showSpinner" style="width: 100%; margin: 0;" placeholder="Room" type="text" [ngModelOptions]="{standalone: true}"
                                            id="quantity" [(ngModel)]="bookFormModel.Room" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 px-1">
                            <div class="form-group">
                                <div class="form-line">
                                    <span class="form-span-label">Comment</span>
                                    <textarea [disabled]="showSpinner" class="form-control input-sm" style="height:70px!important"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="bookFormModel.Comment" 
                                        #Description="ngModel"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left" style="margin-top: 10px;">
                            <button [disabled]="checkRowDataHasChanges()" type="submit" class="btn btn-xs mb-3" [ngClass]="'btn-success'">
                                <i class="fa fa-check-circle"></i> Save{{numberOfUnsaved == 0 ? '' : ' (' + numberOfUnsaved + ')'}} &nbsp;
                            </button>
                        </div>
                        <div class="pull-right" style="margin-top: 10px;">
                            <button [disabled]="showSpinner || !hasValidFormData" type="button" (click)="addProductBooking()" class="btn btn-xs" [ngClass]="'btn-primary'">
                                <i class="fa fa-plus-circle fa-lg"></i> {{!isEdit ? "Add to" : "Update"}} list &nbsp;
                            </button>
                        </div>
                    </div>
                    <div class="row col-sm-8" style="margin-bottom: 60px;">
                        <button type="button" *ngIf="isSelectAll" (click)="selectAllForPrintLabel()" class="btn btn-xs mb-3 mr-2" [ngClass]="'btn-primary'">
                            <i class="fa fa-check"></i> Select All &nbsp;
                        </button>
                        <button type="button" *ngIf="!isSelectAll" (click)="selectAllForPrintLabel()" class="btn btn-xs mb-3 mr-2" [ngClass]="'btn-primary'">
                            <i class="fa fa-check"></i> Deselect All &nbsp;
                        </button>
                        <button type="button" (click)="printBookedLabels()" class="btn btn-xs mb-3" [ngClass]="'btn-primary'">
                            <i class="fa fa-print"></i> Print Product Booked Labels &nbsp;
                        </button>
                        <div class="col-sm-12 px-1" style="height: 40vh"> 
                            <ag-grid-angular style="width: 100%; height: calc(100%);" class="ag-theme-balham" multiSortKey="ctrl"
                                [enableCellChangeFlash]="true" [enableBrowserTooltips]="true" [frameworkComponents]="frameworkComponents"
                                [pagination]="false" [singleClickEdit]="true" [rowData]="rowData"
                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowSelection]="'multiple'"
                                (gridReady)="onGridReady($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #bookingUnsavedChanges let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Are you sure you want to leave?</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>There are unsaved changes. Please save these changes before leaving if you dont want to lose these changes.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Yes')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Cancel')">Cancel</button>
    </div>
</ng-template>

<ng-template #productTransferQtyFormContent let-c="close" let-d="dismiss">
    
    <div class="modal-header d-flex justify-content-center align-items-center">
        <div class="pull-left"><span><i class="Move Product"></i></span></div> &nbsp;&nbsp;
        <!-- <h4 class="modal-title product-modal-header">{{ model.ProductName }} - {{ model.ProductNumber }}</h4> -->
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body" >
        <div class="test-test">
            <div class="col-md-12 location-border-detail">
                <div class="col-xs-12 col-sm-12 px-1 pull-left ">
                    <span>Move product quantity to another location</span>
                </div>
            </div>
        </div>
        <div>
            <div class="location-border-detail">
                <h2 class="font-weight-bold mb-3" style="padding-top: 50px;">FROM</h2>
                <div style="display: flex;">
                    <div class="location-item" *ngFor="let location of moveProductSourceLocation; let i = index;">
                        <div style="display: flex;">
                            <div *ngIf="i == 0" class="location-radio-button-group input-group-text">
                                <input class="location-radio-button" type="radio" 
                                    (click)="onSourceLocationClick(item)" [checked]="location.isSelected">
                            </div>
                            <label class="location-label form-control">{{ location }}
                                <span>
                                    
                                </span>
                            </label>
                            <input *ngIf="i === moveProductSourceLocation.length-1" disabled="true" oninput="validity.valid||(value='');" 
                                style="text-align: center;" [value]="productToBeModeQty" min="0" type="number" id="quantity" placeholder="0">
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 location-border-detail">
                <div class="col-md-12 input-group-prepend" style="padding: 0;">
                    <div class="col-md-6" style="display: flex; padding: 0;">
                        <label class="form-span-label qty-label" ><span>Quantity to be moved:</span></label>
                        <div>
                            <div>
                                <input style="width: 50px;" oninput="validity.valid||(value='');" min="0" [max]="productToBeModeQty" class="form-control input-sm" (change)="onMoveQuantityValueChange()" [(ngModel)]="productToBeMoveQuantityOnStock" type="number" id="quantity" placeholder="0" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: end; padding: 0;">
                        <label class="form-span-label qty-label" ><span>Total Qty:</span></label>
                        <div>
                            <div class="">
                                <input [disabled]="true" style="width: 50px;" oninput="validity.valid||(value='');" min="0" [(ngModel)]="productToBeModeQty" class="form-control input-sm" type="number" id="quantity" placeholder="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="location-border-detail" [hidden]="hideDestination">
                <h2 class="font-weight-bold mb-3" style="padding-top: 70px;">TO</h2>
                <div class="ov-y-product">
                    <div style="display: flex;" *ngFor="let item of destinationLocations">
                        <div style="width: 200px; margin-right: 10px;" *ngFor="let location of splitDestination(item.name); let i = index;">
                            <div style="display: flex;">
                                <div *ngIf="i === 0" class="location-radio-button-group input-group-text">
                                    <input class="location-radio-button" type="radio" name="destination" (click)="onDestinationLocationClick(item)" [checked]="location.isSelected">
                                </div>
                                <label class="location-label form-control">{{ location }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="(!productToBeMoveQuantityOnStock || productToBeMoveQuantityOnStock == 0) || (!moveProductDestinationLocationIds || moveProductDestinationLocationIds.length == 0)" (click)="moveProductToAccount(c)">Move</button>
        <button type="button" class="btn btn-default" (click)="c('Close click'); hideDestination = true; productToBeMoveQuantityOnStock = 0">Cancel</button>
    </div>
</ng-template>
