<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="products-locations-component">
    <div class="col-sm-12 px-0">
        <div class="card">
            <div class="card-body shadow-border">
                <div class="pull-right">
                    <span><i class="fa fa-map-marker fa-lg danger"></i></span>
                </div>
                <strong *ngIf="!productLocation">No Location Set</strong>
                <div *ngIf="productLocation" class="from-group">
                    <div *ngIf="productLocation.LocationLevelOneName && productLocation.LocationLevelOneName !== ' '"><small><b> {{ productLocation.LocationLevelOneName }} </b></small><br /></div>
                    <div *ngIf="productLocation.LocationLevelTwoName && productLocation.LocationLevelTwoName !== ' '"><small ><b> {{ productLocation.LocationLevelTwoName }} </b></small><br /></div>
                    <div *ngIf="productLocation.LocationLevelThreeName && productLocation.LocationLevelThreeName !== ' '"><small><b> {{ productLocation.LocationLevelThreeName }} </b></small></div>
                </div>
            </div>
        </div>
    </div>
</div>