<!-- <app-cart-navigation #cartNav [hidden]="isSuperAdminOrAdmin()"></app-cart-navigation> -->
<div class="products" [@componentsTransition]>
    <div class="row">
        <div class="col-md-12 mt-2">
                <button *ngIf="isToggled()" class="navbar-toggler" type="button" (click)="toggleSidebar()">
                    <i class="fa fa-2x fa-chevron-circle-right" style="color:#000" aria-hidden="true"></i>
                </button>

           
            <!-- [hidden]="!this.isAdmin()" -->
            <div class="form-group pull-right">
                <div class="form-line">
                    <select id="ownerSelect" class="form-control input-sm" [(ngModel)]="selectedOwner" (change)="ownerChange($event.target)" #ownerSelect>
                        <option *ngIf="isAdmin() || isEditor() || isSuperAdmin" value="0">System Products</option>

                        <ng-container *ngIf="isSuperAdmin; else accountOnly">
                            <option *ngFor="let acc of accounts" [value]="acc.Id">{{acc.Company}}</option>
                        </ng-container>
                        <ng-template #accountOnly>
                            <option value="{{ currentAccountId() }}" selected="selected">{{ currentUser?.currentUserRaw?.Account?.Company }}</option>
                        </ng-template>
                    </select>
                    <!-- <select [disabled]="showSpinner" *ngIf="!isSuperAdmin" id="ownerSelect" class="form-control input-sm" [(ngModel)]="selectedOwner" (change)="ownerChange($event.target)" #ownerSelect>
                        <option *ngIf="isAdmin()" value="0">System Products</option>
                        <option value="{{ currentAccountId() }}" selected="selected">{{ currentUser?.currentUserRaw?.Account?.Company }}</option>
                    </select>
                    <select [disabled]="showSpinner" *ngIf="isSuperAdmin" id="ownerSelect" class="form-control input-sm" (change)="ownerChange($event.target)" #ownerSelect>
                        <option value="0">System Products</option>
                    </select> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header sub-header">
                   <div class="pull-left flex" *ngIf="productDisplayType !== 3">
                       <span class="pl-lg-4">(Total Product: <span class="font-weight-normal">{{totalRecords}}</span>)</span>
                       <section class="pl-3">
                            <span class="badge badge-success" ngbTooltip="# of records displayed" placement="bottom" triggers="mouseenter:mouseleave">{{ currentDispayRageFrom() }}</span>  of
                            <span class="badge badge-success" ngbTooltip="# of records in total" placement="bottom" triggers="mouseenter:mouseleave">{{ currentDispayRageTo() }}</span> &nbsp;
                            <span [hidden]="ownerFilterValue === 0 || isSuperAdmin" class="badge badge-primary" ngbTooltip="total # of qtys for all products" placement="bottom" triggers="mouseenter:mouseleave">{{ totalRecords }}</span>
                       </section>
                   </div>
                   <div class="pull-left flex" *ngIf="productDisplayType === 3">
                    <span class="pl-lg-4 font-weight-normal">Total Product: <span class="font-weight-bold">{{totalRecords}}</span></span>
                    </div>
                   <div class="pull-right">
                        <!-- <span class="badge badge-success"> {{ cartCount }} </span>
                        <a *ngIf="!isSuperAdminOrAdmin()" (click)="goToCart()" href="javascript:void(0)">
                            <i class="fa fa-shopping-cart fa-lg success"></i>
                        </a> -->
                        <!-- <a *ngIf="isSuperAdminOrAdmin()" (click)="downloadImages()"><i class="fa fa-file-archive-o warning"></i> Download Images &nbsp;</a> -->
                        <a *ngIf="isSuperAdminOrAdmin() || isEditor()" (click)="printProductLabels()"><i class="fa fa-print success"></i> Print Product Labels &nbsp;</a>
                        <a *ngIf="isSuperAdminOrAdmin() || isEditor()" (click)="printBookedLabels()"><i class="fa fa-print success"></i> Print Product Booked Labels &nbsp;</a>
                        <a *ngIf="isSuperAdminOrAdmin() || isEditor()" (click)="exportToCSV()"><i class="fa fa-file-excel-o success"></i> Excel Export &nbsp;</a>
                        <a *ngIf="isSuperAdminOrAdmin() || isEditor()" (click)="exportToPDF()"><i class="fa fa-file-pdf-o danger"></i> Print PDF &nbsp;&nbsp;&nbsp;</a>
                        <a *ngIf="(isSuperAdminOrAdmin() || isEditor()) && accountProductsListAgGrid" (click)="exportToPDF(true)"><i class="fa fa-file-pdf-o danger"></i> Print PDF (Picture)&nbsp;&nbsp;&nbsp;</a>
                        <a *ngIf="(isadmin() || isEditor() )&& selectedOwner !== 0" (click)="navigateToCreate()"><i class="fa fa-plus-square primary"></i> Add a new {{ productsHeader.slice(0, -1) }} </a>

                        <button type="button" *ngIf="!isSuperAdmin" (click)="goToCart()" class="btn btn-success btn-md ml-2">
                                {{ cartCount }} <i class="fa fa-shopping-cart fa-lg"></i>
                            </button>
                            <button type="button" *ngIf="!isSuperAdmin" (click)="goToHistory()" class="btn btn-success btn-md">
                                <i class="fa fa-history fa-lg"></i>
                            </button>
                   </div>
                </div>
                <div class="card-body">
                    <div class="row px-4 mx-1 pb-1 pt-1">
                        <div class="col-md-2">
                            <div class="pt-1 row">
                                <div *ngIf="ownerFilterValue !== 0 && (isAdmin() || isEditor())" class="form-group">
                                    <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="showBtnModel">
                                        <label class="btn-success" ngbButtonLabel>
                                            <input [disabled]="showSpinner" type="radio" ngbButton [value]="0" (click)="qtyChange(0)"> All
                                        </label>
                                        <label class="btn-success" ngbButtonLabel>
                                            <input [disabled]="showSpinner" type="radio" ngbButton [value]="1" (click)="qtyChange(1)"> With Qty
                                        </label>
                                    </div>
                                </div>
                                &nbsp;
                               <div class="form-group">
                                    <a class="toggle-product-view-link" (click)="toggleView(3)"><i class="fa fa-table" [ngClass]="{'success' : productDisplayType === 3}"></i></a>
                                    <a class="toggle-product-view-link" (click)="toggleView(4)"><i class="fa fa-th" [ngClass]="{'success' : productDisplayType === 4}"></i></a>
                               </div>
                            </div>
                            <div class="form-group row">
                                <div class="input-group mb-3">
                                    <input type="search" [disabled]="showSpinner" style="max-width: 200px;" class="form-control input-sm" placeholder="Search..." #searchProduct id="searchProduct" (keydown.enter)="searchByKeyword()" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success" (click)="searchByKeyword()" style="height: 34px;">Go</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="d-flex">
                                <div class="col px-2 form-group">
                                    <span class="form-span-label"> Group</span>
                                    <div class="form-line">
                                        <nz-select [nzDisabled]="showSpinner" nzMode="multiple" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.GroupId" (ngModelChange)="filterChange()">
                                            <nz-option *ngFor="let item of productGroups" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
                                        </nz-select>
                                    </div>

                                </div>
                                <div class="col px-2 form-group">
                                    <span class="form-span-label"> Manufacturer</span>
                                    <div class="form-line">
                                        <nz-select [nzDisabled]="showSpinner" nzMode="multiple" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.ManufacturerId" (ngModelChange)="filterChange()">
                                            <nz-option *ngFor="let item of productManufacturers" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div class="col px-2 form-group">
                                    <span class="form-span-label"> Color / Material</span>
                                    <div class="form-line">
                                        <nz-select [nzDisabled]="showSpinner" nzMode="multiple" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.ColorMatId" (ngModelChange)="filterChange()">
                                            <nz-option *ngFor="let item of productColorMats" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div class="col px-2 form-group">
                                    <span class="form-span-label"> Model</span>
                                    <div class="form-line">
                                        <nz-select [nzDisabled]="showSpinner" nzMode="multiple" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.ModelId" (ngModelChange)="filterChange()">
                                            <nz-option *ngFor="let item of productModels" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div class="col px-2 form-group">
                                    <span class="form-span-label" style="white-space: nowrap;">Product Condition</span>
                                    <div class="form-line">
                                        <nz-select [nzDisabled]="showSpinner" nzMode="multiple" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.AccountProductConditionId" (ngModelChange)="filterChange()">
                                            <nz-option *ngFor="let item of accountProductConditionList" [nzLabel]="item.Description" [nzValue]="item.Id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div class="col px-2 form-group">
                                    <div class="d-flex">
                                        <div class="form-span-label pull-left">
                                            Product Tags  <a (click)="openSearchTag(productTagSearchContent);"><i class="fa fa-search fa-lg primary"></i></a>   
                                        </div>
                                        <div class="form-span-label ml-auto">
                                            <a (click)="openManageTag(productTagsCreateEditContent)"><i
                                                class="fa fa-plus-square fa-lg primary"></i><small><b> Add Product Tags</b></small></a>  
                                        </div>
                                    </div>
                                    <div class="form-line">
                                        <nz-select [nzDropdownMatchSelectWidth]="true" [nzDisabled]="showSpinner" nzMode="multiple" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.TagIds" (ngModelChange)="filterChange()">
                                            <nz-option *ngFor="let item of tagList" [nzLabel]="item.Name" [nzValue]="item.Id"></nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2 px-2 form-group" >
                                    <span class="form-span-label" *ngIf="selectedOwner !== 0"> Location </span>
                                    <div class="form-line" *ngIf="selectedOwner !== 0">
                                        <button [disabled]="showSpinner" type="button" style="max-width: 220px;" (click)="openLocationFilterModal()" class="btn btn-lg btn-light">Location Filter<br><span *ngIf="hasFilter"><div class="badge bg-success" style="max-width: 200px; word-wrap: break-word;">{{filterLocation}}</div></span></button>
                                        <nz-select [nzAllowClear]="true" [nzDisabled]="showSpinner" nzShowSearch [ngStyle]="{ width: '100%' }" [(ngModel)]="model.LocationId" (ngModelChange)="locationChange()">
                                            <nz-option *ngFor="let item of locations" [nzLabel]="item.LocationName" [nzValue]="item.LocationIds"></nz-option>
                                        </nz-select>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                    </div>

                    <div class="row px-4 mx-1 pb-1 pt-1">
                        <div class="form-group">
                            <!-- <span class="form-span-label"> &nbsp;</span> -->
                            <div class="form-line" *ngIf="selectedOwner !== 0">
                                <button [disabled]="showSpinner" type="button" (click)="openLocationFilterModal()" class="btn btn-lg btn-success">Location Filter<br><span *ngIf="hasFilter"><div class="badge bg-success" style="color: white;">{{filterLocation}}</div></span></button>
                            </div>
                        </div>

                        <div class="form-group mx-2">
                            <div class="form-line" *ngIf="hasFilter">
                                <button [disabled]="showSpinner" type="button" (click)="clearFilter()" class="btn btn-lg btn-light"><i class="fa fa-times-circle fa-lg danger"></i> Clear Filter &nbsp;</button>
                            </div>
                        </div>
                    </div>

                    <app-products-list [hidden]="true" #productsList></app-products-list>

                    <div class="card-body" *ngIf="productDisplayType === 3">
                        <app-account-products-list-aggrid [userOrders]="userOrders" (productAddedToCart)="productAddedToCart($event)" (triggerParentSearch)="filterChange()" (productQtyUpdate)="productQtyUpdate($event)" (gridColumnFilterChange)="gridColumnFilterChanged($event)" #accountProductsListAgGrid> </app-account-products-list-aggrid>
                    </div>


                    <div *ngIf="productDisplayType !== 3" class="card-body table-responsive product-results"
                        [scrollWindow]="false"
                        [infiniteScrollDistance]="2"
                        [infiniteScrollUpDistance]="1.5"
                        [infiniteScrollThrottle]="50"
                        infiniteScroll (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()" (scroll)="onScroll($event)"
                        style="height: 720px;">
                            <app-account-products-list *ngIf="productDisplayType === 1" #accountProductsList></app-account-products-list>
                            <app-account-products-list-compact *ngIf="productDisplayType === 2" #accountProductsListCompact></app-account-products-list-compact>

                            <!-- <app-account-products-list-table (productQtyUpdate)="productQtyUpdate($event)" *ngIf="productDisplayType === 3" #accountProductsListTable></app-account-products-list-table> -->
                            <app-account-products-list-tile  [userOrders]="userOrders" (productAddedToCart)="productAddedToCart($event)" (totalRecords)="diplayingRecords" *ngIf="productDisplayType === 4" #accountProductsListTile></app-account-products-list-tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #locationFilterContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title product-modal-header">Locations <span>(Click to select and filter)</span></h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body" style="max-height: 60vh; overflow-y: auto;">
        <div class="col-md-12 location-border-detail">
            <div>
                <div class="col-xs-12 col-sm-12 px-1 pull-left p-0"><span> </span>
                    <!-- <input id="filter" #filter (keyup.enter)="filterNodes=locationTree; filterTree(filter.value, tree.treeModel)" placeholder="Filter location"/> -->
                    <tree-root #tree [focused]="true" [(state)]="state" [nodes]="filterNodes" [options]="treeOptions" (activate)="onEvent($event)">
                        <ng-template #treeNodeTemplate let-node="node" let-index="index">
                            <div class="tree-node-content">
                              {{ node.data.name }}
                            </div>
                          </ng-template>
                    </tree-root>
                </div>
               
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="searchByKeyword();c('Close click')">Search</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div> -->
</ng-template>

<ng-template #productTagSearchContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Select Product Tag To Be Added</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group mb-1" style="height: 500px; overflow: auto;">
                        <div class="form-group w-50">
                            <input tabindex="2" [(ngModel)]="search" type="text" (input)="filterTagList(search)"
                            class="form-control input-underline input-sm" id="tag" placeholder="Search">
                        </div>
                        <table class="table table-hover table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <!-- <th>Created Date</th>
                                    <th class="text-align">Actions</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="completeTagList === 0">
                                    <td colspan="4" class="text-center">
                                        No Records to Display
                                    </td>
                                </tr>
                                <tr *ngFor="let item of completeTagList" (click)="editProductModel(item)">
                                    <td (click)="addTag(item)">{{ item.Name }}</td>
                                    <!-- <td>{{ item.CreatedDate | date : 'dd-MM-yyyy, h:mm a' }}</td>
                                    <td class="text-center" style="width:15%">
                                        <a (click)="addTag(item)"><i><span
                                                    class="fa fa-plus warning"></span></i></a> &nbsp;
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #productTagsCreateEditContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Create Product Tags</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group w-50 mb-1">
                        <span class="form-span-label">Name</span>
                        <input tabindex="2" [(ngModel)]="tagModel.Name" type="text"
                            class="form-control input-underline input-sm" id="tag" placeholder="Tag">
                    </div>
                    <div class="form-group mb-1" style="height: 500px; overflow: auto;">
                        <table class="table table-hover table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <!-- <th>Short Code</th> -->
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th class="text-align">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="tagList.length === 0">
                                    <td colspan="4" class="text-center">
                                        No Records to Display
                                    </td>
                                </tr>
                                <tr *ngFor="let item of completeTagList" (click)="editProductTag(item)">
                                    <td>{{ item.Name }}</td>
                                    <td>{{  formatSwedishDate(item.CreatedDate) }}</td>
                                    <td class="text-left" style="width:15%">
                                        <a (click)="editProductTag(item)"><i><span
                                                    class="fa fa-pencil warning"></span></i></a> &nbsp;
                                        <a (click)="productTagDeleteConfirm(productTagDeleteConfirmContent,item)"><i><span
                                                    class="fa fa-trash danger"></span></i></a> &nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!isTagNameValid()" class="btn btn-primary" (click)="saveTag();c('Close click');">Save</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #productTagDeleteConfirmContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete Product Tag</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Product Tag?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteProductTag();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
