<app-cart-navigation #cartNav class="cart-navigation" [source]="'product-details'"></app-cart-navigation>
<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="product-details" [@componentsTransition]>
    <div class="row">
        <div class="col-md-12"> 
            <div class="card p-4">
                <div class="card-body">
                    <div class="product-image">
                        <div class="col-md-4">
                            <!-- <a href="javascript:void(0)" (click)="openImage(model.Id)">
                                <i class="fa fa-expand fa-2x"></i>
                            </a> -->
                            <img *ngIf="photoSrc" (click)="openImage(imageModal, photoSrc)" src="{{ photoSrc }}" id="imagePreview"  class="img img-fluid img-rounded p-2 product-image" #imagePreview  [@routerTransition] /><br />
                        </div>
                    </div>
                    <div class="product-detail-information">
                        <div class="col-md-6">
                            <div class="product-primary">
                                <h1>{{ model.ProductName }}</h1>
                            </div>
                            <div class="product-secondary">
                                <h4>{{ model.GroupName }} from {{ model.ManufacturerName }}</h4>
                            </div>
                            <div class="product-table-detail pt-4">
                                <span>{{ model.Description }}</span>
                            </div>
                            <div class="product-detail pt-4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Color</td><td>{{ model.ColorMaterialName }}</td>
                                        </tr>
                                        <tr>
                                            <td>Height</td>
                                            <td>{{ model.Height }}</td>
                                        </tr>
                                        <tr>
                                            <td>Width</td>
                                            <td>{{ model.Width }}</td>
                                        </tr>
                                        <tr>
                                            <td>Depth</td>
                                            <td>{{ model.Length }}</td>
                                        </tr>
                                        <tr>
                                            <td>Number in stock</td>
                                            <td><a href="javascript:void(0)" (click)="toggleDisplayQty()"><span class="badge badge-success">{{ model.CurrentQtyPerLocation }}</span></a></td>
                                        </tr>
                                        <tr>
                                            <td>Article</td>
                                            <td>{{ model.ProductNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td>Price</td>
                                            <td>{{ model.Price }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf="displayQty" class="product-locations row pt-2">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="pull-right">
                                                <span style="font-size: 85%;text-transform: uppercase;">Total Qty : </span><span class="badge badge-success">{{ model.CurrentQty }}</span>
                                            </div> 
                                        </div>
                                        <div class="card-body shadow-border">
                                            <app-account-products-qty-component #accountProductQty></app-account-products-qty-component>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-actions pt-4">
                                <button type="button" class="btn btn-success btn-lg" *ngIf="!issuperadmin()" (click)="openCart($event, cartFormContent, model);">ADD TO CART</button>
                                <button type="button" class="btn btn-lg btn-light" (click)="exportToPDF()"><i class="fa fa-file-pdf-o danger"></i> Print PDF</button>&nbsp;
                            </div>
                            <div class="social-btns pt-4">
                                <div class="addthis_toolbox addthis_default_style flex" >
                                    <!-- <a class="addthis_button_facebook_like at300b" fb:like:layout="button_count">
                                        <div class="fb-like fb_iframe_widget" 
                                            data-layout="button_count" 
                                            data-show_faces="false" 
                                            data-share="false" 
                                            data-action="like" 
                                            data-width="90" 
                                            data-height="25" 
                                            data-font="arial" 
                                            data-href="http://www.rp.se/mobler/cafebar-och-matsalsmobler/barbord-lammhults-millibar-vitkrom-1" 
                                            data-send="false" 
                                            style="height: 25px;" 
                                            fb-xfbml-state="rendered" 
                                            fb-iframe-plugin-query="action=like&amp;app_id=274423729320686&amp;container_width=62&amp;font=arial&amp;height=25&amp;href=http%3A%2F%2Fwww.rp.se%2Fmobler%2Fcafebar-och-matsalsmobler%2Fbarbord-lammhults-millibar-vitkrom-1&amp;layout=button_count&amp;locale=sv_SE&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90">
                                            <span style="vertical-align: bottom; height: 20px;">
                                                <iframe name="f6048c369e9af8" height="25px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:like Facebook Social Plugin" src="https://web.facebook.com/plugins/like.php?action=like&amp;app_id=274423729320686&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FafATJJjxKE6.js%3Fversion%3D43%23cb%3Df19c1d25d643548%26domain%3Dwww.rp.se%26origin%3Dhttp%253A%252F%252Fwww.rp.se%252Ff2854130fcc3d68%26relation%3Dparent.parent&amp;container_width=62&amp;font=arial&amp;height=25&amp;href=http%3A%2F%2Fwww.rp.se%2Fmobler%2Fcafebar-och-matsalsmobler%2Fbarbord-lammhults-millibar-vitkrom-1&amp;layout=button_count&amp;locale=sv_SE&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90" style="border: none; visibility: visible; width: 75px; height: 20px;" class=""></iframe>
                                            </span>
                                        </div>
                                    </a>

                                    <a class="addthis_button_tweet at300b">
                                        <div class="tweet_iframe_widget" style="width: 62px; height: 25px;">
                                            <span>
                                                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" style="position: static; visibility: visible; width: 60px; height: 20px;" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.2535b9a3597d3193477a33b63007079b.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.rp.se%2Fmobler%2Fcafebar-och-matsalsmobler%2Fbarbord-lammhults-millibar-vitkrom-1&amp;size=m&amp;text=&amp;time=1542161561263&amp;type=share&amp;url=http%3A%2F%2Fwww.rp.se%2Fmobler%2Fcafebar-och-matsalsmobler%2Fbarbord-lammhults-millibar-vitkrom-1%23.W-uEmJnKims.twitter" data-url="http://www.rp.se/mobler/cafebar-och-matsalsmobler/barbord-lammhults-millibar-vitkrom-1#.W-uEmJnKims.twitter"></iframe>
                                            </span>
                                        </div>
                                    </a> -->
                                    <!-- &nbsp;<a class="addthis_button_google_plusone at300b" g:plusone:size="medium"><div class="google_plusone_iframe_widget" style="width: 90px; height: 25px;"><span><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1542161561747" name="I0_1542161561747" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;hl=en-US&amp;origin=http%3A%2F%2Fwww.rp.se&amp;url=http%3A%2F%2Fwww.rp.se%2Fmobler%2Fcafebar-och-matsalsmobler%2Fbarbord-lammhults-millibar-vitkrom-1&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en_GB.JTotBXCrii0.O%2Fam%3DQQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNrDewP1qqlXE4DzdqWi_73FDU8vg%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1542161561747&amp;_gfid=I0_1542161561747&amp;parent=http%3A%2F%2Fwww.rp.se&amp;pfname=&amp;rpctoken=17112073" data-gapiattached="true" title="G+"></iframe></div></span></div></a>
                                    &nbsp;<a class="addthis_button_pinterest_pinit at300b"></a> -->
                                    <!-- <a class="addthis_counter addthis_pill_style" href="#" style="display: inline-block;"><a class="atc_s addthis_button_compact"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Share</font></font><span></span></a><a class="addthis_button_expanded" target="_blank" title="More..." href="#"></a></a> -->
                                <div class="atclear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="true" class="card-slider p-4">
                    <div class="slider-title">
                        MORE FURNITURE IN THE CATEGORY
                    </div>
                    <div class="image-slider">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/51/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/52/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/53/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/54/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/55/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/58/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="http://127.0.0.1:9100/Accounts/39/Products/60/MainPhoto.jpg"  class="img img-fluid img-rounded p-2"  />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- @TODO : Transfer to another component -->
<ng-template #cartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">   
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-12 pr-4">
                <div class="row">
                    <!-- PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong>  -->
                </div>
                <div class="row">
                    <app-account-products-current-qty-list-component style="width: 100%;" (recalculateQty)="recalculateQty($event)" [filteredLocationIds]="filteredLocation"
                    [productId]="accountProductModel.ProductId" #accountProductCurrentQtyList></app-account-products-current-qty-list-component>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Total Qty</span>
                            <input min="0" type="number" [(ngModel)]="cartModel.Quantity" (change)="cartQuantityChange()" class="cart-qty-final-input" placeholder="0" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-vertical"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity" class="btn btn-success btn-lg" (click)="addToCart();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
<!-- @TODO : Transfer to another component -->
<ng-template #confirmCartContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">    
        <h4 class="modal-title" style="font-size:16px;"></h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 pt-3">
            <div class=" d-flex justify-content-center align-items-center">
                    <i class="fa fa-check-circle success fa-3x pr-4"></i>
                <h3 class="m-0">You have added a product to your cart, do wish to do something else?</h3>
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"class="btn btn-primary btn-lg" (click)="addMoreProducts(); c('Close click')">Add more products</button>
        <button type="button"class="btn btn-success btn-lg" (click)="checkOut();c('Close click')">Checkout</button>
        <button type="button" class="btn btn-default btn-lg" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #imageModal let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="bg-white rounded-circle px-3 py-2" style="cursor: pointer; position: absolute; display: block; right: 20px; top: 20px;" (click)="c('closed')">
            <i class="fa fa-close fa-2x"></i>
        </div>
        <img class="product-image-preview" src="{{ focusPhotoSrc }}" /><br />
    </div>
</ng-template>