<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="products-models-list">
    <table class="table table-hover table-striped table-bordered table-sm" style="width: 100%;">
        <thead>
            <tr>
                <th>Short Code</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of packageData | async">
                <td>{{ item.ShortCode }} </td>
                <td>{{ item.LongName }} </td>
                <td>{{ item.Description }} </td>
            </tr>
        </tbody>
    </table>
</div>