<div class="products-models" [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header sub-header">
                   Product Models
                   <div class="pull-right">
                       <a><i style="color:#007bff" class="fa fa-plus-square"></i> Add a new Product Models</a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body table-responsive">
                        <app-products-models-list #productsModelsList></app-products-models-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
