<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>

<div id="account-product-qty-log-list-table" class="account-table-base" *ngIf="!standAloneMode">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th *ngIf="showProductName">Name</th>
                <th>Location</th>
                <th>Qty</th>
                <th class="text-center">Mode</th>
                <th>Date</th>
                <th>Added by</th>
                <th>Source</th>
                <th *ngIf="isSuperAdmin">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productQtyLogDataArray; let i = index;">
                <td>
                    <div *ngIf="item.LocationLevelOneName && item.LocationLevelOneName !== ' '">
                        {{ item.LocationLevelOneName }}
                        <span
                            *ngIf="item.LocationLevelTwoName && item.LocationLevelTwoName !== ' ' && item.AppliedTo != item.LocationLevelOneId">
                            , {{ item.LocationLevelTwoName }}
                            <span
                                *ngIf="item.LocationLevelThreeName && item.LocationLevelThreeName !== ' '  && item.AppliedTo != item.LocationLevelTwoId">
                                , {{ item.LocationLevelThreeName }}
                                <span
                                *ngIf="item.LocationLevelFourName && item.LocationLevelFourName !== ' '  && item.AppliedTo != item.LocationLevelThreeId">
                                , {{ item.LocationLevelFourName }}
                            </span>
                            </span>
                        </span>
                        <br />
                    </div>
                </td>
                <td>{{ item.Qty }}</td>
                <td *ngIf="item.Mode === 1" class="text-center"><strong> + &nbsp;</strong><i [ngClass]="{'fa fa-map-pin': productQtyLogDataArray[i + 1]?.Mode === 2}"></i></td> 
                <td *ngIf="item.Mode === 2" class="text-center"><strong> - &nbsp;</strong><i class="fa fa-arrow-up"></i></td>
                <td *ngIf="item.Mode === -1" class="text-center"><strong> - </strong></td>
                <td>{{ item.UpdatedDate | date : 'dd-MM-yyyy, h:mm a' }} </td>
                <td>{{ item.UpdatedByName }}</td>
                <td>
                    <i *ngIf="item.IsMobile" class="fa fa-mobile fa-2x" style="font-size: 25px;"></i>
                    <i *ngIf="!item.IsMobile" class="fa fa-desktop" style="font-size: 15px;"></i>
                </td>
                <td *ngIf="isSuperAdmin">
                    <a (click)="confirmDeleteQty(qtyDeleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                </td>
            </tr>
            <tr *ngIf="productQtyLogDataCount === 0">
                <td class="text-center" colspan="5">No Records to Display</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="standAloneMode" class="row" style="height: 90vh">
    <div class="col-md-12">
        <button *ngIf="isToggled()" class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <i class="fa fa-2x fa-chevron-circle-right" style="color:#000" aria-hidden="true"></i>
        </button>
        <ag-grid-angular style="width: 100%; height: calc(100%);" class="ag-theme-balham" multiSortKey="ctrl"
            [rowData]="productQtyLogData | async" [enableCellChangeFlash]="true" [enableBrowserTooltips]="true"
            [pagination]="false" [singleClickEdit]="true" [columnDefs]="colDef" [defaultColDef]="defaultColDef"
            [frameworkComponents]="frameworkComponents" (filterChanged)="gridFilterChanged($event)">
        </ag-grid-angular>

    </div>

</div>

<ng-template #qtyDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Quantity might be in used. Are you sure you want to delete this quantity entry?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteQtyEntry();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
