<div class="col-sm-12 px-0">
    <ngb-tabset #t="ngbTabset" [destroyOnHide]="false">
        <ngb-tab id="tab-actual-qty" title="Actual Quantity">
            <ng-template ngbTabContent>
                <app-account-products-current-qty-list-component #accountProductCurrentQtyList></app-account-products-current-qty-list-component>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-qty-log" [disabled]="!isAdmin" title="Quantity Log">
            <ng-template ngbTabContent>
                <app-account-products-qty-log-list-component #accountProductQtyLogList></app-account-products-qty-log-list-component>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-trans-log" title="Webshop Log">
            <ng-template ngbTabContent>
                <app-account-product-transaction-log #accountProductTransactionLogList></app-account-product-transaction-log>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
