<div [hidden]="!showSpinner">
        <app-spinner></app-spinner>
    </div>
    <div *ngIf="!isAddToCart" class="pt-2 px-4">
        <tree-root [nodes]="productQtyTreeData" [options]="options">
            <ng-template #treeNodeTemplate let-node let-index="index">
                <div (click)="emitSelectedLocation(node.data)">
                    <div class="pull-left">
                        {{ node.data.name }}&nbsp;
                    </div>
                    <div class="pull-right">
                        <span class="badge badge-primary">{{ node.data.totalQty }}</span>
                             <!-- &nbsp;<span class="badge badge-success">{{ node.data.totalQty }}</span> -->
                    </div>
                </div>
            </ng-template>
        </tree-root>
    </div>
    <div *ngIf="isAddToCart" id="account-product-current-qty-list-table">
        <table class="table table-sm" style="width: 100%;">
            <thead>
            <tr>
                <th>Location</th>
                <th>Qty</th>
                <th *ngIf="isAddToCart" >Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productQtyLogCartData">
                    <td [colSpan]="item.ShowDrilldown ? '2' : '1'">
                        <small>
                            <b>
                                <a *ngIf="item.LocationLevelTwoId > 0 && !isAddToCart" href="javascript:void(0);" (click)="showDrillDown(item)"> {{ item.LocationLevelOneName }} </a>
                                <span *ngIf="item.LocationLevelTwoId === 0 || isAddToCart">
                                    {{item.LocationLevelOneName}}
                                    {{ item.LocationLevelTwoName ? (', ' + item.LocationLevelTwoName) : '' }}
                                    {{ item.LocationLevelThreeName ? (', ' + item.LocationLevelThreeName) : '' }}
                                    {{ item.LocationLevelFourName ? (', ' + item.LocationLevelFourName) : '' }}
                                </span>
                            </b>
                        </small><br />
                        <div *ngIf="item.levelOneName && item.levelOneName !== ' '">
                            <table *ngIf="item.ShowDrilldown === true" class="table table-sm">
                                <tbody>
                                    <tr *ngFor="let item2 of productCurrentLocationData">
                                        <td style="width:65%"><small>{{ item2.LocationLevelTwoName ? item2.LocationLevelTwoName : item2.LocationLevelOneName }}</small></td>
                                        <td>{{ item2.Qty }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td *ngIf="!item.ShowDrilldown">{{ item.Qty }} </td>
                    <td *ngIf="isAddToCart" class="d-flex">
                        <a (click)="applyQtyToCart(item, 1)">
                            <i class="fa fa-plus fa-lg success"></i>
                        </a>

                        <span class="px-2 mx-2">{{item.CurrentQty}}</span>

                        <a (click)="applyQtyToCart(item, -1)">
                            <i class="fa fa-minus fa-lg danger"></i>
                        </a>
                    </td>
                </tr>
                <tr *ngIf="productQtyLogDataCount === 0">
                    <td class="text-center" colspan="5">No Records to Display</td>
                </tr>
            </tbody>
        </table>
    </div>
