.cart-qty-list-input, .cart-qty-final-input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #fbfbfb;
    text-align: right;
}

.cart-qty-list-input {
    width: 30px;
}

.cart-qty-final-input {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    background: rgba(255, 255, 255, .15);
    border-bottom: 2px dotted #c0c0c0;
    text-align: right;
}

.btn-send-email, .btn-print-pdf, .btn-print-excel{
    background: #ccc !important;
}

.email-items {
    padding-left: 10px; 
    list-style-type: none;
    max-height: 30vh;
    overflow-y: auto;
}

.email-items > li {
    flex-direction: row;
    align-items: center;
}

.email-items > li > img {
    height: 40px !important;
    width: 40px !important;
}

.email-address{
    color: grey;
}

.prod-list-img-l { 
    min-height: 214px !important;
    max-height: 214px !important;
    width: 220px !important;
}

.product-tile-action-cart {
    bottom: 14px;
    width: 211px;
}

.email-items .prod-list-img { 
    min-height: 90px;
    max-height: 120px;
    width: 169px;
}

.email-items  .products-tile {
    width: 188px;
    height: 270px;
}

.list-group .products-tile{
    min-height: 530px;
}

.email-items .product-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    text-transform: uppercase;
}

.email-items .product-info {
    font-size: 10px;
}

.email-items .include-item {
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.delete-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.product-name {
    position: relative;
    cursor: pointer;
    height: 80px;
    font-size: 15px;
    font-weight: bold;
}
.location-details{
    cursor: pointer;
    position: relative;
}
.product-name .product-name-tooltip, .location-details .location-tooltip {
    line-height: 100%;
    font-size: 10px;
    visibility: hidden;
    width: 160px;
    background-color: #ebebeb;
    color: black;
    text-align: left;
    border-radius: 4px;
    padding: 9px ;
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -85px;
}
.location-details .location-tooltip{
    left: 40%;
    bottom: 100%;
}
.location-header{
    flex:1;
}
.product-name .product-name-tooltip::after, .location-details .location-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ebebeb transparent transparent transparent;
}
.product-name .show, .location-details .show {
    visibility: visible;
}