<div class="clearfix pb-3">
    <div class="col-sm-12">
        <div class="row">
            <div class="pull-right mt-3 pr-2">
                <button *ngIf="showActionButtons" type="button" class="btn btn-lg btn-primary" (click)="backToCart()">
                    <i class="fa fa-plus-circle"></i> Go to Product Catalog
                </button>
                <button *ngIf="showActionButtons" type="button" class="btn btn-lg btn-success" (click)="confirmCheckout()">
                    <i class="fa fa-check-circle"></i> Checkout
                </button>
                <button *ngIf="showActionButtons" type="button" class="btn btn-lg btn-send-email btn-light" (click)="sendToEmailDialog()">
                    <i class="fa fa-paper-plane"></i> Send to a friend
                </button>
                <!-- <button *ngIf="showActionButtons" type="button" class="btn btn-lg btn-print-pdf btn-light" (click)="downloadPdf()">
                    <i class="fa fa-file-pdf-o danger"></i> Print Catalog PDF
                </button> -->
                <button *ngIf="showActionButtons" type="button" class="btn btn-lg btn-print-pdf btn-light" (click)="downloadCartPdf()">
                    <i class="fa fa-file-pdf-o danger"></i> Print Cart PDF
                </button>
                <button *ngIf="showActionButtons" type="button" class="btn btn-lg btn-print-excel btn-light" (click)="downloadExcel()">
                    <i class="fa fa-file-excel-o success"></i> Print Excel
                </button>
                <a href="javascript:void(0)" (click)="close()" class="pr-3" class="navigation-close">
                    <i class="fa fa-times-circle default fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    
</div>
