<app-cart-navigation 
    #cartNav 
    (backToCartOutput)="backToCart()" 
    (confirmCheckoutOutput)="confirmCheckout(confirmCheckoutContent)" 
    (sendToEmailOutput)="sendToEmailDialog(sendToEmailContent)"
    (downloadExcelOutput)="downloadFile(false)"
    (downloadCartPdfOutput)="downloadCart(true)">
</app-cart-navigation>
<!-- (downloadPdfOutput)="downloadFile(true)" -->
<div [hidden]="!showSpinner" class="outer-spinner">
    <h6>{{ loadingMessage }}</h6>
</div>
<div id="cart-container" class="col-sm-12" [@componentsTransition]>
    <div class="list-group">
        <div class="d-flex flex-wrap">
            <div class="products-tile mb-3 shadow-border p-3 pull-left" *ngFor="let item of packageData">
                <div class="col-sm-12 px-3">
                </div>
                <a href="javascript:void(0)" (click)="confirmDeleteOrder(confirmCartDeleteContent, item)"
                    style="position: absolute;left: 204px;top: 14px;">
                    <i class="fa fa-times-circle light fa-2x"></i>
                </a>
                <div class="product-tile-thumbnail">
                    <div class="prod-list-img-l p-1"
                        style="background-position: center; background-repeat: no-repeat; background-size: cover;"
                        [style.background-image]="'url(' + imageUrl(item.MainPhotoUrl) + ')'"></div>
                    <!-- <img class="prod-list-img-l p-1" [src]="imageUrl(item.MainPhotoUrl)"> -->
                </div>
                <div class="col-sm-12 px-3">
                    <div class="pull-left">
                        <strong class="badge badge-info" *ngIf="item.AccountName">{{ item.AccountName }}</strong>
                    </div>
                </div>
                <div class="product-tile-content px-3 pt-2">
                    <div>
                        <h4 class="product-title" > {{ setProductName(item.ProductName) }}
                        <!-- <span class="product-name-tooltip" id="product-{{ item.Id }}">{{ item.ProductName }}</span> -->
                        </h4>
                        <div class="product-info mb-3" style="line-height: normal;">{{ item.GroupName }} from {{ item.Manufacturer }}</div>
                        <div class="product-info d-flex p-0 my-0 mb-3">
                            <div class="w-100" *ngIf="item.Height" style="font-size: smaller; line-height: normal;">
                                Height: {{item.Height}} <br>
                                Depth: {{item.Length}}
                            </div>
                            <div class="w-100" *ngIf="item.Width" style="font-size: smaller; line-height: normal;">
                                Width: {{item.Width}} <br>
                                Color: {{item.ColorMaterialName}}
                            </div>
                        </div>
                    </div>
                    <span class="product-info">{{ item.ProductNumber }}</span><br /><br />
                    <a class="product-info" (click)="navigateToDetails(item.ProductId)"><i class="fa fa-caret-right fa-lg"
                            style="color:red"></i> Läs mer</a>
                </div>
                <span class="flex-fill"></span>
                <div class="product-tile-action-cart"> 
                    <div class="d-flex justify-content-start align-items-center" *ngFor="let detail of item.OrderDetails">
                        <div class="location-header">
                            <h6  class="location-details" (mouseover)= "hover('location-' + detail.Id)" (mouseout) = "hover('location-' + detail.Id)">
                                {{ setLocation(detail) }}
                                <span class="location-tooltip" id="location-{{ detail.Id }}">
                                    {{ setLocation(detail, false) }}
                                </span>
                            </h6>
                        </div>
                        <div style="margin-left: auto">
                            <small>{{ detail.CurrentQty }} </small> &nbsp;
                            <a href="javascript:void(0)" style="cursor: pointer" (click)="confirmDeleteItemOrder(confirmCartItemDeleteContent, detail)">
                                <i class="fa fa-trash default"></i>
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
    
        </div>
        <div *ngIf="cartListCount === 0 && !showSpinner" class="col-sm-12" style="text-align: center;">
            <span>
                <i class="fa fa-times-circle fa-5x"></i>
            </span>
            <h4>Your cart is empty.</h4><br />
        </div>
    </div>
    <!-- <div class="cart-footer">
        <div class="col-sm-12">
            <div class="row">
                <div class="pull-right">
                    <button [disabled]="cartListCount === 0 || showSpinner" type="button" class="btn btn-lg btn-primary" (click)="backToCart()"><i class="fa fa-plus-circle"></i> {{ cartListCount === 0 ? 'Go to Product Catalog' : 'Add more Products' }} </button>
                    <button [disabled]="cartListCount === 0 || showSpinner" type="button" class="btn btn-lg btn-success" (click)="confirmCheckout(confirmCheckoutContent)"><i class="fa fa-check-circle"></i> Checkout</button>
                    <button [disabled]="cartListCount === 0 || showSpinner" type="button" class="btn btn-lg btn-send-email btn-light" (click)="sendToEmailDialog(sendToEmailContent)"><i class="fa fa-paper-plane"></i> Send to a friend</button>
                    <button [disabled]="cartListCount === 0 || showSpinner" type="button" class="btn btn-lg btn-print-pdf btn-light" (click)="downloadFile(true)"><i class="fa fa-file-pdf-o danger"></i> Print PDF</button>
                    <button [disabled]="cartListCount === 0 || showSpinner" type="button" class="btn btn-lg btn-print-excel btn-light" (click)="downloadFile(false)"><i class="fa fa-file-excel-o success"></i> Print Excel</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

<ng-template #confirmCheckoutContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">ORDER CONFIRMATION</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Please complete the necessary details.</p>
        <div class="form-group">
                <div class="form-line">
                    <span class="form-span-label">Shipping Email Address</span>
                    <div class="input-group">
                        <input type="text" [(ngModel)]="model.EmailAddress" class="form-control"  placeholder="Email Address">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" style="height: 34px;width: 25px;" ngbTooltip="Multiple Emails, separated by semicolon." placement="top" triggers="mouseenter:mouseleave"><i class="fa fa-info"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="form-line">
                <span class="form-span-label">Shipping Address</span>
                <input type="text" [(ngModel)]="model.UserShippingAddress" class="form-control"  placeholder="Bldg #, Address, City, Region, Country">
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <span class="form-span-label">Additonal Instructions</span>
                <textarea class="form-control" [(ngModel)]="model.AdditionalInstructions" placeholder="Add any instructions for your products">

                </textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <span class="form-span-label">Also BCC to these email addresses</span>
                <textarea class="form-control" [(ngModel)]="model.EmailCheckoutCCs" [readOnly]="true">
                </textarea>
            </div>
        </div>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="completeCheckout();c('Close click');">Checkout</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #confirmCartDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Delete</h4> <span class="pl-1 delete-item"> {{selectedOrder.ProductName}}</span>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
                <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <span>Are you sure you want to delete this item?</span>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteOrder();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #confirmCartItemDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="font-size:14px;">Delete Item from Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this item in this Order?</p>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteItemInOrderDetail();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #sendToEmailContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Send to email</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="form-group" [ngClass]="email.invalid && (email.dirty || email.touched) ? 'has-error': ''">
            <label>Email Address</label>
            <input type="email" [(ngModel)]="sendToEmailModel.Email" class="form-control input-sm" #email="ngModel" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div class="badge badge-danger" *ngIf="email.errors.required">Required.</div>
            </div>
        </div> 
        <div class="form-group" [ngClass]="subject.invalid && (subject.dirty || subject.touched) ? 'has-error': ''">
            <label>Subject</label>
            <input type="text" [(ngModel)]="sendToEmailModel.Subject" class="form-control input-sm" #subject="ngModel" required>
            <div *ngIf="subject.invalid && (email.dirty || subject.touched)">
                <div class="badge badge-danger" *ngIf="subject.errors.required">Required.</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="subject.invalid && (subject.dirty || subject.touched) ? 'has-error': ''">
            <label>Message</label>
            <textarea [(ngModel)]="sendToEmailModel.Body" class="form-control input-sm" rows="5" #message="ngModel" required></textarea>
            <!-- <input type="email" class="form-control input-sm"> -->
            <div *ngIf="message.invalid && (email.dirty || message.touched)">
                <div class="badge badge-danger" *ngIf="message.errors.required">Required.</div>
            </div>
        </div>

        <div class="form-group pt-3"> 
            <div class="email-items">
                <div class="list-group">
                    <div class="d-flex flex-wrap">
                        <div class="products-tile mb-3 shadow-border p-3 pull-left" style="height: 400px;" *ngFor="let item of emailItems"> 
                                <input type="checkbox" class="include-item mr-1" id="item-{{item.Id}}" [(ngModel)]="item.IncludeInEmail"> 
                            <div class="product-tile-thumbnail">
                                <div style="height:160px; width: 166px; background-position: center; background-repeat: no-repeat; background-size: cover;"
                                    [style.background-image]="'url(' + imageUrl(item.MainPhotoUrl) + ')'"></div>
                            </div>
                            <div class="col-sm-12 px-3">
                                <div class="pull-left">
                                    <strong class="badge badge-info" *ngIf="item.AccountName">{{ item.AccountName }}</strong>
                                </div>
                            </div>
                            <div class="product-tile-content px-3 pt-2">
                                <h4 class="product-title">{{ item.ProductName }}</h4>
                                <span class="product-info">{{ item.GroupName }} from {{ item.Manufacturer }}</span><br />
                                <span class="product-info">{{ item.ProductNumber }}</span><br />
                                <!-- <a class="product-info" (click)="navigateToDetails(item.ProductId)"><i
                                        class="fa fa-caret-right fa-lg" style="color:red"></i> Läs mer</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- <ul  class="email-items">
                <li class="d-flex" *ngFor="let item of emailItems"> 

                    <img [src]="imageUrl(item.MainPhotoUrl)" class="prod-list-img-l p-1" />
                    <label for="item-{{item.Id}}" style="font-weight: normal;">{{ item.ProductName }}</label>
                </li>
            </ul> -->
        </div>
    </div> 
    <div class="modal-footer" style="justify-content:flex-start">
        <div class="d-flex" style="flex-direction:row;float: left;">
            <div><span>Send information as : </span> </div>
            <div class="form-check form-check-inline pl-2">
                <input class="form-check-input" type="checkbox" name="pdf" id="checkPdf"
                    [(ngModel)]="sendToEmailModel.IncludePDF">
                <span class="form-check-label" for="checkPdf">PDF</span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="excel" id="checkExcel"
                    [(ngModel)]="sendToEmailModel.IncludeExcel">
                <span class="form-check-label" for="checkExcel">Excel</span>
            </div>
        </div>
    
        <div style="margin-left: auto"> 
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="excel" id="checkExcel" [(ngModel)]="isSendCopyToMe">
                <span class="form-check-label" for="checkExcel">Send a copy to : </span> &nbsp; <span class="email-address">
                    {{ currentAccountEmail()}}</span>
            </div>
        </div> 
        <button *ngIf="isSendingEmail" type="button" class="btn btn-primary" [disabled]="true">Sending...</button>
        <button *ngIf="!isSendingEmail" type="button" class="btn btn-primary" (click)="sendToEmail(c)"
            [disabled]="email.invalid || subject.invalid || message.invalid">Send</button>
    </div>
</ng-template>