<app-cart-navigation #cartNav></app-cart-navigation>
<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="order-history" class="col-sm-12" [@componentsTransition]>
    <div class="pb-5" *ngFor="let item of packageData | async">
        <div class="card">
            <div class="card-header">
                <div class="pull-left">
                    ORDER PLACED : {{ item.CreatedDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                </div>
                <div class="pull-right">
                    ORDER # : {{ item.OrderNumber }}
                </div>
            </div>
            <div class="card-body">
                <div id="cart-list" [@componentsTransition]>
                    <table class="table table-sm" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Cart Date</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of item.UserOrder">
                                    <td style="border: none!important;">
                                        <div class="px-0 col-sm-3 text-center flex">
                                            <img [src]="imageUrl(order.MainPhotoUrl)" class="prod-list-img-l p-1" />
                                        </div>
                                        <div class="col-sm-9">
                                            <strong class="pl-3 success" style="vertical-align: top;">{{ order.ProductName }} {{ order.ProductNumber }}</strong>
                                            <br /><br />
                                            <table class="table table-sm" style="background-color:transparent!important">
                                                <thead>
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>{{ returnTotal(order) }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let detail of order.OrderDetails">
                                                        <td style="width:70%; border:none!important">
                                                            <small>
                                                                {{ detail.LocationLevelOneName }} 
                                                                {{ detail.LocationLevelTwoName ? (', ' + detail.LocationLevelTwoName) : '' }} 
                                                                {{ detail.LocationLevelThreeName ? (', ' + detail.LocationLevelThreeName) : '' }}
                                                            </small>
                                                        </td>
                                                        <td style="width:30%; border:none!important">
                                                            <small>{{ detail.CurrentQty }} </small> &nbsp;
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td style="border: none!important;">
                                        {{ item.CreatedDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                                    </td>
                                    <td style="border: none!important;">
                                       <span class="badge badge-success"> {{ item.Status === 0 ? 'Pending' : 'Completed' }} </span>
                                    </td>
                                </tr>
                            </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="ordersCount === 0" class="text-center">
        <div class="card">
            <div class="card-body">
                <i class="fa fa-shopping-cart fa-5x"></i>
                <h4>Your History is Empty</h4><br />
            </div>
        </div>
    </div>
</div>