.custom-card {
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    .card-item {
      margin-top: 1rem;
  
      h5 {
        color: #2497ac;
        font-size: 25px;
        font-weight:bold;
      }
  
      p {
        font-size: 12px;
      }
    }

    
    .card-item.lg { 
      h5 { 
        font-size: 30px;
        font-weight:bold;
      } 
    }
  }

  .breathing-kgco2-statement-container {
    width: auto !important;
    height: auto !important;
    padding: .8vw;
    z-index: 10;
    position: absolute;
    margin-top: 45%;
    border: none;
    animation: breathing 2000ms infinite forwards;
    background: #5e9432;
    background-color: #5e9432;
    color: black;
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    text-align: center;
    font-family: 'Ink Free', sans-serif;

    h3 {
      font-size: .9vw;
      font-weight: bold;
    }
  }

  .breathing-kgco2-group {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 20%;
    margin-right: 1vw;
    margin-top: 2.5vw;
    font-family: 'Ink Free', sans-serif;
  }

  .breathing-kgco2-group-container{ 
    animation: breathing 2000ms infinite forwards;
    -webkit-font-smoothing: antialiased;
    width: 11vw;
    height: 3.5vw;
    background:#d6212f;
    border-radius:100px;
    float: right;
    margin-right: 1.3vw;
    
    div {
      display: contents;
      h3 {
        font-size: .9vw;
        font-weight: bold;
        z-index: 10;
        position:absolute;
        display: inline-block;
        left: 0;
        top: .5vw;
        width: 100%;
        text-align: center;
      }
    }
 }
 .breathing-kgco2-group-container::after, .breathing-kgco2-group-container::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
 }
 .breathing-kgco2-group-container::after{
    width:3vw;
    height:3vw;
    top:-4.5vw;
    left:-4.5vw;
 }
 .breathing-kgco2-group-container::before{
    width:6vw;
    height:6vw;
    top: -3vw;
    left:3.5vw;
 }

  @keyframes breathing {
    50% {
      transform: scale(.9);
    }
  
    100% {
      transform: scale(1)
    }
  }

  