<div>
    <button *ngIf="!isSuperAdmin && isToggled()" class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-2x fa-chevron-circle-right" style="color:#000" aria-hidden="true"></i>
    </button>
    <h5 class="text-muted"><small>Statistics Overview</small></h5>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="row" *ngIf="totalKgCo2 !== undefined">
                <div class="col-md-12 col-xs-12 video-background">
                    <video (canplay)="playVid()" (canplaythrough)="playVid()" id="video" style="z-index: 10;" 
                        autoplay muted preload="auto" loop>
                        <source src="https://rpangularapp.blob.core.windows.net/rp-files/General/Videos/KgCO2-Statistic.mp4" type="video/mp4">
                    </video>
                    <div *ngIf="isVideoReady" class="breathing-kgco2-statement-container">
                        <h3>we did save {{totalKgCo2 * totalProductRemove}} kg. CO2 by reusing {{totalProductRemove}} products.</h3>
                    </div>
                    <div *ngIf="isVideoReady" class="breathing-kgco2-group">
                        <div class="breathing-kgco2-group-container">
                            <div>
                                <h3>{{totalKgCo2 * totalProductRemove}} kg. CO2</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-8">
                <div class="row shadow custom-card">
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            No. of Product Per Group
                        </div>
                        <div class="card-body"  style="width: 100%; height: auto;">
                            <canvas  *ngIf="isChartDataAvailable" height="16" width="25" baseChart [data]="chartData" [labels]="chartLabels"
                                [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row shadow custom-card">
                    <div class="card" style="width: 100%;">
                        <div class="card-header">
                            Top Manufacturers
                        </div>
                        <div class="card-body" style="height: auto">
                            <div *ngFor="let item of topManufacturersData" class="col-md-12 text-left card-item lg">
                                <h5>{{item.NoOfProducts}}</h5>
                                <p>{{item.ManufacturerName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="row shadow custom-card">
                <div class="col-md-6 text-center card-item" style="display: flex; align-items: center; place-content: center; gap: 25px;">
                    <div>
                        <h5>{{summaryData?.NoOfProducts}}</h5>
                        <p>No. of Products</p>
                    </div>
                    <div style="display: flex; padding-bottom: 3px;">
                        <span style="font-size: 20px; padding-bottom: 10px;"><i></i></span>
                    </div>
                </div>

                <div class="col-md-6 text-center card-item" style="display: flex; align-items: center; place-content: center; gap: 25px;">
                    <div>
                        <h5> {{summaryData?.NoOfTransactions}} </h5>
                        <p>No. of webb orders​​</p>
                    </div>
                    <div style="display: flex; padding-bottom: 3px;">
                        <span style="font-size: 20px; padding-bottom: 10px;"><i></i></span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12" style="height: 30vh">
                    <ag-grid-angular style="width: 100%; height: calc(100%);" class="ag-theme-balham"
                        multiSortKey="ctrl" [rowData]="productRecentLogsData | async" [enableCellChangeFlash]="true"
                        [enableBrowserTooltips]="true" [pagination]="false" [singleClickEdit]="true"
                        [columnDefs]="productLogColDef" [defaultColDef]="productLogDefaultColDef">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row shadow custom-card">
                <div class="col-md-6 text-center card-item" style="display: flex; align-items: center; place-content: center; gap: 25px;">
                    <div>
                        <h5>{{summaryData?.NoOfUsers}}</h5>
                        <p>No. of Users</p>
                    </div>
                    <div style="display: flex; padding-bottom: 3px;">
                        <span style="font-size: 20px; padding-bottom: 10px;"><i class="fa fa-user fa-3x"></i></span>
                    </div>
                </div>

                <div class="col-md-6 text-center card-item" style="display: flex; align-items: center; place-content: center; gap: 25px;">
                    <div>
                        <h5> {{summaryData?.NoOfLocations}} </h5>
                        <p>No. of Locations</p>
                    </div>
                    <div style="display: flex; padding-bottom: 3px;">
                        <span style="font-size: 20px; padding-bottom: 10px;"><i class="fa fa-map-marker fa-3x"></i></span>
                    </div>
                </div>
            </div>
            <hr/>
         
            <div class="row">
                <div class="col-md-12" style="height: 30vh">
                    <ag-grid-angular style="width: 100%; height: calc(100%);" class="ag-theme-balham"
                        multiSortKey="ctrl" [rowData]="usersData | async" [enableCellChangeFlash]="true"
                        [enableBrowserTooltips]="true" [pagination]="false" [singleClickEdit]="true"
                        [columnDefs]="usersColDef" [defaultColDef]="usersDefaultColDef">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>
