<!-- <div class="spinner">
    Loading .....
    <!-- <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div> x
</div> -->
<div class="spinner-1">
    <h5>Loading ...</h5>
</div>