<div [hidden]="!showSpinner">
  <app-spinner></app-spinner>
</div>

<div id="account-product-transaction-log-list-table">
  <table class="table table-hover table-striped table-sm" style="width: 100%;">
    <thead>
      <tr>
          <th>Date</th>
          <th>Qty</th>
          <th>Status</th>
          <th>By</th>
          <th>Location 1</th>
          <th>Location 2</th>
          <th>Location 3</th>
          <th>Location 4</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.CreatedDate | date:'yyyy-MM-dd'}}</td>
          <td>{{item.Qty}}</td>
          <td>{{item.Status === 0 ? 'In basket' : 'Checked out'}}</td>
          <td>{{item.FullName}}</td>
          <td>{{item.Location1}}</td>
          <td>{{item.Location2}}</td>
          <td>{{item.Location3}}</td>
          <td>{{item.Location4}}</td>
        </tr>
      </tbody>
  </table>
</div>
