.card-header, .card-footer  {
    padding-top: 7px;
    padding-bottom: 7px;
}

.pad-x-15 {
    padding-left:15px!important;
    padding-right:15px!important;
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}
.hidden {
    visibility: hidden;
}
.light {
    color:#c0c0c0;
}
.default {
    color: #777;
}
.primary {
    color: #337ab7;
}
.success {
    color: #389a34;
}

.warning {
    color: #f0ad4e;
}

.danger {
    color: #d9534f;
}

.info {
    color: #5bc0de;
}
a {
    cursor: pointer;;
}
.center {
    text-align:center;
}
textarea.form-control{
    height: 100px!important;
}

.top-25 {
    padding-top: 25px;
}
.btn-xs {
    padding: 2px 5px 2px 5px;
    font-size: 12px;
}
.card-body {
    padding: 10px;
}
.main-container {
    margin-top: 56px;
    margin-left: 195px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.main-container-public {
    margin-top: 56px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

table {
    border-spacing: 0px!important;
}
.table-sm {
    font-size: 11px!important;
}
table select {
    height : 35px;
}

.table th {
    border-bottom: none!important;
    border-top: none!important;
}
//override the scss main
.table-striped tbody tr:hover, .table-striped tbody tr:hover i{
    background-color: #337ab7!important;
    font-weight: bold;
    color:white;
}

.tbody-scroll tbody {
    display:block;
    overflow:auto;
    height:500px;
    width:100%;
}
.tbody-scroll thead tr {
    display:block;
}
.tbody-scroll tbody td {
    border-bottom: none!important;
}
tr.selected {
    background-color: #337ab7!important;
    color: #fff!important;
    font-weight: bold;
}

.breadcrumb h5 {
    vertical-align: middle;
    line-height: 37px;
    padding-right: 15px;
    padding-bottom: 0px!important;
    margin-bottom: 0px;
}

.status-col, .action-col {
    width: 10%;
    text-align:center;
}

.list-group-item{
    padding: 0.45rem 1.25rem;
}

.list-group-item:hover, .products-tile:hover {
    border-bottom: 1px solid #389a34;
    background-color: #389a340f;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.065);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.065);
    transition: box-shadow 0.5s ease-in-out, border-bottom 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.search-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px!important;
}
.search-btn, .calendar-btn{
    margin-top: 0px;
    height: 30px;
    width: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.filtering-section > .search-btn, .calendar-btn , .input-sm {
    height: 34px!important;
    padding: .175rem 0.35rem!important;
    font-size: 11px!important;
    font-weight: normal!important;
}

    textarea {
        height: 50px;
    }
    
//   .table td {
//     padding: 0.55rem!important;
// }

.important {
    font-weight: bold;
}

.component-content {
    display: flex;
    padding-top : 10px;
}
.component-content ul {
    list-style-type : none;
    padding-left: 0px;
}
.component-header {
    border-bottom: 1px solid #215684;
    padding-bottom: 5px;
}

#user-module-control-grid th, #user-module-control-grid td{
    width : 5%;
}
#user-module-control-grid td {
    font-size: 13px;
}

.sub-header{
    padding-top: 7px;
    padding-bottom: 7px;
}

.form-group {
    margin-bottom: 5px!important;
}

.form-group small {
    color: #868e96;
}

// #loans-list table th {
//     text-align: center;
// }
.filtering-section {
    display: flex;
}
.filtering-section .form-group {
    padding-right: 5px;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
        margin-top: 50px!important;
    }
}

.main-control-body {
    // height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 5px solid #bce8f1;
}

/*modal*/
.modal-header {
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 1px solid #bce8f1;
    border-radius: 6px 6px 0px 0px;
}
.modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

.modal-header{
    padding: .7rem!important;
}

/*labels*/
.form-span-label {
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
    color: #333333;
    padding-top: 5px;
    
}

@media screen and (min-width: 1535px) {
    .form-span-label {
        font-size: 8px;
        
    }
}

.form-span-label-nb {
    // font-size: 11px;
    color: #428bca;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-label-symbol {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
}

#details-loan .form-line, .confirm-loan .form-line {
    border-bottom: 1px #d6d2d2 solid;
    height: 60px;
}

.form-line .input-group {
    width: 100%;
}
.form-label-symbol {
    float:right;
}
.col-form-label-sm {
    font-size: 12px;
    font-weight: bold;
}

#loans-mobile-detail .col-form-label-sm {
    font-size: 0.9rem;
    font-weight: bold;
}
#loans-mobile-detail .form-line {
    border-bottom: 1px #d6d2d2 solid;
    height: 60px;
}

#loans-mobile-detail .form-span-label {
    padding-bottom: 0px;
}

#confirmation-audit-list {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
}

.confirm-loan {
    width:50%; 
    position: absolute; 
    left: 0;
    right: 0;
    margin: auto;
    // transform: translateX(-50%);
}
.info-banner{
    font-weight: bold;
    text-transform: uppercase;
}
.info-banner .alert {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.control-group .dropdown-menu{
    overflow-y: scroll!important;
    height: 300px!important;
}
// mobile
.btn-group {
    text-align: center;
    display: flex;
}
.left-btn{
    width: 48%;
    margin-right: 5px;
    float: left;
}
.right-btn{
    width: 51%;
    margin-left: 5px;
    float: right;
}

#loans-mobile-create section{
    height: 600px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    max-width: 100%;
    font-size: 1.00rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;

    border: 1px solid #428bca;
    color: #428bca;
    background-color: #ebf6ff;
    padding: 0px!important;
}

.inputfile + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    color:#ebf6ff;
    background-color:#3d81bb;
    display: inline-block;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile + label span, .inputfile + label strong {
    padding: 0.625rem 1.25rem;
}

@media screen and (max-width: 900px) {
    .confirm-loan {
        width:100%; 
        top: auto;
        left: auto;
    }
}

//outer spinner
.outer-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
}
.outer-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: #428bca;
    animation: spinner 0.7s linear infinite;
}

.outer-spinner h5 {
    font-weight: bold;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -30px;
    z-index: 99;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


.chip-small {
    display: inline-block;
    padding: 0 25px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip-small img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
/* SWITCH */
/* w3 schools */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.divider-vertical {
    // height: 100%;
    margin: 0 4px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

@media only screen and (max-width: 800px){ .divider-vertical {height:0;border-left: 0;border-right: 0;} }


.shadow-border {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #f3f1f1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#products-list-component table {
    width: 100%;
}

#products-list-component .prod-list-img-l {
    height: 140px;
    width: 190px;
}

#account-products-list-compact .prod-list-img-l{
    height: 90px!important;
    width: 110px!important;
}
#accounts-products-list-table .prod-list-img-l {
    height: 30px!important;
    width: 30px!important;
}

#accounts-products-list {
    overflow-x: auto!important; 
}
#account-products-list-tile .prod-list-img-l, #products-catalog-tile .prod-list-img-l {
    min-height: 214px !important;
    max-height: 214px !important;
    width: 220px !important;
}

.products-tile {
    position: relative;
    margin: 0;
    min-height: 100%;

    width: 238px;
    min-height: 500px;
    margin-right: 30px !important;
    margin-bottom: 22px !important;
    background-color: white;
}
.product-tile-thumbnail {
    text-align: center;    
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.price {
    font-size: 20px;
}
.star {
    font-size: 1.5rem;
    color: #ded4b0;
}
.filled {
    color: #ffa71e;
}

.form-span-label input {
    vertical-align: middle;
    margin-bottom: 2px;
}
#users-list-component li:first-child {
    border-top: 1px solid #ccc;
}
#users-list-component li {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#users-list-component .img-circle {
    height: 70px!important;
}

#users-list-component li:nth-of-type(odd){
    background: #fff;
}

#users-list-component li:nth-of-type(even){
    background: #f7f7f7;
}

#location-accordion .card {
    margin-bottom: 5px!important;
}

.toggle-product-view-link i:hover {
    color:  #389a34;
}

.product-image-preview {
    max-height: 850px;
    background-size: cover;
}

// custom
.product-qty-base {
    transition: all 1s ease;
    height: 0;
    visibility: hidden;
}

.product-qty-selected {
    height: 100%;
    visibility: visible;
    transform: translateY(-690px);
}
.product-btn-logs {
    transition: all 1s ease;
    button {
        background-color: #3385ff;
        border: 0;
    }
}
.product-btn-show {
    transform: translateY(-690px);
}
.account-table-base {
    height: 550px;
    max-height: 550px;
    overflow: auto;
}

.main-photo-url {
    height:35px; width: 30px; border: 1px solid #ddd; background-position: center; background-repeat: no-repeat; background-size: cover;
}

::ng-deep [id^=cdk-overlay-] {
    width: fit-content !important;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
    -moz-animation: blink 1s steps(5, start) infinite;
    -o-animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

  .badge-circle {
    display: inline-block;
    width: 10px; /* Adjust the width and height as needed */
    height: 10px;
    border-radius: 50%;
    margin-right: 5px; /* Adjust the margin as needed */
  }

  .active {
    background-color: #e0e0e0; /* Adjust the styling based on your design */
  }