<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div class="product-group-create">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                    {{ title }}
                    <div class="pull-right">
                        <button [disabled]="model.Name.trim().length == 0" type="button" (click)="saveChanges()" class="btn btn-xs btn-success"><i class="fa fa-check-circle fa-lg"></i> Save &nbsp;</button>&nbsp;
         
                        <a   [routerLink]="['/product-groups']" class="pr-3 close-button">
                             <i class="fa fa-times-circle default"></i>
                       </a>  
                    </div>
                </div>
                <div class="card-body flex">
                    <div class="col-sm-12">
                        <div class="form-content">
                            <div [hidden]="true" class="form-group">
                                <span class="form-span-label">Short Code</span>
                                <input tabindex="1" type="text" [(ngModel)]="model.ShortCode" [disabled]=true class="form-control input-underline input-sm" placeholder="(Auto Generated)">
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Name</span>
                                <input autofocus tabindex="1" id="group-name" type="text" [(ngModel)]="model.Name" class="form-control input-underline input-sm" placeholder="Group Name">
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Description Name</span>
                                <input tabindex="2" type="text" [(ngModel)]="model.Description" class="form-control input-underline input-sm" placeholder="Description">
                            </div>
                            <div class="form-group">

                                <span class="form-spam-label">Image <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Suggested file dimensions: 900x600"></i></span>
                                <br/>
                                <img *ngIf="mode == 'create'" [src]="defaultImageSrc" style="height: 150px;border: 1px solid #ddd;cursor: pointer"/>
                                <img *ngIf="model.MainPhotoByteString == undefined && mode == 'edit'" [src]="getImage(model.PhotoUrl)" style="height: 150px;border: 1px solid #ddd;cursor: pointer"/>
                                <img *ngIf="model.MainPhotoByteString != undefined && mode == 'edit'" [src]="model.MainPhotoByteString" style="height: 150px;border: 1px solid #ddd;cursor: pointer"/>
                               
                                <input style="width: 250px;" class="input-sm" #fileUpload type="file" (change)="fileChange($event)"
                                placeholder="Upload file..." accept=".png, .jpg, .jpeg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
