<div class="products-groups" [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header sub-header">
                   Product Groups
                   <div class="pull-right">
                        <a (click)="exportToCSV()"><i class="fa fa-file-excel-o success"></i> Excel Export</a>&nbsp;
                        <a (click)="exportToPDF()"><i class="fa fa-file-pdf-o danger"></i> Print PDF</a>&nbsp;&nbsp; | &nbsp;
                        <a (click)="navigateToCreate()"><i class="fa fa-plus-square primary"></i> Add a new Product Group</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <app-products-groups-list #productsGroupsList></app-products-groups-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
