$topnav-background-color: #fff;
:host {
    .navbar {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 72px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
        .navbar-brand {
            color: #333;
            margin-right: 0px;
            width: 100%;
            display: grid;
        }
        .nav-item > a {
            color: #333;
            &:hover {
                color: #333;
            }
        }
        .navbar-brand > span {
            font-size: 13px;
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .account-app-section {
        // width: 235px;
        background-color: #fff;
        // padding-left: 5px;
        height: 100%;
        // padding-top: 12px;
        // padding-left: 20px;
        //background: url('/assets/images/blue-buildings.jpg') center center no-repeat;
    }
}

.divider-vertical,
.user-cart a {
    vertical-align: middle;
    line-height: 50px;
    padding-right: 5px;
    padding-left: 10px;
    color: #c0c0c0;
}
