<nav class="navbar navbar-expand-lg fixed-top">
    <div class="account-app-section">
        <a class="navbar-brand" href="#">
            <img src="../../../../../assets/images/rp-logo.png" />
            <span class="pt-1" *ngIf="currentUser.role !== 'superadmin'">
                {{currentUser.currentUserRaw.Account.Name}}
            </span>
        </a>
    </div>
    <!-- <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars" style="color:#000" aria-hidden="true"></i>
    </button> -->
    <!-- <div class="pl-lg-5" *ngIf="currentUser.role !== 'superadmin'">
        <h4 class="m-0">{{currentUser.currentUserRaw.Account.Name}}</h4>
    </div> -->
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li [hidden]="true" class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="https://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="https://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="https://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li [hidden]="true" class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li>
            <li *ngIf="currentUser.role === 'superadmin'" class="nav-item" style="display:flex">
                 <a href="javascript:void(0)" class="nav-link">
                    <i class="fa fa-user"></i> {{ currentUser.displayName }}
                </a>
                <a *ngIf="hasSecondaryAdminAccount" href="javascript:void(0)" class="nav-link" (click)="removeSecondaryAccount()">
                    <i class="fa fa-fw fa-times-circle"></i> {{ 'Close Account' | translate }}
                </a>
                <a class="nav-link" [routerLink]="['/login']" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                </a>
            </li>
            <li *ngIf="currentUser.role !== 'superadmin'" class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{ currentUser.displayName }} <small>( {{ currentUser.role | uppercase }} )</small>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <a (click)="editUser()"><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }} </a>
                    </a>

                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
