<ng-container *ngFor="let info of buttonInfo">
    <ng-container [ngSwitch]="info.type">
      <ng-container *ngSwitchCase="'dropdown'">
        <div class="dropdown d-inline w-100">
          <div [innerHTML]="info.content || info.getContent(params)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
          <div class="dropdown-menu">
            <ng-container *ngFor="let item of (info.dropdownItems || info.getDropdownItems(params))">
              <ng-container *ngIf="item.visible != null ? item.visible(params, item) : true">
                <button class="dropdown-item" type="button" (click)="item.onClick(params, item)">
                  {{item.title}}
                </button>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <a class="action-icon w-100 m-1" [innerHTML]="info.content || info.getContent(params)" (click)="info.onClick(params)" *ngIf="info.visible != null ? info.visible(params) : true"></a>
      </ng-container>
    </ng-container>
  </ng-container>
  