<div *ngIf="bookedOrAllProduct == 'product' || bookedOrAllProduct == 'booking'">
  <div style="width: 101mm; height: 36mm; display: flex;" *ngFor="let booking of bookings">
    <div style="height: 36mm; min-width: 30mm; max-width: 30mm; text-align: center; padding-top: 5px;">
      <img [src]="booking.imageSrc" style="height: 70%">
      <br>
      <span style="position: absolute; font-size: 3mm; margin-left: -22px; margin-top: -5px;">{{booking.productNum}}</span>
      <br>
      <img style="position: absolute; margin-left: -24px; margin-top: -6px;"*ngIf="accountId == '54'" src="../../../../../assets/images/eon-label-logo.png" />
    </div>
   
    <div style="min-height: 36mm; max-height: 36mm; min-width: 71.6mm; max-width: 71.6mm; padding-right: 10px; padding-top: 5px; padding-bottom: 0;">
        <div class="" style="font-size: 4mm; margin-top: 6px; width: auto; font-weight: bold; line-height: 1;">{{booking.dstLocation}}{{booking.room ? ' > ' + booking.room : ''}}</div>
        <div class="single-line" style="font-size: 3mm; width: auto; height: auto; line-height: 1; margin-top: 5px;">{{booking.comment}}</div>
        <div>
          <div class="single-line" style="font-size: 2mm">{{booking.name}}</div>
          <div class="d-flex justify-content-between">
            <div class="" style="font-size: 3mm; margin-bottom: 0; min-width: 200px; max-width: 200px; height: auto; line-height: 1;" class="pr-1">{{booking.srcLocation}}</div>
            <div style="font-size: 4mm; margin-bottom: 0; align-self: end; width: auto; font-weight: bold;">{{booking.bookingCount}}</div>
          </div>
        </div>
    </div>
  </div>
</div>

<div *ngIf="bookedOrAllProduct == 'allproduct'">
  <div style="width: 101mm; height: 36mm; display: flex;" *ngFor="let product of products">
    <div style="height: 36mm; min-width: 30mm; max-width: 30mm; text-align: center; padding-top: 5px;">
      <img [src]="product.qrSrc" style="height: 70%">
      <br>
      <span style="position: absolute; font-size: 3mm; margin-left: -22px; margin-top: -5px;">{{product.productNumber}}</span>
      <br>
      <!-- <img style="position: absolute; margin-left: -24px; margin-top: -6px;"*ngIf="accountId == '54'" src="../../../../../assets/images/eon-label-logo.png" /> -->
    </div>
   
    <div style="min-height: 36mm; max-height: 36mm; min-width: 71.6mm; max-width: 71.6mm; padding-right: 10px; padding-top: 5px; padding-bottom: 0;">
        <div class="" style="font-size: 4mm; padding-left: 2px; margin-top: 6px; width: auto; font-weight: bold; line-height: 1;">{{product.productName}}</div>
        <div class="" style="font-size: 4mm; padding-left: 2px; margin-top: 6px; width: auto; font-weight: bold; line-height: 1;">{{product.groupName}}</div>
        <div *ngIf="product.price != 0" class="single-line" style="font-size: 4mm; width: auto; font-weight: bold; line-height: 1; margin-top: 5px; padding-left: 2px;">{{product.price}} SEK</div>
        <div>
          <!-- <div class="single-line" style="font-size: 2mm">{{booking.name}}</div> -->
          <div class="d-flex justify-content-between">
            <div class="" style="font-size: 3mm; margin-bottom: 0; min-width: 200px; max-width: 200px; height: auto; line-height: 1;" class="pr-1"></div>
            <img *ngIf="product.accountLogoSrc !== ''"style="margin-bottom: 0; align-self: end; width: 50px; height: 50px; object-fit: fill;" [src]="product.accountLogoSrc" />
          </div>
        </div>
    </div>
  </div>
</div>
