<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="locations-list-component">
    <div class="card-body px-0">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong># 1</strong>
                            <div class="pull-right">
                                <a *ngIf="isSuperAdmin || isAdmin" (click)="createLocationLevelOne(locationCreateEditLevelOneContent)" #locationLevelOneAdd><i class="fa fa-plus-square primary"></i> <small>Add New Level One Location</small></a>&nbsp;
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="locations-level-one-list-table" class="table table-hover table-bordered table-sm" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" *ngFor="let item of locationLevelOneList" (click)="selectLevelOne(item, $event.target)">
                                        <td style="width:30%">{{ item.Name }}</td>
                                        <td style="width:60%"><small>{{ item.Address }}</small></td>
                                        <td style="width:10%; text-align: center">
                                            <a (click)="editLocationLevelOne(locationCreateEditLevelOneContent, item)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                                            <a (click)="confirmDeleteLocation(locationDeleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                                        </td>
                                    </tr>
                                    <tr *ngIf="locationLevelOneList.length === 0">
                                        <td class="text-center" colspan="3">No Records to Display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!showLevelTwo" class="card-body px-0">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong># 2</strong>
                            <div class="pull-right">
                                <a *ngIf="isSuperAdmin || isAdmin" (click)="createLocationLevelTwo(locationCreateEditLevelTwoContent)" #locationLevelOneAdd><i class="fa fa-plus-square primary"></i> <small>Add New Level Two Location</small></a>&nbsp;
                            </div>
                        </div>
                        <div class="card-body">
                              <table id="locations-level-two-list-table" class="table table-hover table-bordered table-sm" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <!-- <th>Level One</th> -->
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" *ngFor="let item of locationLevelTwoList" (click)="selectLevelTwo(item, $event.target)">
                                        <!-- <td style="width:30%">{{ item.AccountLocationLevelOneName }}</td> -->
                                        <td style="width:30%">{{ item.Name }}</td>
                                        <td style="width:30%"><small>{{ item.Address }}</small></td>
                                        <td style="width:10%; text-align: center">
                                            <a (click)="editLocationLevelTwo(locationCreateEditLevelTwoContent, item)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                                            <a (click)="confirmDeleteLocation(locationDeleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                                        </td>
                                    </tr>
                                    <tr *ngIf="locationLevelTwoList.length === 0">
                                        <td class="text-center" colspan="4">No Records to Display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!showLevelThree" class="card-body px-0">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong># 3</strong>
                            <div class="pull-right">
                                <a *ngIf="isSuperAdmin || isAdmin" (click)="createLocationLevelThree(locationCreateEditLevelThreeContent)" #locationLevelOneAdd><i class="fa fa-plus-square primary"></i> <small>Add New Level Three Location</small></a>&nbsp;
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="locations-level-three-list-table" class="table table-hover table-bordered table-sm" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <!-- <th>Level Two</th> -->
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" *ngFor="let item of locationLevelThreeList" (click)="selectLevelThree(item, $event.target)">
                                        <!-- <td style="width:30%">{{ item.AccountLocationLevelTwoName }}</td> -->
                                        <td style="width:30%">{{ item.Name }}</td>
                                        <td style="width:30%"><small>{{ item.Address }}</small></td>
                                        <td style="width:10%; text-align: center">
                                            <a (click)="editLocationLevelThree(locationCreateEditLevelThreeContent, item)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                                            <a (click)="confirmDeleteLocation(locationDeleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                                        </td>
                                    </tr>
                                    <tr *ngIf="locationLevelThreeList.length === 0">
                                        <td class="text-center" colspan="4">No Records to Display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [hidden]="!showLevelFour" class="card-body px-0">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong># 4</strong>
                            <div class="pull-right">
                                <a *ngIf="isSuperAdmin || isAdmin" (click)="createLocationLevelFour(locationCreateEditLevelFourContent)" #locationLevelOneAdd><i class="fa fa-plus-square primary"></i> <small>Add New Level Four Location</small></a>&nbsp;
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="locations-level-four-list-table" class="table table-hover table-bordered table-sm" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <!-- <th>Level Two</th> -->
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" *ngFor="let item of locationLevelFourList" (click)="selectLevelFour(item, $event.target)">
                                        <td style="width:30%">{{ item.Name }}</td>
                                        <td style="width:30%"><small>{{ item.Address }}</small></td>
                                        <td style="width:10%; text-align: center">
                                            <a (click)="editLocationLevelFour(locationCreateEditLevelFourContent, item)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                                            <a (click)="confirmDeleteLocation(locationDeleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                                        </td>
                                    </tr>
                                    <tr *ngIf="locationLevelFourList.length === 0">
                                        <td class="text-center" colspan="4">No Records to Display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #locationDeleteContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;"> {{ deleteConfirmTitle }}</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <p>Location might be in used. Are you sure you want to delete this Location ?</p>
        <p style="margin-top: 30px;">Note: All locations and and product quantity history under this location will be deleted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteLocation();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #locationCreateEditLevelOneContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Level One</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 px-0">
                <div class="form-group mb-1">
                    <span class="form-span-label">Location Name</span>
                    <input tabindex="7" [(ngModel)]="levelOneModel.Name" type="text" class="form-control input-underline input-sm" id="level-one-name" placeholder="Branch Name / Location Name">
                </div>
                <div class="form-group mb-1">
                    <span class="form-span-label">Description</span>
                    <input  tabindex="8" [(ngModel)]="levelOneModel.Address" type="text" class="form-control input-underline input-sm" id="level-one-address" placeholder="Street, City, Postal, Country">
                </div>
            </div>
        </div>
    </div>
    </div>
     <div class="modal-footer">
        <button type="button" [disabled]="!levelOneModel.Name" class="btn btn-primary" (click)="saveLevelOne();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #locationCreateEditLevelTwoContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Level Two</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group mb-1">
                        <span class="form-span-label">Level One</span>
                        <div class="form-line">
                            <select tabindex="9" [(ngModel)]="levelTwoModel.AccountLocationLevelOneId" (change)="onLevelOneChange($event.target.value)" class="form-control input-sm" style="height:34px">
                                <option *ngFor="let item of locationLevelOneList" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Location Name</span>
                        <input  tabindex="10" [(ngModel)]="levelTwoModel.Name" type="text" class="form-control input-underline input-sm" id="level-two-name" placeholder="Branch Name / Location Name">
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Description</span>
                        <input  tabindex="11" [(ngModel)]="levelTwoModel.Address" type="text" class="form-control input-underline input-sm" id="level-two-address" placeholder="Street, City, Postal, Country">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal-footer">
        <h4 *ngIf="locationLevelTwoList.length == 0  "><span class="badge badge-warning">Note: All products quantity from parent will be move to this new location.</span></h4>
        <button type="button" class="btn btn-primary" [disabled]="!levelTwoModel.Name || !(levelTwoModel.AccountLocationLevelOneId > 0)" (click)="saveLevelTwo();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #locationCreateEditLevelThreeContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Level Three</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group mb-1">
                        <span class="form-span-label">Level Two</span>
                        <div class="form-line">
                            <select tabindex="12" [(ngModel)]="levelThreeModel.AccountLocationLevelTwoId" (change)="onLevelTwoChange($event.target.value)" class="form-control input-sm" style="height:34px">
                                <option *ngFor="let item of locationLevelTwoList" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Location Name</span>
                        <input  tabindex="13" [(ngModel)]="levelThreeModel.Name" type="text" class="form-control input-underline input-sm" id="level-three-name" placeholder="Branch Name / Location Name">
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Description</span>
                        <input  tabindex="14" [(ngModel)]="levelThreeModel.Address" type="text" class="form-control input-underline input-sm" id="level-three-address" placeholder="Street, City, Postal, Country">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal-footer">
        <h4 *ngIf="locationLevelThreeList.length == 0 && showMoveQtyNote"><span class="badge badge-warning">Note: All products quantity from parent will be move to this new location.</span></h4>
        <button type="button" class="btn btn-primary" [disabled]="!levelThreeModel.Name || !(levelThreeModel.AccountLocationLevelTwoId > 0)" (click)="saveLevelThree();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>

<ng-template #locationCreateEditLevelFourContent let-c="close" let-d="dismiss">
    <div class="modal-header d-flex justify-content-center align-items-center">
        <h4 class="modal-title" style="font-size:16px;">Level Four</h4>
        <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 px-0">
                    <div class="form-group mb-1">
                        <span class="form-span-label">Level Three</span>
                        <div class="form-line">
                            <select tabindex="12" [(ngModel)]="levelFourModel.AccountLocationLevelThreeId" (change)="onLevelThreeChange($event.target.value)" class="form-control input-sm" style="height:34px">
                                <option *ngFor="let item of locationLevelThreeList" [value]="item.Id">
                                    {{ item.Name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Location Name</span>
                        <input  tabindex="13" [(ngModel)]="levelFourModel.Name" type="text" class="form-control input-underline input-sm" id="level-four-name" placeholder="Branch Name / Location Name">
                    </div>
                    <div class="form-group mb-1">
                        <span class="form-span-label">Description</span>
                        <input  tabindex="14" [(ngModel)]="levelFourModel.Address" type="text" class="form-control input-underline input-sm" id="level-four-address" placeholder="Street, City, Postal, Country">
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="modal-footer">
        <h4 *ngIf="locationLevelFourList.length == 0 && showMoveQtyNote"><span class="badge badge-warning">Note: All products quantity from parent will be move to this new location.</span></h4>
        <button type="button" class="btn btn-primary" [disabled]="!levelFourModel.Name || !(levelFourModel.AccountLocationLevelThreeId > 0)" (click)="saveLevelFour();c('Close click')">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>
