<nav *ngIf="isSuperAdmin || isAdmin || isEditor()" class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <!-- <a *ngIf="isSuperAdmin && !withSuperAccess" routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a> -->
        <button *ngIf="!isSuperAdmin" class="navbar-toggler" type="button" (click)="toggleSidebar()">
            <i class="fa fa-2x fa-chevron-circle-left pull-left" style="color:#000" aria-hidden="true"></i>
        </button>
        <div *ngIf="isSuperAdmin && !withSuperAccess" class="nested-menu">
            <a  class="list-group-item" [routerLinkActive]="['router-link-active']" (click)="addExpandClass('administration')">
                <span><i class="fa fa-cogs"></i>&nbsp;{{ 'Administration' | translate }} <b class="caret"></b></span>
            </a>

            <li class="nested" [class.expand]="showMenu === 'administration'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/dashboard']"><span><i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/accounts']"><span><i class="fa fa-university"></i>&nbsp;{{ 'Accounts' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/product-groups']"><span><i class="fa fa-cubes"></i>&nbsp;{{ 'Product Groups' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/product-manufacturers']"><span><i class="fa fa-home"></i>&nbsp;{{ 'Manufacturer' | translate }}</span></a>
                    </li>
                     <li>
                        <a [routerLink]="['/product-color-materials']"><span><i class="fa fa-adjust"></i>&nbsp;&nbsp;{{ 'Colors / Materials' | translate }}</span></a>
                    </li>
                     <!-- <li>
                        <a [routerLink]="['/product-models']"><span><i class="fa fa-star"></i>&nbsp;{{ 'Product Models' | translate }}</span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/products']"><span><i class="fa fa-cube"></i>&nbsp;{{ 'Products' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/log', 'quantity', accountId]"><span><i class="fa fa-cubes"></i>&nbsp;{{ 'Quantity Log' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <!-- <div *ngIf="!isSuperAdmin || withSuperAccess">
            <a [routerLink]="['/accounts/' + accountId + '/edit/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-cogs"></i>&nbsp;{{ 'Administration' | translate }}
            </a>
        </div> -->

        <div *ngIf="isAdmin || isEditor()" class="nested-menu">
            <a  *ngIf="!isEditor()"  class="list-group-item" [routerLinkActive]="['router-link-active']" [routerLink]="['/accounts/' + accountId + '/edit/users']">
                <span><i class="fa fa-cogs"></i>&nbsp;{{ 'Administration' | translate }} <b class="caret"></b></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'administration'">
                 <ul class="submenu">
                    <li>
                        <a [routerLink]="['/dashboard']"><span><i class="fa fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}</span></a>
                    </li>

                    <li>
                        <a [routerLink]="['/account/' + accountId + '/products']" [routerLinkActive]="['router-link-active']"><span><i class="fa fa-cube"></i>&nbsp;{{ 'Products' | translate }}</span></a>
                    </li>

                    <li *ngIf="currentUser.role !== 'viewer'">
                        <a [routerLink]="['/log', 'quantity', accountId]"><span><i class="fa fa-cubes"></i>&nbsp;{{ 'Quantity Log' | translate }}</span></a>
                    </li>
                 </ul>
            </li>
        </div>
    </div>
</nav>
