@media screen and (max-width: 992px) {
    .push-right {
        .sidebar {
            left: 235px !important;
        }
    }
}

.push-right {
    .sidebar {
        left: 235px !important;
    }
     .main-container {
        margin-left: 195px !important;
    }
}

.push-left {
    .sidebar {
        left: 0px !important;
    }
    .main-container {
        margin-left: 0px !important;
    }
}