.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%); /* Standard syntax */
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    height: 100%;
    width: 100%;
    background-color: white;
    > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// new spinner
.spinner-1 {
    z-index: 99;
}
.spinner-1:before {
    content: "";
    z-index: 99;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: #3fad3a;
    animation: spinner 0.7s linear infinite;
}

.spinner-1 h5 {
    font-weight: bold;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -30px;
    z-index: 9;
}

#modalPreviewImage .spinner-1 h5 {
    display: none;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
