/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.toast-generating {
    background-image: unset !important; 

    .toast-message {
        font-size: 15px !important;
        span {
            font-size: 18px !important;
        }
    }
}

.expand-image {
    position: absolute;
    background: white;
    padding: 1px 6px;
    color: black;
    opacity: 0.5; 
    font-size: 17px;  
    border-radius: 100px;
    top: 10px;
    left: 24px;
}

/*VIDEO BACKGROUND*/
.video-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  
    #video {
      max-height: 100%;
      max-width: 100%;
      display: block;
    }
  }


ngb-modal-window.fit-content {
    .modal-dialog {
        max-width: unset;
        width: unset;
        display: flex;
        justify-content: center;

        .modal-content {
            width: unset;
        }
    }
}
.cart-navigation .navigation-close  {
    top: 26px !important;
    right: 20px !important;

    i {
    font-size: 3em !important;
    }    
}

a > .fa-pencil {
  color:#ffc107;
}

a > .fa-trash {
    color: #d9534f;
}

.delete-main-image {
    position: absolute;
    right: 25px;
    top: 10px; 
    font-size: 17px; 
    background: white;
    border-radius: 26px; 
    padding: 1px 6px;
    opacity: .5;

    .fa-trash {
        color: #d9534f !important;
    }
    
}

.close-button {
    vertical-align: middle;
    
   i.fa-times-circle{
    font-size:32px; 
    margin-top:3px;
   }
}

.cstm-scrollbar {
    overflow: scroll !important;
  }
  .cstm-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .cstm-scrollbar-no-x::-webkit-scrollbar {
    height: 0;
  }
  .cstm-scrollbar-no-y::-webkit-scrollbar {
    width: 0;
  }
  .cstm-scrollbar::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  .cstm-scrollbar::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 8px;
  }
  .cstm-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }