<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div class="color-material-create">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                   {{ title }}
                   <div class="pull-right">
                        <button type="button" [disabled]="model.Name.trim().length == 0" (click)="saveChanges()" class="btn btn-xs btn-success"><i class="fa fa-check-circle fa-lg"></i> Save &nbsp;</button>&nbsp; 
                        <a   [routerLink]="['/product-color-materials']" class="pr-3 close-button">
                            <i class="fa fa-times-circle default"></i>
                        </a>  
                    </div>
                </div>
                <div class="card-body flex">
                    <div class="col-sm-12">
                        <div class="form-content">
                            <div [hidden]="true" class="form-group">
                                <span class="form-span-label">Short Code</span>
                                <input tabindex="1" type="text" [(ngModel)]="model.ShortCode" [disabled]=true class="form-control input-underline input-sm" placeholder="(Auto Generated)">
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Name</span>
                                <input autofocus tabindex="1" id="color-mat-name" type="text" [(ngModel)]="model.Name" class="form-control input-underline input-sm" placeholder="Color / Material Name">
                            </div>
                            <div class="form-group">
                                <span class="form-span-label">Description Name</span>
                                <input tabindex="2" type="text" [(ngModel)]="model.Description" class="form-control input-underline input-sm" placeholder="Descriptionin">
                            </div>
                     
                            <div class="custom-control custom-switch">
                                <input type="checkbox" [(ngModel)]="model.IsImage" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Switch to image</label> </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" [(ngModel)]="model.ExcludeFromMobile" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Exclude in mobile</label>
                            </div>
                        
                            <div class="form-group" *ngIf="!model.IsImage">
                                <span class="form-span-label">Color</span>
                                <input tabindex="2" type="color" [(ngModel)]="model.HexValue" class="form-control input-underline input-sm" placeholder="Color">
                            </div>
                            <div class="form-group" *ngIf="model.IsImage">
                                <span class="form-span-label">Image </span>
                                <div class="form-line">
                                    <img [src]="photoSrc" style="height: 150px;width: 195px;" class="img-fluid img-rounded img-thumbnail" #imagePreview />
                                </div>
                                 <input class="input-sm" #fileUpload type="file" (change)="fileChange($event)"
                                        placeholder="Upload file..." accept=".png, .jpg, .jpeg" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
