<div class="products-color-materials" [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header sub-header">
                   Colors / Materials
                   <div class="pull-right">
                        <a (click)="exportToCSV()"><i class="fa fa-file-excel-o success"></i> Excel Export</a>&nbsp;
                        <a (click)="exportToPDF()"><i class="fa fa-file-pdf-o danger"></i> Print PDF</a>&nbsp;&nbsp; | &nbsp;
                       <a (click)="navigateToCreate()"><i style="color:#007bff" class="fa fa-plus-square"></i> Add a new Color / Material</a>&nbsp;
                   </div>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <app-products-color-materials-list #productsColorMaterialsList></app-products-color-materials-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
