.card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    background:white !important;
    .card-header{
        .row {
            height: 60px;
        } 
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}   