<div class="card bg-{{bgClass}}">
    <div class="card-header">
        <div class="row flex-center"> 
            <div class="col-xs-9">
                <div style="font-size: 25px!important; font-weight:bold!important;" class="d-block huge {{fontClass}}">{{count}}</div>
                <div class="d-block {{fontClass}}">{{label}}</div>
            </div>
            <div class="col-xs-3 text-right flex-center">
                <i class="fa {{icon}} {{fontClass}} fa-3x"></i>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer">
        <span class="float-left">View Details {{data}}</span>
        <a href="javascript:void(0)" class="float-right card-inverse">
            <span ><i class="fa fa-arrow-circle-right"></i></span>
        </a>
    </div> -->
</div>
