<div [hidden]="!showSpinner" class="outer-spinner">
   <h5>Loading</h5>
</div>
<div class="login-page">
    <div class="limiter">
        <div class="container-login100">
			<div class="wrap-login100">
				<form autocomplete="off" (ngSubmit)="onLoggedin()" #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-100">
					<span class="login100-form-title">
						<!-- Sign In -->
                        <img src="../../assets/images/rp-logo.png" />
					</span>
					<div class="wrap-input100 validate-input m-b-15" data-validate="Please enter username">
						<input autocomplete="off" class="input100" [(ngModel)]="model.UserName" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Please enter password">
						<input autocomplete="off" class="input100" [(ngModel)]="model.Password" type="password" name="pass" autocomplete="new-password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					<div class="text-right p-t-13 p-b-23">
						<span class="txt1">
							Forgot
						</span>
						<a [routerLink]="['/forgot-password']" class="txt2">
							Username / Password?
						</a>
					</div>
					<div class="container-login100-form-btn p-b-40">
						<button [disabled]="!model.UserName || !model.Password" class="login100-form-btn" type="submit">
							Sign in
						</button>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>