<div id="error-logs-list-component">
    <table class="table table-bordered table-sm">
        <thead>
        <tr class="bg-danger text-white">
            <th>Account Name</th>
            <th>Short Description</th>
            <th>Error Date</th>
        </tr>
        </thead>
        <tbody>
            <tr class="danger" *ngFor="let item of packageData | async  | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }">
                <td>{{ item.Account != null ? item.Account.Name : "N / A" }}</td>
                <td>{{ item.ShortDescription }}</td>
                <td>{{ item.CreatedDate | date : 'yyyy-MM-dd HH:mm:ss' }}</td> 
            </tr>
        </tbody>
    </table>
</div>