<nav class="navbar navbar-expand-lg fixed-top">
    <div class="account-app-section">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/rp-logo.png" />
            <span></span> 
        </a>
    </div>
    <button class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars" style="color:#fff" aria-hidden="true"></i>
    </button>
</nav>
<div class="main-container-public">
    <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <div class="card-header sub-header">
                        <div class="pull-left">
                            Products
                        </div>
                    </div>
                    <div class="card-body table-responsive" style="height: 700px; overflow-y: scroll">
                        <div id="products-catalog-tile" [@componentsTransition]>
                            <div class="list-group">
                                <ol style="direction:LTR; list-style: none;" class="ml-0 pl-0">
                                    <li class="col-sm-2 products-tile mb-3 mx-3 shadow-border p-3 pull-left" style="width:auto!important;margin-right:auto!important;min-width: 238px!important;" *ngFor="let item of packageData | async">
                                        <div class="product-tile-thumbnail">
                                            <img class="prod-list-img-l p-1" [src]="item.MainPhotoUrl">
                                        </div>
                                        <div class="product-tile-content">
                                            <strong>{{ item.ProductName }}</strong> <strong class="badge badge-info" *ngIf="item.AccountName">{{ item.AccountName }}</strong> <br />
                                            <small>{{ item.GroupName }} from {{ item.ManufacturerName }}</small><br />
                                            <small>{{ item.ProductNumber }}</small><br />
                                            <a (click)="navigateToEdit(item.Id)"><i class="fa fa-caret-right" style="color:red"></i> Läs mer</a>
                                        </div>
                                    </li>
                                </ol>
                                <div *ngIf="productCount === 0" class="col-sm-12" style="text-align: center; top:200px!important">
                                    <span>
                                        <i class="fa fa-times-circle fa-5x"></i>
                                    </span>
                                    <h4>No Records to Display</h4><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
    </div>
</div>

<!-- @TODO : Transfer to another component -->
<!-- <ng-template #addCartFormContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="font-size:16px;">{{ model.ProductName }} - {{ model.ProductNumber }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-12 flex pl-2 pr-2">
            <div class="col-sm-8 pr-4">
                <div class="row">
                    <span>PRICE : <strong>{{ accountProductModel.Price | number : '1.2-2' }} KR</strong> <small class="default"> ({{ accountProductModel.QuantityOnStock }})</small></span>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Quantity</span>
                            <input type="number" [(ngModel)]="cartModel.Quantity" (change)="cartQuantityChange()" class="form-control input-sm" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" style="width:100%">
                        <div class="form-line">
                            <span class="form-span-label">Shipping Address</span>
                            <input type="text" [(ngModel)]="cartModel.ShippingAddress" class="form-control input-sm"  placeholder="Bldg #, Address, City, Region, Country">
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-vertical"></div>
            <div class="col-sm-4 pl-4">
                <div class="row">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Tax / VAT</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                        <div class="form-line">
                            <span class="form-span-label pb-0">Discount</span>
                            <strong class="pb-0">0.00 Kr</strong>
                        </div>
                    </div>
                    <br />
                     <div class="form-group">
                        
                    </div>
                </div>
                <div class="row" style="position: absolute;bottom: 0;">
                    <div class="form-group">
                        <div class="form-line">
                            <span class="form-span-label pb-0">Total Price</span>
                            <h3 class="pb-0"><strong>{{ cartModel.TotalPrice | number : '1.2-2'}} Kr</strong></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!cartModel.Quantity || !cartModel.ShippingAddress" class="btn btn-success" (click)="saveProductToAccount();c('Close click')">Add to Cart</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template> -->