<nav class="navbar navbar-expand-lg fixed-top navbar-center">
    <div class="account-app-section">
        <a class="navbar-brand" [href]="model.AddedFromMobile ? 'https://www.rp.se' : '#'">
            <img src="../../../assets/images/rp-logo.png" />
            <span></span> 
        </a>
    </div>
    <button class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars" style="color:#fff" aria-hidden="true"></i>
    </button>
</nav>
<div class="main-container-public" id="products-public-details" [@componentsTransition]>
    <div class="row" *ngIf="!model.AddedFromMobile">       
        <div class="col-md-12"> 
            <div>
                <div>
                    <div class="product-image mt-5">
                        <div class="col-md-4">
                            <img 
                                src="{{ photoSrc }}" 
                                id="imagePreview"  class="img img-fluid img-rounded p-2 product-image"/><br />
                        </div>
                    </div>
                    <div class="product-detail-information">
                        <div class="col-md-6">
                            <div class="product-primary" *ngIf="!isProductNameEqualToGroup()">
                                <h1>{{ model.ProductName }}</h1>
                            </div>
                            <div class="product-primary" *ngIf="isProductNameEqualToGroup()">
                                <h1>{{ model.GroupName }} from {{ model.ManufacturerName }}</h1>
                            </div>
                            <div class="product-secondary" *ngIf="!isProductNameEqualToGroup()">
                                <h4>{{ model.GroupName }} from {{ model.ManufacturerName }}</h4>
                            </div>
                            <div class="product-table-detail pt-4">
                                <span>{{ model.Description }}</span>
                            </div>
                            <div class="product-detail pt-4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left;">Color</td><td>{{ model.ColorMaterialName }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Height</td>
                                            <td>{{ model.Height }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Width</td>
                                            <td>{{ model.Width }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Depth</td>
                                            <td>{{ model.Length }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Article</td>
                                            <td>{{ model.ProductNumber }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="model.AddedFromMobile">       
        <div class="col-md-12"> 
            <div>
                <div>
                    <div class="product-image mt-5">
                        <div class="col-md-4">
                            <img 
                                src="{{ photoSrc }}" 
                                id="imagePreview"  class="img img-fluid img-rounded p-2 product-image"/><br />
                        </div>
                    </div>
                    <div class="product-detail-information">
                        <div class="col-md-6">
                            <div class="product-primary">
                                <h1>{{ model.GroupName }} from {{ model.ManufacturerName }}</h1>
                            </div>
                            <div class="product-table-detail pt-4">
                                <span>{{ model.Description }}</span>
                            </div>
                            <div class="product-detail pt-4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left;">Color</td><td>{{ model.ColorMaterialName }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Height</td>
                                            <td>{{ model.Height }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Width</td>
                                            <td>{{ model.Width }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Depth</td>
                                            <td>{{ model.Length }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left;">Article</td>
                                            <td>{{ model.ProductNumber }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  