    @media screen and (max-width: 768px) {
    .product-image, .product-detail-information{
        text-align: center;
    }
    .navbar::before, .navbar::after{
        content: none;
    }

    .navbar-center{
        padding-left: 34% !important;
    }
  }