// shared css for the login and signup page
@import "../login/login.component.scss";
.breadcrumb h5 {
    vertical-align: middle;
    line-height: 37px;
    padding-right: 15px;
    padding-bottom: 0px!important;
    margin-bottom: 0px;
}