<!-- <div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div> -->
<div id="users-active-list-component">
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr class="bg-success text-white">
            <th>Account Name</th>
            <th>Username</th>
            <th>Last Login</th>
            <th [hidden]="!isAdminOrUserEditor" style="text-align:center">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr [hidden]="totalItems > 0">
                <td colspan="9" style="text-align: center;">
                    No Records to show
                </td>
            </tr>
            <tr *ngFor="let item of packageData | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }"  
                style="cursor:pointer" (click)="editAccountUser(item.Account.Id)">
                <td>{{ item.Account.Name }}</td>
                <td>{{ item.UserName }} </td>
                <td>2018-01-01 14:02:06</td>
                <td [hidden]="!isAdminOrUserEditor" style="text-align:center">
                    <a (click)="editUser(item.Id)"><i style="color:#ffc107" class="fa fa-pencil"></i></a> &nbsp;
                    <a (click)="editUserRoleModules(item.Id)"><i style="color:#343a40" class="fa fa-gear"></i></a> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>

