<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div id="users-list-component">
    <div class="list-group">
        <div *ngIf="totalItems === 0"  class="col-sm-12" style="text-align: center;">
        <span>
            <i class="fa fa-times-circle fa-5x"></i>
        </span>
        <h4>No Records to Display</h4><br />
        </div>

        <div class="px-3 py-1" style="display: flex;border-bottom: 1px solid rgba(0, 0, 0, 0.125)" *ngFor="let item of packageData | async">
            <div class="col-sm-12 px-0 mx-0">
                <div class="col-sm-10">
                    <strong>{{ item.FirstName }} {{ item.LastName }}</strong>&nbsp;<strong data-html="true" [title]="item.Role.Details" style="cursor: pointer;" class="badge" [ngClass]="(item.Role.Name == 'admin') ? 'badge-primary':'badge-info'">{{ item.Role.Description }}</strong> <br />
                    <small><b *ngIf="item.Role.Name ==='admin' || item.Role.Name ==='superadmin'">{{ item.UserName }} | </b><b>{{ item.EmailAddress }}</b> | {{ item.PhoneNumber ? item.PhoneNumber : 'N / A' }}</small> <br />
                    <small><i class="fa fa-clock-o"></i> Last login date : {{ item.LastLoginDateTime === '0001-01-01T00:00:00' ? 'N / A' : item.LastLoginDateTime | date : 'MM-dd-yyyy h:mm a' }}</small>
                </div>
                <div class="col-sm-2">
                    <!-- <a *ngIf="!item.Resending" (click)="resendCreateUserConfirmation(item)"><i class="fa fa-envelope info"></i> &nbsp;</a> -->
                    <!-- <i *ngIf="item.Resending" class="fa fa-spinner fa-spin"></i> -->
                    <a (click)="editUser(item.Id)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                    <a *ngIf="item.Role.Id !== 1" (click)="confirmDeleteUser(deleteUserContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                </div>
            </div>
        </div>
    </div>
    <!-- <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
        <tr>
            <th *ngIf="!isAdmin">Account Name</th>
            <th>Name</th>
            <th>Username</th>
            <th>Last Login</th>
            <th style="text-align:center;width:10%">Action</th>
        </tr>
        </thead>
        <tbody>
            <tr [hidden]="totalItems > 0">
                <td colspan="9" style="text-align: center;">
                    No Records to show
                </td>
            </tr>
            <tr *ngFor="let item of packageData | async  | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage, totalItems: totalItems }"  
                style="cursor:pointer">
                <td *ngIf="!isAdmin" (click)="editAccountUser(item.Account.Id)">{{ item.Account.Name }}</td>
                <td (click)="editAccountUser(item.Account.Id)">{{ item.FirstName }} {{ item.LastName }}</td>
                <td (click)="editAccountUser(item.Account.Id)">{{ item.UserName }} </td>
                <td (click)="editAccountUser(item.Account.Id)">2018-01-01 14:02:06</td>
                <td style="text-align:center;width:10%">
                    <button *ngIf="isSuperAdmin" type="button" (click)="confirmLoginAsUser(content, item.Id)" placement="left" 
                    ngbPopover="Log as {{ item.UserName }}" triggers="mouseenter:mouseleave" popoverTitle="Information"
                    class="btn btn-sm btn-default" ><i class="fa fa-lock"></i></button>
                    <a *ngIf="isAdmin" (click)="editUser(item.Id)"><i style="color:#ffc107" class="fa fa-pencil"></i> &nbsp;</a>
                    <a *ngIf="isAdmin" (click)="editUserRoleModules(item.Id)"><i style="color:#343a40" class="fa fa-gear"></i> &nbsp;</a>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>

<ng-template #deleteUserContent let-c="close" let-d="dismiss">
        <div class="modal-header d-flex justify-content-center align-items-center ">
            <h4 class="modal-title" style="font-size:16px;">Confirmation</h4>
            <a type="button" class="close close-button" aria-label="Close" (click)="d('Cross click')"> 
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </a>    
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this user?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="deleteUser();c('Close click')">Yes</button>
            <button type="button" class="btn btn-default" (click)="c('Close click')">No</button>
        </div>
    </ng-template>
