<div [hidden]="!showSpinner" class="outer-spinner">
   <h5>Loading</h5>
</div>
<div class="login-page">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="my-1 py-1 jumbotron">
                        <small style="color: #c00;"><b>{{status}}</b></small>
                    </div>
                    <form name="form" (ngSubmit)="onSubmitForgotPassword()" autocomplete="off" #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-100">
                        <h3>RESET PASSWORD</h3>
                        <span class="login100-form-title">
                            <img src="../../assets/images/rp-logo.png" />
                        </span>
                        <div class="wrap-input100 validate-input m-b-15" data-validate="Please enter username">
                            <input autocomplete="off" class="input100" [(ngModel)]="model.UserName" type="text" name="username" placeholder="Username" required>
                            <span class="focus-input100"></span>
                        </div>
                        <!-- <div class="wrap-input100 validate-input" data-validate = "Please enter email address">
                            <input autocomplete="off" class="input100" email #EmailAddress="ngModel" name="EmailAddress" [(ngModel)]="model.EmailAddress" placeholder="Email Address" required>
                            <span class="focus-input100"></span>
                        </div> -->

                        <div class="container-login100-form-btn p-b-15 p-t-10">
                            <button  
                                [disabled]="!model.UserName" class="login100-form-btn" 
                                [ngClass]="(!model.UserName) ? 'disabled' : ''" type="submit">
                                Send
                            </button>
                        </div>
                        <div class="text-right p-t-13 p-b-10">
                            <span class="txt1">
                                Back to
                            </span>
                            <a [routerLink]="['/login']" class="txt2">
                                Login?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
