<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>

<div class="row" style="height: 80vh"> 
        <ag-grid-angular style="width: 100%; height: calc(100%);" class="ag-theme-balham" multiSortKey="ctrl"
            [rowData]="packageData | async" [enableCellChangeFlash]="true" [enableBrowserTooltips]="true"
            [pagination]="false" [singleClickEdit]="true" [columnDefs]="colDef" [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
</div>
<!-- 
<div id="products-groups-list">
    <table class="table table-hover table-striped table-bordered table-sm" style="width: 100%;">
        <thead>
            <tr style="cursor: pointer;">
                <th (click)="sort('CompanyName')">Company Name
                    <div class="pull-right">
                        <span *ngIf="key !='CompanyName'" class="fa fa-sort fa-lg"></span>
                        <span *ngIf="key =='CompanyName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th (click)="sort('ContactName')">Contact
                    <div class="pull-right">
                        <span *ngIf="key !='ContactName'" class="fa fa-sort fa-lg"></span>
                        <span *ngIf="key =='ContactName'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th (click)="sort('Address')">Full Address
                    <div class="pull-right">
                        <span *ngIf="key !='Address'" class="fa fa-sort fa-lg"></span>
                        <span *ngIf="key =='Address'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th (click)="sort('Phone')">Phone / Fax
                    <div class="pull-right">
                        <span *ngIf="key !='Phone'" class="fa fa-sort fa-lg"></span>
                        <span *ngIf="key =='Phone'" [ngClass]="reverse === true ? 'fa fa-sort-asc fa-lg success' : 'fa fa-sort-desc fa-lg success'"></span>
                    </div>
                </th>
                <th class="center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="editManufacturer(item.Id)" *ngFor="let item of packageData | async | orderBy: key : reverse">
                <td>{{ item.CompanyName }} </td>
                <td>{{ item.ContactName }} <small>{{ item.ContactTitle }}</small></td>
                <td>{{ item.Address }} <small>{{ item.City }} {{ item.PostalCode }}</small> </td>
                <td>{{ item.Phone }} {{ item.Fax }} </td>
                 <td class="center">
                    <a (click)="editManufacturer(item.Id)"><i class="fa fa-pencil warning"></i></a> &nbsp;
                    <a (click)="confirmManufacturerDelete(deleteContent, item)"><i class="fa fa-trash danger"></i></a> &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<ng-template #deleteContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" style="font-size:16px;">Delete Manufacturer</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete this Manufacturer?</p>
    </div> 
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteManufacturer();c('Close click');">Yes</button>
        <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>