<div [hidden]="!showSpinner">
    <app-spinner></app-spinner>
</div>
<div class="manufacturer-create">
    <div class="row">
        <div class="col-md-12"> 
            <div class="card mb-3">
                <div class="card-header">
                   {{ title }}
                   <div class="pull-right">
                        <button type="button" [disabled]="model?.CompanyName?.trim().length == 0" (click)="saveChanges()" class="btn btn-xs btn-success"><i class="fa fa-check-circle fa-lg"></i> Save &nbsp;</button>&nbsp;
 
                        <a   [routerLink]="['/product-manufacturers']" class="pr-3 close-button">
                            <i class="fa fa-times-circle default"></i>
                        </a>  
                    </div>
                </div>
                <div class="card-body flex">
                    <div class="col-sm-6">
                            <div class="form-content">
                                <div [hidden]="true" class="form-group">
                                    <span class="form-span-label">Short Code</span>
                                    <input tabindex="1" type="text" [(ngModel)]="model.ShortCode" [disabled]=true class="form-control input-underline input-sm" placeholder="(Auto Generated)">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Company Name</span>
                                    <input autofocus tabindex="1" id="company-name" type="text" [(ngModel)]="model.CompanyName" class="form-control input-underline input-sm" placeholder="Company Name">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Contact Name</span>
                                    <input tabindex="3" type="text" [(ngModel)]="model.ContactName" class="form-control input-underline input-sm" placeholder="Contact  Name">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Contact Title</span>
                                    <input tabindex="5" type="text" [(ngModel)]="model.ContactTitle" class="form-control input-underline input-sm" placeholder="Contact Title">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Email Address</span>
                                    <input tabindex="7" type="text" [(ngModel)]="model.EmailAddress" class="form-control input-underline input-sm" placeholder="Email Address">
                                </div>
                            </div>    
                    </div>
                    <div class="col-sm-6">
                            <div class="form-content">
                                <div class="form-group">
                                    <span class="form-span-label">Address</span>
                                    <input tabindex="2" type="text" [(ngModel)]="model.Address" class="form-control input-underline input-sm" placeholder="Address">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">City</span>
                                    <input tabindex="4" type="text" [(ngModel)]="model.City" class="form-control input-underline input-sm" placeholder="City">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Postal Code</span>
                                    <input tabindex="6" type="text" [(ngModel)]="model.PostalCode" class="form-control input-underline input-sm" placeholder="Postal Code">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Phone</span>
                                    <input tabindex="8" type="text" [(ngModel)]="model.Phone" class="form-control input-underline input-sm" placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <span class="form-span-label">Fax</span>
                                    <input tabindex="10" type="text" [(ngModel)]="model.Fax" class="form-control input-underline input-sm" placeholder="Fax">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
