

<div *ngIf="showSpinner" class="outer-spinner">
  <h5>Loading</h5>
</div>
<div class="login-page">
       <div class="limiter">
           <div class="container-login100">
               <div class="wrap-login100">
                   
                  <form [formGroup]="formGroup" (ngSubmit)="submit()" class="login100-form validate-form p-l-55 p-r-55 p-t-100">
                    <h3>RESET PASSWORD</h3>
                    <span class="login100-form-title">
                        <img src="../../assets/images/rp-logo.png" />
                    </span>
                    <div class="row">

                      <div class="wrap-input100 validate-input m-b-15" data-validate="Please enter username">
                        <input autofocus tabindex="1" class="input100" type="password" formControlName="newPassword" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                    <span *ngIf="!formGroup.get('newPassword').valid && (formGroup.get('newPassword').touched || formGroup.get('newPassword').dirty)" class="danger">
                      Password is Required
                    </span>
                      
                      <div class="wrap-input100 validate-input m-b-15" data-validate="Please enter password">
                        <input tabindex="2" type="password" formControlName="confirmNewPassword" class="input100" placeholder="Confirm New Password">
                        <span class="focus-input100"></span>
                      </div>
                      <span *ngIf="!formGroup.get('confirmNewPassword').valid && (formGroup.get('confirmNewPassword').touched || formGroup.get('confirmNewPassword').dirty)" class="danger">
                        Confirm Password is Required
                      </span>
                    </div>
                    <input tabindex="3" type="hidden" formControlName="userId" placeholder="userid">
                    <div class="container-login100-form-btn p-b-15 p-t-10">
                      <button  
                          [disabled]="!isValid || isSubmitting" class="login100-form-btn" 
                          [ngClass]="(!isValid) ? 'disabled' : ''" type="submit">
                          <i *ngIf="isSubmitting" class="fa fa-spin fa-spinner"></i> Update Password
                      </button>
                    </div>
                     <br/>

                    <div *ngIf="!isValid" class="alert alert-danger pad-y-5 mt-2">
                        <span *ngFor="let error of errors">{{error}}<br/></span>
                    </div>
                  </form>
               </div>
           </div>
       </div>
</div>

